/* File Uploader Styles  */

.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff !important;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  height: 180px;
  width: 180px;
  min-height: 150px;
  max-height: 210px;
  min-width: 150px;
  max-width: 210px;
  -webkit-justify-content: center;
  justify-content: center;
  border: 2px dashed #e6e9f3;
  outline-offset: 5px;
  font-size: 8px;
  border-radius: 50%;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader i {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}

.uploader img {
  left: 50%;
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
  z-index: 9;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  min-height: 150px;
  max-height: 210px;
  left: 50%;
  right: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  min-width: 150px;
  max-width: 210px;
  border: 3px dashed #69a9f2;
}

.frame {
  position: relative;
  margin: 20px auto;
  width: 350px;
  padding-bottom: 0%;
  background-color: white;
  border: 2px solid #646464;
  height: 232px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 22px;
    left: -2px;
    border: 1px solid #fff;
    height: 184px;
    width: 355px;
    border-radius: 0%;
    background: #fff;
  }
  &::after {
    content: '';
    position: absolute;
    top: -30px;
    left: 22px;
    border: 1px solid #fff;
    height: 260px;
    width: 299px;
    border-radius: 0%;
    background: #fff;
  }
}

.button-content {
  justify-content: space-evenly;
  display: flex;
  align-items: baseline;
  margin-top: 20px;

  a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #3c4b9b26;
    border: 2px solid #69a9f2;
    opacity: 1;
    color: #69a9f2;
    text-align: center;
    padding: 8%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.buttons-confirm-delete {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  margin-top: 20px;

  a {
    color: #69a9f2;
    text-align: center;
    cursor: pointer;
  }
}
