<div class="main">
    <div class="content">
        <h1 class="header">
            What are those teaching days?
        </h1>
        <div class="school-terms-question">
            <!-- <edu-terms [terms]="6" [active]="(calendarData | async).schoolTerms" (toggleActive)="onToggleActive($event)"></edu-terms> -->
        </div>
    </div>

    <div class="teaching-days__btn-container button--bottom">
        <button class="teaching-days__continue-btn" (click)="goNext()">
        Continue
      </button>
    </div>
</div>