<ul>
  <li *ngIf="logoSet(previewState)">
    <edu-school-logo-preview [previewState]="previewState">
    </edu-school-logo-preview>
  </li>
  <li *ngIf="contactsSet(previewState)">
    <edu-school-contacts-preview [previewState]="previewState">
    </edu-school-contacts-preview>
  </li>
  <li *ngIf="addressSet(previewState)">
    <edu-school-address-preview
      [previewState]="previewState"
    ></edu-school-address-preview>
  </li>
  <li *ngIf="schoolNameSet(previewState)">
    <edu-school-name-preview
      [previewState]="previewState"
    ></edu-school-name-preview>
  </li>
</ul>
