<p>image-slider works!</p>
<ng-image-slider
  [images]="imageObject"
  [imageSize]="imageSize"
  [imagePopup]="imagePopup"
  arrowKeyMove="true"
  [animationSpeed]="animationSpeed"
  [infinite]="infinite"
  showArrow="false"
  #nav
></ng-image-slider>

<!-- <button class="left button" (click)="prevImageClick()">
  <img src="assets/form-components/slider-arrow-left-grey.svg" alt="" />
</button>
<button class="right button" (click)="nextImageClick()">
  <img src="assets/form-components/slider-arrow-left-grey.svg" alt="" />
</button> -->
