<div class="group group--3 group--split-layout">
  <h3 class="form__sub-title">Subject Area</h3>
  <div class="form__row">
    <div class="form__input-wrapper">
      <div class="search__input-wrapper">
        <img class="search__icon" src="assets/search.svg" alt="" />

        <input class="search__input" type="text" placeholder="Search" />

        <div class="popup popup--padded">
          <div class="groups groups--column-layout">
            <div class="group group--row-layout">
              <div class="chip">
                <img
                  class="chip__img"
                  src="../../../assets/icon_subject-badge.svg"
                  alt=""
                />
                <span class="chip__text">Mathematics</span>
              </div>
              <div class="badges">
                <span class=" badge  badge--inactive badge">1</span>
                <span class=" badge  badge--inactive badge">2</span>
                <span class=" badge  badge--inactive badge">3</span>
              </div>
            </div>
            <div class="group group--row-layout">
              <div class="chip">
                <img
                  class="chip__img"
                  src="../../../assets/icon_subject-badge.svg"
                  alt=""
                />
                <span class="chip__text">Science</span>
              </div>
              <div class="badges">
                <span class=" badge  badge--inactive badge">4</span>
                <span class=" badge  badge--inactive badge">5</span>
                <span class=" badge  badge--inactive badge">6</span>
              </div>
            </div>
            <div class="group group--row-layout">
              <div class="chip">
                <img
                  class="chip__img"
                  src="../../../assets/icon_subject-badge.svg"
                  alt=""
                />
                <span class="chip__text">Geography</span>
              </div>
              <div class="badges">
                <span class=" badge  badge--inactive badge">7</span>
                <span class=" badge  badge--inactive badge">8</span>
                <span class=" badge  badge--inactive badge">9</span>
              </div>
            </div>
            <div class="group group--row-layout">
              <div class="chip">
                <img
                  class="chip__img"
                  src="../../../assets/icon_subject-badge.svg"
                  alt=""
                />
                <span class="chip__text">English</span>
              </div>
              <div class="badges">
                <span class=" badge  badge--inactive badge">10</span>
                <span class=" badge  badge--inactive badge">11</span>
                <span class=" badge  badge--inactive badge">12</span>
              </div>
            </div>
          </div>
          <button class="form__round-btn form__round-btn--active">
            <img src="../../../assets/iconfinder_plus-white.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
