<div class="group group--3 group--split-layout">
  <!-- <h3 class="form__sub-title">Subject Area</h3> -->
  <div class="form__row">
    <div class="form__input-wrapper">
      <div class="search__input-wrapper">
        <img class="search__icon" src="assets/search.svg" alt="" />

        <input
          class="search__input"
          (focus)="toggleSubjectClassesBox()"
          type="text"
          placeholder="Search"
        />

        <div class="popup popup--padded" *ngIf="isOpen">
          <div class="groups subjects-area">
            <div class="subjects__container">
              <div class="subjects">
                <edu-icon-button
                  *ngFor="let subject of subjects | async"
                  [subject]="subject"
                ></edu-icon-button>
              </div>
              <div class="classes">
                <edu-classes
            
                  [classes]="classes"
                ></edu-classes>
              </div>
            </div>
          </div>
          <button class="form__round-btn form__round-btn--active">
            <img src="../../../assets/iconfinder_plus-white.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
