@import 'src/assets/styles/mixins/alignment';
@import '../../scss-fixes.scss';
:host {
  @include displayFlex(center, center, column);
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

form {
  display: flex;
  align-items: center;
  //   height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  max-height: calc(100vh - 330px);
  padding-bottom: 20px;
}

.main {
  overflow: hidden;
}

.overflowVisible {
  overflow: visible !important;
}

.scrollable-content {
  flex-grow: 1;
  // height: 100%;
  @include displayFlex(flex-start, center, column);
  max-height: calc(100vh - 330px);
}

.header {
  font-size: 26px;
  color: #212121;
}

.desc {
  margin-bottom: 30px;
}

.terms-and-dates {
  display: flex;
  &__item {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    * {
      //   width: 25%;
    }
  }
}

.terms-and-dates__errors {
  display: flex;
  justify-content: center;
  span {
    color: red;
    font-weight: 700;
  }
}

edu-input,
edu-datepicker {
  width: 240px;
  height: 54px;
  max-width: 30%;
  margin: 0 10px;
  flex-shrink: 0;
  img {
    margin-right: 10px;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.terms-and-dates__btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.terms-and-dates__continue-btn {
  height: 52px;
  border-radius: 100px;
  background: #69a9f2 0% 0% no-repeat padding-box;
  width: 250px;
  margin-top: 230px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  &:active,
  &:focus {
    outline: none;
  }
}

.validation-error {
  padding: 0;
}

.validation-errors {
  flex-shrink: 0;
  padding: 0;
  //   position: absolute;
  min-width: 500px;
  width: 100%;
  bottom: 92px;
  //   left: 50%;
  //   transform: translateX(-50%);
  text-align: center;
  list-style-type: none;
  font: 400 14px/20px Raleway;
  color: $ash;

  &.hidden {
    opacity: 0;
    user-select: none;
    color: transparent;
  }
  &.display {
    position: absolute;
    bottom: 92px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}
