@import 'src/assets/styles/mixins/alignment';
:host {
  @include displayFlex(center, center, column);
  width: 100%;
  flex-grow: 1;
  height: 100%;
}
.header {
  font-size: 26px;
  color: #212121;
}
.desc {
  margin-bottom: 30px;
}
.terms-and-dates {
  display: flex;

  &__item {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    * {
      //   width: 25%;
    }
  }
}
.terms-and-dates__errors {
    display: flex;
    justify-content: center;
    span {
        color: red;
        font-weight: 700;
    }
}
edu-input,
edu-datepicker {
  width: 240px;
  height: 54px;
  max-width: 30%;
  margin: 0 10px;
  flex-shrink: 0;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.terms-and-dates__btn-container {
    display: flex;
    justify-content: center;
}
.terms-and-dates__continue-btn {
    height: 52px;
    border-radius: 100px;
    background: #69a9f2 0% 0% no-repeat padding-box;
    width: 250px;
    margin-top: 230px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
    &:active,
    &:focus {
        outline: none;
    }
}