<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content">
      <div class="content__body groups groups--split-layout">
        <div class="groups groups--column-layout relative flex-grow-1">
          <h2 class="content__title">Are these correct?</h2>
          <div class="content__body flex-wrap selection--confirmations">
            <div
              class="gropu--row-layout selection--confirmation"
              *ngFor="let aggregateItem of aggregate | async"
            >
              <div class="badge">{{ aggregateItem.classItem }}</div>
              <div
                class="badge badge--square"
                *ngFor="let section of aggregateItem.sections"
              >
                {{ section.sectionName }}
                <edu-popover
                  class="popover"
                  alignment="bottom"
                  pointerAlignment="left"
                >
                  <div class="chips flex-wrap">
                    <div
                      *ngFor="let student of section.subjects"
                      class="chip "
                      [ngClass]="{
                        'chip--blue': student.gender.toLowerCase() === 'male',
                        'chip--pink': student.gender.toLowerCase() === 'female'
                      }"
                    >
                      <span class="chip__desc"
                        >{{ student.firstName }} {{ student.lastName }}}}</span
                      >
                    </div>
                  </div>
                </edu-popover>
              </div>
            </div>
          </div>
          <div class="content__btn-wrapper">
            <button class="content__btn content__btn--white">
              Back
            </button>
            <button class="content__btn" (click)="create()">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
