h1,
h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.02px;
  opacity: 1;
  line-height: 1.5;
  color: #212121;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  letter-spacing: 1.02px;
}

h2 {
  font: 600 26px/40px Quicksand;
  letter-spacing: 0.78px;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 0.48px;
  opacity: 1;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.5;
}

p.small {
  font: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0.48px;
}

* {
  transition: all 0.3s;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #e6e9f3;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
}
.nav__home-icon {
  border-right: 1px solid #e6e9f3;
}
.nav__active-module {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0 2em;
  font-family: 'Quicksand';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}
.nav__active-module-img {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}
.nav__home-icon,
.nav__user-icon {
  padding: 0 3em;
  min-width: 6em;
  height: 100%;
}

.none {
  display: none;
}

.flex-wrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.draggable {
  cursor: pointer;
}

.orangecolor {
  color: #f2b269;
}

.ashcolor {
  color: #a5aec7;
  font-weight: 500;
}

.bluecolor {
  color: #69a9f2;
}

.redcolor {
  color: #ef5350;
}

body {
  display: relative;
  background-color: white;
}

section {
  height: calc(100vh - 53px);
}

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}
.content__title {
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.content__desc {
  text-align: center;
  font-weight: 14px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.42px;
  color: #a5aec7;
  margin: 0;
}
.content__btn {
  position: absolute;
  bottom: -175px;
}

section {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.section__back-btn {
  background: unset;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: 'Raleway';
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 31px;
  left: 23px;
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.42px;
  color: #c7ccdb;
}
.section__back-btn:focus {
  outline: none;
}
.section__back-btn:hover {
  text-decoration: underline;
}
.section__back-btn img {
  height: 18px;
  margin-right: 10px;
}

.form__input[type='text']:focus ~ label,
.form__input[type='text']:invalid ~ label {
  transform: scale(0.8) translateY(-22px);
}

.form {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}
.form__title {
  margin-bottom: 42px;
}
.form__btn {
  background: unset;
  border: none;
  cursor: pointer;
  width: 292px;
  height: 52px;
  border-radius: 100px;
  font-weight: 700;
  font-family: 'Raleway';
  letter-spacing: 0.42px;
  color: white;
  background: #69a9f2;
  text-transform: uppercase;
  box-shadow: 0px 4px 8px #3c4b9b26;
  position: relative;
  height: 52px;
  width: 250px;
}
.form__btn:focus {
  outline: none;
}
.form__btn:active {
  top: 6px;
}
.form__round-btn {
  background: unset;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px #3c4b9b14;
  border: 2px solid #e6e9f3;
  position: relative;
  background: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.48px;
  color: #c7ccdb;
  background: white;
}
.form__round-btn:focus {
  outline: none;
}
.form__round-btn:active {
  transform: scale(1.05);
}
.form__round-btn:hover {
  background: #c7ccdb;
  color: white;
}
.form__input-wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 380px;
  min-height: 43px;
  margin-bottom: 30px;
  position: relative;
}
.form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.form__input-label {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.48px;
}
.form__input[type='text'] {
  padding-bottom: 10px;
  font-size: 20px;
  max-width: 377px;
  width: 100%;
  border: 0;
  color: #212121;
  border-bottom: 2px solid #e6e9f3;
  text-align: center;
}
.form__input[type='text']:focus {
  outline: none;
  border-color: #69a9f2;
}

main {
  height: calc(100vh - 53px);
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}

.round-badge {
  width: 32px;
  height: 32px;
  background: #69a9f2;
  color: white;
  border-radius: 50%;
  margin: 4px;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

aside {
  overflow-y: auto;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  background: #fafbfc;
  border-left: 1px solid #e6e9f3;
}

.aside {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 30px 15px;
}
.aside > * {
  margin-bottom: 15px;
}
.aside__title {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.42px;
  color: #c7ccdb;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}

.card {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: white;
  max-width: 270px;
  width: 90%;
  border-radius: 15px;
  border: 1px solid #e6e9f3;
  box-sizing: border-box;
  padding: 40px 19px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
}
.card-img-wrapper {
  width: 100px;
  height: 100px;
  border: 2px dashed #e6e9f3;
  border-radius: 50%;
}
.card__title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.36px;
  color: #212121;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 300;
  font-weight: 500;
}
.card__desc {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  font-weight: 600;
  color: #212121;
}
.card--dash {
  border: 1px dashed #c7ccdb;
  background: transparent;
  justify-content: center;
}
.card__title--dash {
  text-align: center;
  font: 400 14px/20px Raleway;
  letter-spacing: 0.42px;
  color: #a5aec7;
}

.form {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  max-width: 1080px;
  width: 100%;
}
.form__title {
  margin-bottom: 20px;
}
.form__desc {
  color: #a5aec7;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 22px;
}
.form__badge {
  width: 44px;
  height: 44px;
  font-size: 14px;
  line-height: 22px;
}
.form__btn {
  background: #e6e9f3;
  bottom: -120px;
}

.round-badges {
  margin-bottom: 30px;
}

.drop-zones {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.drop-zone {
  border: 2px dashed #e6e9f3;
  border-radius: 12px;
  padding: 20px;
  min-width: 232px;
  width: 232px;
  position: relative;
}
.drop-zone__wrapper {
  border: 2px dashed #e6e9f3;
  border-radius: 12px;
}
.drop-zone__wrapper .drop-zone {
  border: none;
}
.drop-zone__desc {
  position: absolute;
  top: 25px;
}
.drop-zone__placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #c7ccdb;
}
.drop-zone--active {
  border-color: #69a9f2;
}
.drop-zone__title {
  text-align: center;
  margin: 0;
  font-weight: 500;
  padding-bottom: 13px;
  border-bottom: 1px solid #e6e9f3;
  width: 100%;
}
.drop-zone__body {
  padding: 5px;
  padding-bottom: 0;
  width: 100%;
  height: auto;
  min-height: 135px;
}

.drop-zone {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
}
