<ul class="preview-parent" *ngIf="previewState | async as preview">
  <!-- <li class="preview-parent__item" *ngIf="preview.periods.items" [routerLink]="preview.periods.route">
        <edu-timetable-preview *ngIf="isUniform(preview.teachingDays.classesAndGroupItems); else nonUniform" edu-title="All classes" [edu-value]="stripOffEmptyPeriods(preview.teachingDays.classesAndGroupItems[0].periods)"></edu-timetable-preview>
        <ng-template #nonUniform>
            <edu-timetable-preview *ngFor="let periods of preview.teachingDays.classesAndGroupItems" [edu-title]="getTitle(periods)" [edu-value]="stripOffEmptyPeriods(periods.periods)"></edu-timetable-preview>
        </ng-template>
    </li> -->
  <ng-container
    *ngIf="
      preview.periods.items &&
        isUniform(preview.teachingDays.classesAndGroupItems);
      else nonUniform
    "
  >
    <li class="preview-parent__item" [routerLink]="preview.periods.route">
      <edu-timetable-preview
        edu-title="All classes"
        [edu-value]="
          stripOffEmptyPeriods(
            preview.teachingDays.classesAndGroupItems[0]
              ? preview.teachingDays.classesAndGroupItems[0].periods
              : []
          )
        "
      ></edu-timetable-preview>
    </li>
  </ng-container>
  <ng-template #nonUniform>
    <ng-container *ngIf="preview.periods.items">
      <li
        class="preview-parent__item"
        *ngFor="
          let periods of preview.teachingDays.classesAndGroupItems;
          let i = index
        "
        [routerLink]="preview.periods.route"
      >
        <edu-timetable-preview
          [indexInParent]="i"
          [edu-title]="computeClasses(periods.classes)"
          [edu-value]="stripOffEmptyPeriods(periods.periods)"
        ></edu-timetable-preview>
      </li>
    </ng-container>
  </ng-template>
  <li
    class="preview-parent__item"
    *ngIf="
      (previewState | async).teachingDays.items &&
      hasSelectedTeachingDays((previewState | async).teachingDays.items)
    "
    [routerLink]="(previewState | async).teachingDays.route"
  >
    <edu-days-of-week-preview
      [previewState]="previewState"
    ></edu-days-of-week-preview>
  </li>
  <li
    class="preview-parent__item"
    *ngIf="
      (previewState | async).termVacations.items &&
      (previewState | async).termVacations.items
    "
    [routerLink]="(previewState | async).termVacations.route"
  >
    <edu-vacation-dates-preview
      [previewState]="previewState"
    ></edu-vacation-dates-preview>
  </li>
  <li
    class="preview-parent__item"
    *ngIf="
      (previewState | async).termsNamesAndDates.items &&
      (previewState | async).termsNamesAndDates.items
    "
    [routerLink]="(previewState | async).termsNamesAndDates.route"
  >
    <edu-terms-dates-preview
      [previewState]="previewState"
    ></edu-terms-dates-preview>
  </li>
  <li
    class="preview-parent__item"
    *ngIf="(previewState | async).schoolTerms.termsNumber"
    [routerLink]="(previewState | async).schoolTerms.route"
  >
    <edu-school-terms-preview [previewState]="previewState">
    </edu-school-terms-preview>
  </li>
  <li
    class="preview-parent__item"
    *ngIf="
      (previewState | async).datePreview.endDate ||
      (previewState | async).datePreview.startDate
    "
  >
    <edu-academic-year-preview
      [previewState]="previewState"
    ></edu-academic-year-preview>
  </li>
</ul>
