.preview-parent__item {
    list-style-type: none;
    margin: 0;
    width: 370px;
    border-radius: 15px;
    background: #fff;
    margin: 15px;
    border: 1px solid #e6e9f3;
    padding: 40px 10px;
}
.preview-parent {
    padding: 0;

}