@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/alignment';

:host {
  background: unset;
  border: none;
  &:focus {
    outline: none;
  }
  cursor: pointer;

  @include displayFlex();
  display: inline-flex;
}

// :host ::ng-deep img + span {
//   margin-left: 20px;
// }

:host.fab {
  border-radius: 50%;
  border: 2px solid $blue;
  background: unset;
  width: 30px;
  height: 30px;
}

:host.tick {
  &:hover {
  }
  &:active {
  }
  &:disabled {
  }
}
:host.fab,
:host.tick {
  width: 44px;
  height: 44px;
  border: 2px solid $blue;
  background: transparent;
  border-radius: 50%;

  &:hover {
    border-color: $green;
  }
  &:active {
    border-color: $green;
    background: $green;
  }
  &:disabled {
    border-color: $disabled;
    background: $disabled;
  }
}

:host.round {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font: 400 16px/22px Roboto;
  border: 2px solid #c7ccdb;
  color: #c7ccdb;
  background: transparent;
  box-shadow: 0px 2px 6px #3c4b9b14;
  @include displayFlex();
  // text-transform: uppercase;
  // box-shadow: 0px 4px 8px #3c4b9b26;
  position: relative;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
  &:active {
    color: white;
    border-color: $blue;
    background: $blue;
    box-shadow: none;
  }
  &:disabled {
    // border: none !important;
    background: $disabled;
    border-color: $disabled;
    color: white;
    box-shadow: none;
  }
}

:host[buttontype='basic'].basic {
  width: 292px;
  height: 52px;
  border-radius: 100px;
  font: 700 12px/20px Raleway;
  box-shadow: 0px 4px 8px #3c4b9b26;
  color: white;
  background: $blue;
  text-transform: uppercase;
  // box-shadow: 0px 4px 8px #3c4b9b26;
  position: relative;

  &:hover {
    background: $dark-blue;
  }
  &:active {
    background: $navy;
    box-shadow: unset;
  }
  &:disabled {
    // border: none !important;
    background: $disabled;
    border-color: $disabled;
    color: white;
    box-shadow: unset;
  }
}

:host[buttontype='outline'].outline {
  width: 292px;
  height: 52px;
  border-radius: 100px;
  font: 700 12px/20px Raleway;
  text-transform: uppercase;
  border: 2px solid $blue;
  color: $blue;
  background: transparent;
  box-shadow: 0px 4px 8px #3c4b9b1a;
  &:hover {
    background: $blue;
    border-color: $blue;
    color: white;
  }

  &:active {
    border-color: $navy;
    background: $navy;
    box-shadow: none;
  }
  &:disabled {
    background: transparent;
    color: $disabled;
    border-color: $disabled;
    box-shadow: none;
  }
}

.text {
}
