@import 'src/assets/styles/mixins/alignment';
@import 'src/assets/styles/colors';

.header {
  height: 56px;
  width: 100%;
  @include displayFlex(flex-start, center);
  border-bottom: 1px solid #e6e9f3;
  flex-shrink: 0;
  padding: 8px 20px;
}
