@import '../../../../../assets/styles/modules/section-module';
.modal {
  @include modal();
}

main {
  @include splitLayout();
}

.modal {
  width: auto;
  height: auto;
  min-width: unset;
  min-height: unset;
  max-width: unset;
  padding: 0;
  max-height: unset;
}
