@import "src/assets/styles/mixins/alignment";
@import "src/assets/scss/mixins/containers";
@import "src/assets/styles/mixins/buttons";
@import "src/assets/styles/colors";

@include group();
main{
background:  #F8F9FA;
min-height: calc(100vh - 52px);
padding:60px 0  ;
@include displayFlex(unset,unset,column);
}
.content{
    @include displayFlex(unset,unset,column);
    flex-grow:1;
    &__title{
        margin-bottom: 20px;
        font-weight: 600;
    }

}
$disabled-btn-grey:#E0E0E0;
.form{
    @include displayFlex(center,center,column);
    edu-input,edu-select  {
      width: 100%;
      margin: 10px 0;
    }
   
    .group{
        @include displayFlex(center,center,column);
        flex-grow: 1;
        max-width: 380px;
        width: 80%;
    }
    &__btn{
        @include button_default($blue,white);
        max-width: 380px;
        width: 80%;
        &:disabled{
            color: white;
            background: $disabled-btn-grey;

        }
    }
}


$stepper-grey:#E9E9E9;
$stepper-grey-2:#BCBCBC;

.stepper{
    @include displayFlex(center);
    color: $stepper-grey-2;
    padding-bottom: 22px;
    &__step{
        @include displayFlex(flex-start,center,column);
        margin: 0 45px;
        position: relative;   
    }

    &__step:not(:last-child)::after{ //lines
        width: 72px;
        height: 2px;
        background: $stepper-grey;
        content: "";
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%) translateX(100%);
    }
    
    &__badge{
        position: relative;
        width: 36px;
        height: 36px;
        position: relative;
        border-radius: 50%;
        border: 1px solid $stepper-grey;
        span{
            font: 700 16px/16px Roboto;
            @include absoluteCenter();
        }
    }

    &__text{
        white-space: nowrap;
        position: absolute;
        bottom: -6px;
        transform: translateY(100%);
        font: 400 14px/22px Raleway;
    }


    //style overwrite for  active, completed state
    .completed{
        .stepper__badge{
            background: url(src/assets/registration/profile-stepper-complete.svg) no-repeat no-repeat center center;
            color: white;
            border-color: $green;
        }
        .stepper__text{
            color: $black;
        }

        &.stepper__step::after{
            background: $green;
        }
    }

    .active{
        .stepper__badge{
            background: $blue;
            color: white;
            border-color: $blue;
        }
        .stepper__text{
            color: $blue;
        }
    }
}

//scss for profile 4
.form .profile4.group{
    flex-direction: row;
    max-width: unset;

    .group--column-layout{
        margin: 0 10px;
        max-width: 380px;
        width: 45%;
    }
}