<div class="content sections-tab fit-to-page">
  <h3 class="content__title">
    These are the sections for each class and the students assigned to them
  </h3>
  <p class="content__desc">Add, drag, drop and edit</p>

  <div class="content__body scrollable">
    <div class="sections">
      <div class="section" *ngFor="let badge of badgeArr; let idx = index">
        <div class="badge badge--active">
          <span>{{ idx + 1 }}</span>
        </div>

        <div class="classes">
          <div class="class" *ngFor="let _class of classArr[idx]">
            <div class="class__text-wrapper">
              <span class="class__text">{{ _class }}</span>
            </div>

            <edu-popover class="student-popover">
              <div class="pills">
                <div
                  class="pill pill--{{ student.gender }}"
                  *ngFor="let student of studentsArr"
                >
                  {{ student.name }}
                </div>
              </div>
            </edu-popover>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="content__button" ButtonType="basic">Edit Sections</button>
</div>
