@import 'src/app/features/dashboard-class/dashboard-class-shared';

:host {
  @include displayFlex(flex-start, stretch);
  max-height: $maxHeight;
}
//tab sepcific styling
.sections-tab {
  &.content,
  .content__body {
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    min-height: $maxHeight;
    position: relative;
  }
  .badges {
    width: 84px;
    max-width: unset;
    margin: 0 14px;
  }
  .badge {
    width: 38px;
    height: 38px;
    color: $grey;
    border-color: $grey;
    margin: 4px 0;
  }
  .badge:nth-child(odd) {
    margin-right: 8px;
  }
  //dropzone styling
  .dropzones {
    flex-wrap: nowrap;
    height: 100%;
    margin: 0;
    flex-direction: row;
    align-items: stretch;
  }
  .dropzones-flexwrap {
    width: 100%;
    @include displayFlex(flex-start);
    flex-wrap: wrap;
    max-height: $maxHeight;
    overflow: scroll;

    &.double {
      height: unset;
      max-height: unset;
      overflow: unset;
      align-items: stretch;
      .dropzone {
        min-width: 160px;
        width: calc(50% - 20px);
        height: unset;
        max-height: $maxHeight;
      }
    }
    &.none {
      width: 0px;
      overflow: hidden;
    }

    &.single {
      height: unset;
      max-height: unset;
      overflow: unset;
      align-items: stretch;
      .dropzone {
        height: unset;
        max-height: $maxHeight;
      }
    }

    &.multiple > .dropzone {
      width: calc(50% - 20px);
      min-width: 160px;
      max-height: 300px;
    }
  }

  .dropzone {
    width: 100%;
    @include displayFlex(flex-start, center, column);
  }
  .dropzone__body {
    flex-grow: 1;
    overflow: auto;
  }
  .dropzone--create {
    cursor: pointer;
    width: 60px;
    font: 400 42px/22px Quicksand;
    @include displayFlex();
  }
  .dropzone__title {
    min-width: 60%;
    border-bottom: 1px solid $grey;
    line-height: 44px;
    &-wrapper {
      border: 0px;
    }
  }
}

//aside styling
.aside {
  width: 219px;

  border-left: 2px solid $grey;
  max-height: $maxHeight;
  overflow: scroll;
  padding: 29px 17px;
  flex-shrink: 0;
  @include displayFlex(flex-start, center, column);

  &__body {
    flex-grow: 1;
    margin: 10px 0;
  }

  & > button.aside__button {
    width: 100%;
    height: 32px;

    &--add-students {
      font: 600 22px/32px Quicksand;
      margin-top: 20px;
      border-style: dashed;
    }
    &--footer {
      font: 700 12px/32px Raleway;
    }
  }
}

.search {
  width: 100%;
}
