<div
  [ngClass]="{
    'preview-select-preview--horizontal': styleMode === 'horizontal'
  }"
>
  <div
    class="profile-select-preview"
    *ngFor="let block of previewState | async"
  >
    <a class="preview-select-preview__link" [routerLink]="[block.route]">
      <div class="selected-heading">{{ block.label }}</div>
      <div class="selected-data" *ngFor="let field of block.values">
        <span
          class="info"
          *ngIf="block.label !== 'School Logo'; else imageBlock"
          >{{ field.value }}</span
        >
        <ng-template #imageBlock>
          <img class="selected-img" [src]="field.value" />
        </ng-template>
      </div>
    </a>
  </div>
</div>
