:host {
  padding: 6px 0px;
  display: block;
}

label {
  display: flex;
  align-items: center;
}

input {
  border: none;
  font: normal 14px/22px Raleway;
  color: #212121;
  padding: 0;
  height: 24px;
  width: 280px;
  outline: none;
}

img {
  vertical-align: middle;
  margin-right: 8px;
}
