@import '../../../../assets/styles/modules/section-module';
.chip {
  @include chip();
}
:host {
  display: inline-block;
  max-width: 100%;
}
.chip--active {
  background-color: #69a9f2;
  .chip__text {
    color: #fff;
  }
}
