// @import "/src/assets/styles/mixins/components";
@import "src/assets/styles/colors";
@import "src/assets/styles/mixins/alignment";

:host{
display: block;
color: $black;
transition: none;
&:hover {
    color: $blue;
    background: $grey-white 0% 0% no-repeat padding-box;
 }
}

:host.selected{
   color: $blue;
   background: $grey-white 0% 0% no-repeat padding-box;
}


.active.option__wrapper{
   color: $blue !important;
}

 .option{

   &__wrapper{
      text-align: left;
      font-size: 14px;
      letter-spacing: 0.42px;
      white-space: nowrap;
        position: relative;
      @include displayFlex(flex-start);
      position: relative;
      height: 44px;
      padding: 0 20px;
      color:inherit;
   }


      &__checkbox{
         position: absolute;
         width: 100%;
         height: 100%;
      }
}