<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content">
      <h2 class="content__title">
        Add or upload staff
      </h2>
      <div class="search__wrapper">
        <div class="search__input-wrapper">
          <img class="search__icon" src="../../../assets/search.svg" alt="" />

          <input
            class="search__input"
            type="text"
            #searchInput
            placeholder="Search"
            (input)="onTextChange($event)"
          />
        </div>

        <div class="search__icon-btns">
          <div
            class="search__icon-btn"
            [ngClass]="{
              active: (sortingState | async).alphabetical
            }"
          >
            <img
              src="../../../assets/subject-search-icon-1.svg"
              alt=""
              class="icon-img"
              (click)="onSortByAlphabet()"
            />
            <div class="tooltip tooltip--top">
              Sort Alphabetical
            </div>
          </div>
          <div
            class="search__icon-btn"
            [ngClass]="{
              active: (sortingState | async).byGender
            }"
          >
            <img
              src="../../../assets/subject-search-icon-3.svg"
              alt=""
              class="icon-img"
              (click)="onSortByGender()"
            />
            <div class="tooltip tooltip--top">
              Sort by Sex
            </div>
          </div>
        </div>

        <button class="search__btn" (click)="onAddStaff()">
          <span>+</span>
        </button>
      </div>
      <div class="group">
        <div
          class="group__body"
          *ngIf="
            (sortingState | async).alphabetical === false &&
            (sortingState | async).byGender === false
          "
        >
          <edu-staff-chip
            *ngFor="let staff of staffs | async"
            [staff]="staff"
          ></edu-staff-chip>
        </div>
      </div>
      <div class="group group--alphabetically">
        <div class="group__body" *ngIf="(sortingState | async).alphabetical">
          <edu-classes-alphabetically
            [staffs]="staffs"
          ></edu-classes-alphabetically>
        </div>
      </div>
      <div class="group group-gender">
        <div class="group__body" *ngIf="(sortingState | async).byGender">
          <edu-classes-by-gender [staffs]="staffs"></edu-classes-by-gender>
        </div>
      </div>
      <div class="content__btns opacity">
        <div class="opacity-overlay"></div>
        <button class="content__btn" (click)="onFinish()">Continue</button>
      </div>
    </div>
  </section>
</main>
<edu-staff-form
  *ngIf="(staffsModalsState | async).editModal"
  [subjects]="subjects"
  [classes]="classes"
  (selectSubject)="onSelectSubject($event)"
  (unSelectSubject)="onUnselectSubject($event)"
  (classClicked)="onClassClicked($event)"
  [classesAndSubjects]="subjectClassesAssociation"
  (onCreateStaff)="createStaff($event)"
></edu-staff-form>
<edu-modal-v2
  *ngIf="(staffsModalsState | async).endModal"
  btnText="GOT IT"
  header="Staffs Set Up Complete"
  icon="assets/icon-complete.svg"
  [completeModal]="true"
  leftBtn="TAKE ME TO
  DASHBOARD"
  rightBtn="TAKE ME TO STUDENTS"
  (leftBtnClicked)="goToDashboard()"
  (rightBtnClicked)="goToStudents()"
>
  You are done with profile uploads, we promise! Now we can start putting things
  together. Whenever you are ready, go to the next step where we will organ your
  sections
</edu-modal-v2>

<edu-modal-v2
  *ngIf="(staffsModalsState | async).startModal"
  btnText="GOT IT"
  header="Staff Creation"
  icon="assets/students-intro.svg"
  (btnClicked)="onStart()"
>
  You will now create the Staff profiles. same as the last step. The only
  difference is that we will ask you what <b class="orangeColor">subject</b> the
  staff is <b class="orangeColor">able</b> to teach, and at what
  <b class="orangeColor">level</b>. This will help timetabling and organise
  courses.</edu-modal-v2
>
