@import 'src/app/features/dashboard-class/dashboard-class-shared';

:host {
  @include displayFlex(flex-start, stretch);
  max-height: $maxHeight;
}
//tab sepcific styling
.subjects-tab {
  &.content {
    width: 100%;
    height: 100%;
    min-height: $maxHeight;
  }
  .content__desc {
    max-width: 560px;
    text-align: center;
  }
  .content__body {
    margin: 30px;
    width: calc(100% - 60px);
    @include displayFlex(flex-start, center);
    flex-grow: 1;
    position: relative;
    border: 2px dashed #c3c9da;
    border-radius: 12px;
  }
  .badges {
    flex-shrink: 0;
    width: 84px;
    max-width: unset;
    margin: 0 14px;
  }

  .badge {
    width: 38px;
    height: 38px;
    color: $grey;
    border-color: $grey;
    margin: 4px 0;
  }
  .badge--all {
    margin: 4px 10px;
  }
  .badge:nth-child(even) {
    margin-right: 8px;
  }
  //dropzone styling

  .dropzone {
    border-radius: 0;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    height: unset;
    flex-grow: 1;
    align-self: stretch;
    position: relative;
  }
}

//aside styling
.aside {
  width: 219px;

  border-left: 2px solid $grey;
  max-height: $maxHeight;
  overflow: scroll;
  padding: 29px 17px;
  flex-shrink: 0;
  @include displayFlex(flex-start, center, column);

  &__body {
    flex-grow: 1;
    margin: 10px 0;
  }

  & > button.aside__button {
    width: 100%;
    height: 32px;

    &--add-students {
      font: 600 22px/32px Quicksand;
      margin-top: 20px;
      border-style: dashed;
    }
    &--footer {
      font: 700 12px/32px Raleway;
    }
  }
}

.search {
  width: 100%;
}

.pill--subject {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  span {
    white-space: nowrap;
  }
}

.side-panel {
  border-left: 1px solid $grey;
  background: white;
  position: fixed;
  //   transform: translateX(100%);
  right: 0;
  overflow: hidden;
  opacity: 0;
  width: 0px;
  height: 100%;
  &.active {
    opacity: 1;
    width: 480px;
    transform: unset;
  }
}

.side-panel {
  &__header {
    height: 40px;
    border-bottom: 1px solid $grey;
    button {
      line-height: 40px;
      position: absolute;
      right: 20px;
      font: 500 32px/32px Quicksand;
      color: $grey;
    }
    button:hover {
      color: $red;
    }
  }

  &__body {
    padding: 30px;
    height: 100%;
  }
  &__title {
    @include displayFlex(flex-start, center);
    height: 58px !important;
    font: 600 16px/50px Quicksand;
    width: 100%;
    margin-bottom: 10px;
    .icon--large {
      width: 50px;
      height: 50px;
      img {
        width: unset;
      }
    }
  }
  &__subjects,
  &__activities {
    width: 49%;
    @include displayFlex(flex-start, flex-start, column);
    height: 100%;
    overflow: scroll;
    padding-bottom: 50px;
  }
  &__subjects {
    // background: red;
  }
  &__activities {
    // background: green;
  }
  &__input {
    border: 0;
    outline: none;
    background: transparent;
    display: block;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &__title,
  &__subject,
  &__activity {
    margin: 10px 0;
    padding: 0 8px;
    width: 100%;
    cursor: pointer;
    font: 400 14px/16px Raleway;
    height: 42px;
    @include displayFlex(space-between, center);
    border: 1px solid transparent;
    .delete-btn {
      transition: none;
      opacity: 0;
    }

    &:hover {
      border: 1px solid $grey;
      border-radius: 8px;
      background: #f8f9fa;
      .delete-btn {
        opacity: 1;
      }
    }
  }

  &__activity-icon,
  &__subject-icon {
    border: 1px dashed $grey;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;

    img {
      @include absoluteCenter();
    }
  }
  &__subject-icon {
    border-color: $blue;
    background: $blue;
    img {
      width: 17px;
    }
  }
  &__create.roundbtn.outline {
    margin-left: 9px;
    width: 32px;
    height: 32px;
    border: 1px dashed $black;
    position: relative;
    color: $black;
    img {
      @include absoluteCenter();
    }

    &:hover,
    &:active {
      background: white;
      border-color: $black;
    }
  }
}
.subject-activities__wrapper {
  @include displayFlex(space-between);
  height: 100%;
}
