<div class="shell">
  <edu-header-nav>
    <ng-template #selectedTemplate>
      <img
        class="nav__active-module-img"
        src="assets/nav-students.svg"
        alt=""
      />
      <span>Students</span>
    </ng-template>
  </edu-header-nav>
  <main class="main">
    <div class="main__main-content">
      <router-outlet></router-outlet>
    </div>
    <aside class="side-bar">
      <edu-total-students></edu-total-students>
      <div
        class="card card--dash"
        [ngClass]="classList"
        (drop)="handleDrop($event)"
        (dragover)="handleDragOver($event)"
        (dragleave)="handleDragLeave($event)"
      >
        <h5 class="card__title--dash">Drag and drop excel files here</h5>
      </div>

      <div class="btn--text">
        <img src="../../../assets/bluedownload.svg" alt="" />
        <span class="bluecolor">Download Excel Template</span>
      </div>
      <div class="btn--text">
        <img src="../../../assets/reddownload.svg" alt="" />
        <span class="redcolor">Download failed records</span>
      </div>
    </aside>
  </main>
</div>
