<input type="file" (change)="fileChangeEvent($event)" />
<img [src]="croppedImage" *ngIf="confirmed" />
<div>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <div *ngIf="croppedImage">
    <button>Delete</button><button (click)="onConfirm()">Confirm</button>
  </div>
</div>
