<div class="placeholderImg">
  <!-- {{ showPlaceHolderImage() }}{{ !imgUploaded }}{{ confirmed }} -->
  <!-- <ng-container *ngIf="showPlaceHolderImage(); else cropperTemplate"> -->
  <div
    [ngClass]="{ hide: !showPlaceHolderImage() }"
    class="image--wrapper"
    (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()"
    (drop)="handleDrop($event)"
  >
    <label [for]="elementId">
      <!-- placeholder img -->
      <div [ngClass]="{ hidden: hidePlaceholderImg() }">
        <ng-content select=".placeholderImg"> </ng-content>
      </div>

      <!-- currently loaded img from source or previously -->
      <img id="loaded-img" *ngIf="value.base64" [src]="value.base64" />
    </label>
  </div>

  <!-- cropper to not be loaded with ngIf and is hidden as it is easier to inject borders into overlay element  -->
  <div
    [ngClass]="{ hide: showPlaceHolderImage() }"
    [id]="getImgCropperWrapperId()"
  >
    <image-cropper
      #imgCropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [transform]="imageTransFormObj"
      format="png"
      roundCropper="true"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <div class="controls" *ngIf="imgUploaded">
      <div class="buttons">
        <button ButtonType="round" class="zoom" (click)="zoomOut()">
          <span>-</span>
        </button>

        <button ButtonType="round" class="zoom" (click)="zoomIn()">
          <span>+</span>
        </button>
      </div>
      <div class="buttons">
        <button class="textButton" ButtonType="text" (click)="resetCropper()">
          Delete
        </button>
        <button class="textButton" ButtonType="text" (click)="onConfirm()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<input
  [id]="elementId"
  #file
  name="file"
  class="file"
  type="file"
  (change)="fileChangeEvent($event)"
/>
