<div class="main">
  <div class="content">
    <h1 class="header">
      Define your breaks
    </h1>

    <div
      #scrollableEl
      class="scrollable-content"
      [ngClass]="{ overflowVisible: !startScroll(scrollableEl) }"
    >
      <!-- <div class="group--row break" *ngFor="let item of formArr"> -->
      <div class="group--row break" *ngFor="let testData of testDataArr">
        <edu-input elementId="title" [(ngModel)]="testData.title">
          <span class="edu-label">
            Title
          </span>
        </edu-input>
        <edu-icon-select
          [textParserFn]="parseDayValue"
          elementId="f1"
          [valueOptions]="dayOptions"
          [(ngModel)]="testData.day"
        >
          <span class="edu-label">
            Day
          </span>
        </edu-icon-select>
        <edu-icon-select
          [textParserFn]="parsePeriodValue"
          elementId="f2"
          [valueOptions]="periodOption"
          [(ngModel)]="testData.after"
        >
          <span class="edu-label">
            After
          </span>
        </edu-icon-select>
        <edu-input elementId="duration" [(ngModel)]="testData.duration">
          <span class="edu-label">
            Duration
          </span>
          <span class="inline-suffix duration__suffix">mins</span>
        </edu-input>

        <button class="delete-vacation-btn" ButtonType="icon">
          <img src="assets/form-components/cross-red.svg" alt="" />
        </button>
      </div>

      <button class="break__btn" (click)="addformArr()">
        <img src="assets/32pxplusblue.svg" />
      </button>
    </div>
  </div>
  <button class="button--bottom" ButtonType="basic">
    continue
  </button>
</div>
