<div
  class="chip"
  [ngClass]="{
    'chip--blue': staff.gender.toLowerCase() === 'male',
    'chip--pink': staff.gender.toLowerCase() === 'female'
  }"
>
  <span class="chip__desc"
    >{{ staff.firstName }} {{ staff.lastName }}
    <span class="chip__icon-btns">
      <button class="chip__icon-btn">
        <img
          src="assets/subject-chip-edit.svg"
          (click)="onEdit(staff)"
          alt=""
        />
      </button>
      <button class="chip__icon-btn">
        <img src="assets/subject-chip-delete.svg" alt="" />
      </button>
    </span>
  </span>
</div>
