<div [class.frame]="loaded">
  <label
    class="uploader position-relative"
    [style.position]="'relative'"
    ondragover="return false;"
    [style.width.px]="count"
    [style.height.px]="count"
    [class.loaded]="loaded"
    [style.borderColor]="dragging ? activeColor : baseColor"
    (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()"
    (drop)="handleDrop($event)"
  >
    <i
      class="fa fa-plus"
      [style.color]="
        dragging
          ? imageSrc
            ? overlayColor
            : activeColor
          : imageSrc
          ? overlayColor
          : baseColor
      "
    ></i>

    <img
      *ngIf="mode === 'base64'; else imgUrl"
      [style.width.%]="100"
      [style.height.%]="100"
      [src]="imageSrc"
      (load)="handleImageLoad()"
      [class.loaded]="imageLoaded"
    />
    <ng-template #imgUrl>
      <img
        [style.width.%]="100"
        [style.height.%]="100"
        [src]="imageSrc"
        (load)="handleImageLoad()"
        [src]="imageSrc | imgAuth | async"
        [class.loaded]="imageLoaded"
      />
    </ng-template>
    <input
      type="file"
      name="file"
      accept="image/*"
      (change)="handleInputChange($event)"
    />
  </label>
</div>
