<div class="main">
  <form
    *ngIf="periodDurationForm"
    [formGroup]="periodDurationForm"
    class="content"
  >
    <h1 class="header">
      Define the period duration
    </h1>

    <edu-select
      formControlName="duration"
      (edu-change)="onSetPeriodDuration($event)"
    >
      <span class="edu-label">
        Period Duration
      </span>
      <edu-option
        *ngFor="let duration of periodDurations"
        [OptionValue]="duration.duration"
        >{{ duration.text }}</edu-option
      >
    </edu-select>
  </form>
  <ng-container *ngIf="periodDurationForm">
    <button
      [disabled]="periodDurationForm.invalid"
      [routerLink]="['../', activatedRouteData.next]"
      class="button--bottom"
      ButtonType="basic"
    >
      continue
    </button>
  </ng-container>
</div>
