h1,
h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.02px;
  opacity: 1;
  line-height: 1.5;
  color: #212121;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  letter-spacing: 1.02px;
}

h2 {
  font: 600 26px/40px Quicksand;
  letter-spacing: 0.78px;
}

p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 0.48px;
  opacity: 1;
  font-size: 16px;
  margin: 0 auto;
  line-height: 1.5;
}

p.small {
  font: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0.48px;
}

* {
  transition: all 0.3s;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.none {
  display: none;
}

.flex-wrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.draggable {
  cursor: pointer;
}

.orangecolor {
  color: #f2b269;
}

.ashcolor {
  color: #a5aec7;
  font-weight: 500;
}

.bluecolor {
  color: #69a9f2;
}

.redcolor {
  color: #ef5350;
}

body {
  display: relative;
  background-color: white;
}

section {
  height: calc(100vh - 53px);
}

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}
.content__title {
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.content__desc {
  text-align: center;
  font-weight: 14px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.42px;
  color: #a5aec7;
  margin: 0;
}
.content__btn {
  position: absolute;
  bottom: -175px;
}

section {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.section__back-btn {
  background: unset;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: 'Raleway';
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 31px;
  left: 23px;
  text-align: right;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.42px;
  color: #c7ccdb;
}
.section__back-btn:focus {
  outline: none;
}
.section__back-btn:hover {
  text-decoration: underline;
}
.section__back-btn img {
  height: 18px;
  margin-right: 10px;
}

.form__input[type='text']:focus ~ label,
.form__input[type='text']:invalid ~ label {
  transform: scale(0.8) translateY(-22px);
}

.form {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}
.form__title {
  margin-bottom: 42px;
}
.form__btn {
  background: unset;
  border: none;
  cursor: pointer;
  width: 292px;
  height: 52px;
  border-radius: 100px;
  font-weight: 700;
  font-family: 'Raleway';
  letter-spacing: 0.42px;
  color: white;
  background: #69a9f2;
  text-transform: uppercase;
  box-shadow: 0px 4px 8px #3c4b9b26;
  position: relative;
  height: 52px;
  width: 250px;
}
.form__btn:focus {
  outline: none;
}
.form__btn:active {
  top: 6px;
}
.form__round-btn {
  background: unset;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px #3c4b9b14;
  border: 2px solid #e6e9f3;
  position: relative;
  background: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.48px;
  color: #c7ccdb;
  background: white;
}
.form__round-btn:focus {
  outline: none;
}
.form__round-btn:active {
  transform: scale(1.05);
}
.form__round-btn:hover {
  background: #c7ccdb;
  color: white;
}
.form__input-wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 380px;
  min-height: 43px;
  margin-bottom: 30px;
  position: relative;
}
.form__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.form__input-label {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.48px;
}
.form__input[type='text'] {
  padding-bottom: 10px;
  font-size: 20px;
  max-width: 377px;
  width: 100%;
  border: 0;
  color: #212121;
  border-bottom: 2px solid #e6e9f3;
  text-align: center;
}
.form__input[type='text']:focus {
  outline: none;
  border-color: #69a9f2;
}

main {
  height: calc(100vh - 53px);
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}

aside {
  overflow-y: auto;
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  background: #fafbfc;
  border-left: 1px solid #e6e9f3;
}

.aside {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 30px 15px;
}
.aside > * {
  margin-bottom: 15px;
}
.aside__title {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.42px;
  color: #c7ccdb;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
.form {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 90%;
  max-width: 1080px;
}
.form__title {
  margin-bottom: 20px;
}
.form__desc {
  color: #a5aec7;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 22px;
}
.form__icon-btn {
  background: unset;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  position: relative;
  position: absolute;
  right: 0;
}
.form__icon-btn:focus {
  outline: none;
}
.form__icon-btn:active {
  transform: translateY(6px);
}
