<div class="form__input-wrapper form__input-wrapper--main">
  <div class="form__icon-select-wrapper">
    <input
      type="checkbox"
      class="form__icon-select"
      [checked]="isOpen"
      (click)="toggleDropdown()"
    />
    <img class="form__icon icon__img" [src]="activeIcon" alt="" />
    <div class="popup popup--center">
      <ul class="popup__entries">
        <li class="popup__entry popup__search-wrapper">
          <img class="popup__search-icon" src="assets/search.svg" alt="" />
          <input class="popup__search-input" type="text" placeholder="Search" />
        </li>
      </ul>
      <div class="popup__content">
        <div class="icons">
          <!-- <div class="icon icon--active">
            <img class="icon__img" src="assets/india-flag.svg" alt="" />
          </div> -->
          <div
            class="icon"
            *ngFor="let icon of icons"
            (click)="changeItem(icon)"
          >
            <div class="icon__content">
              <img class="icon__img" [src]="icon.icon" alt="" />
              <div class="icon__text">{{ icon.item }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input
    [id]="fieldName"
    type="text"
    class="form__input"
    placeholder=""
    [value]="value"
    (input)="onTextChange($event)"
    #fieldNameEl
    (click)="processClick()"
    pattern="(/w)"
  />

  <label class="form__input-label" [for]="fieldName">{{ fieldName }}</label>
</div>
