.preview-item {
  &__header {
    font-size: 12px;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  &__content-term {
    line-height: 21px;
    padding: 0;
    text-align: right;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300px;
    max-width: 138px;
    overflow: hidden;
    max-height: 43px;
    text-overflow: ellipsis;
    width: 100% !important;
  }
  &__content-dates {
    // padding: 15px;
    padding: 0 13.5px;
    line-height: 19px;
    border-left: 1px solid #000;
    width: 180px;
    flex-shrink: 0;
    font-size: 16px;
    color: #212121;
    margin-left: 19px;
    font-weight: 500;
  }
}

.textcenter {
  text-align: center;
}
