<div class="content">
  <button ButtonType="basic">
    popover top left

    <edu-popover alignment="top" pointerAlignment="left">
      <button [ClosePopover]="btnTest">test {{ btnTest }}</button>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
        <button (click)="toggleBtn()">click</button>
      </p></edu-popover
    >

    <edu-tooltip alignment="top" pointerAlignment="left">hi there </edu-tooltip>
  </button>
  <button ButtonType="outline">
    <edu-tooltip alignment="top" pointerAlignment="center"
      >hi there
    </edu-tooltip>
    <edu-popover alignment="top" pointerAlignment="center"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    popover top center
  </button>
  <button ButtonType="basic">
    <edu-tooltip alignment="top" pointerAlignment="right"
      >hi there
    </edu-tooltip>
    <edu-popover alignment="top" pointerAlignment="right"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    popover top right
  </button>
  <button ButtonType="outline">
    <edu-tooltip alignment="bottom" pointerAlignment="left"
      >hi there
    </edu-tooltip>
    <edu-popover alignment="bottom" pointerAlignment="left"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    popover bottom left
  </button>
  <button ButtonType="round">
    <edu-tooltip alignment="bottom" pointerAlignment="center"
      >hi there
    </edu-tooltip>
    <edu-popover alignment="bottom" pointerAlignment="center"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    bottom center
  </button>
  <button ButtonType="round">
    <edu-tooltip alignment="bottom" pointerAlignment="right"
      >hi there
    </edu-tooltip>
    <edu-popover alignment="bottom" pointerAlignment="right"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    popover bottom right
  </button>
  <button ButtonType="basic">
    <edu-tooltip alignment="left">hi there </edu-tooltip>
    <edu-popover alignment="left"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    popover left
  </button>
  <button ButtonType="basic">
    <edu-tooltip alignment="right">hi there </edu-tooltip>
    <edu-popover alignment="right"
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ratione
        pariatur iusto, enim corporis,
      </p></edu-popover
    >
    popover right
  </button>
</div>
