<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="form">
      <h2 class="form__title">
        Please name your groups and allocated their classes
      </h2>
      <p class="form__desc">Drag and drop in in the relevant group</p>

      <div
        class="form__badges round-badges flex-wrap"
        *ngIf="selectedClasses | async"
      >
        <edu-draggable-class
          *ngFor="let class of selectedClasses | async"
          [class]="class"
          [appDraggable]="{ data: class }"
          [draggable]="true"
        ></edu-draggable-class>
      </div>

      <div class="drop-zones">
        <edu-group-box
          *ngFor="let group of groupClassMap | async"
          [group]="group"
          (onDropped)="handleDropped($event)"
          (deselected)="deselectClass($event)"
          (groupNameChange)="onGroupNameChange($event)"
          [editable]="true"
        ></edu-group-box>
      </div>
      <button
        class="form__btn"
        [ngClass]="{
          'form__btn--disabled': (hasUngroupedClass | async) ? true : false
        }"
        [disabled]="hasUngroupedClass | async"
        [routerLink]="['../', activatedRouteData.next]"
      >
        Continue
      </button>
    </div>
  </section>
  <aside class="aside">
    <h5 class="aside__title">Preview</h5>
    <edu-class-card [groupsOfClassesQty]="numOfGroups | async"></edu-class-card>
    <edu-school-classes-card
      [selectedClasses]="selectedClasses"
    ></edu-school-classes-card>
  </aside>
</main>
