<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="form">
      <h2 class="form__title">
        Please name your groups and allocated their classes
      </h2>
      <p class="form__desc">Drag and drop in in the relevant group</p>

      <div
        class="form__badges round-badges flex-wrap"
        *ngIf="selectedClasses | async"
      >
        <edu-draggable-class
          *ngFor="let class of selectedClasses | async"
          [class]="class"
          [appDraggable]="{ data: 'Hello Guys', zones: [] }"
        ></edu-draggable-class>
      </div>

      <div class="drop-zones">
        <edu-group-box
          *ngFor="let group of numOfGroupsArr | async; let i = index"
          groupName="Name {{ i + 1 }}"
        ></edu-group-box>
      </div>

      <button class="form__btn" disabled>Continue</button>
    </div>
  </section>
  <aside class="aside">
    <h5 class="aside__title">Preview</h5>
    <edu-class-card [groupsOfClassesQty]="numOfGroups | async"></edu-class-card>
    <edu-school-classes-card
      [selectedClasses]="selectedClasses"
    ></edu-school-classes-card>
  </aside>
</main>
