@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/alignment';

:host.active {
  display: block;
}
:host {
  display: none;
}
.modal {
  box-sizing: border-box;
  width: 80%;
  //   min-height: 80%;
  max-width: 989px;
  max-height: 651px;
  background: white;
  box-shadow: 0px 5px 10px #a6adce1a;
  border: 1px solid $grey-blue;
  border-radius: 15px;
  opacity: 1;
  padding: 44px 50px 53px 50px;
  @include fixedCenter();
  // top: 45%;
  @include displayFlex(space-between, center, column);

  max-width: 600px;
  min-height: 400px;
  width: 80%;
  padding: 50px;

  &__overlay {
    position: fixed;
    z-index: 5;
    width: 300vw;
    height: 300vh;
    left: -100vw;
    top: -100vh;
    background-color: rgba($color: white, $alpha: 0.5);
  }

  & > * {
    flex-shrink: 0;
  }
}
