.header {
    margin-top: 290px;
    font-size: 26px;
    color: #212121;
}
.school-terms__btn-container {
    display: flex;
    justify-content: center;
}
.school-terms__continue-btn {
    height: 52px;
    border-radius: 100px;
    background: #69a9f2 0% 0% no-repeat padding-box;
    width: 250px;
    margin-top: 230px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
    &:active,
    &:focus {
        outline: none;
    }
}