<div class="splash-screen w-100">
  <div class="illustration">
    <img src="assets/welcome-section1.png" alt="Welcome" />
  </div>

  <i class="icon-loading turquoise fa-spin"></i>

  <div class="edu-logo">
    <img src="assets/allexis-edu.svg" alt="allexis edu ai" />
  </div>

  <div class="message">
    <strong>Welcome!</strong><br />
    <span>Allexis education is getting ready!</span>
  </div>

  <div class="cylo-logo">
    <img src="assets/cylo-logo.svg" alt="Cylo Media LTD" />
    <strong>Powered by Cylo Media LTD</strong>
  </div>
</div>
