
<button class="section__back-btn" (click)="onPrevious()">
  <img src="/assets/chevron-left.svg" alt="" /> Back
</button>

<div class="content">
  <h2 class="content__title">
    Upload your school logo
  </h2>

  <div class="content__img-wrapper" appIdownload (fileDropped)="onFileDropped($event)">
    <img class="content__img" [src]="previewUrl" alt="" width="350px" height="242px" >

    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />

    <label for="fileDropRef">
      <img class="content__img" src="/assets/iconfinder_plus.svg" alt="" />
    </label>

    <div class="content__img-editor">
      <div class="content__img-editor-btns">
        <button class="content__img-editor-btn">-</button>
        <button class="content__img-editor-btn">+</button>
      </div>
      <div class="content__img-editor-descs">
        <button class="content__img-editor-text-button" (click)="deleteFile()">Delete</button>
        <button class="content__img-editor-text-button" (click)="onNext()">Confirm</button>
      </div>
    </div>
  </div>
</div>
<button class="content__btn" (click)="onNext()">Continue</button>
