<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="[activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content">
      <div class="content-wrapper">
        <h2 class="content__title">
          What are your school's contact details?
        </h2>
        <form class="content__form" [formGroup]="contactForm">
          <edu-phone-icon-field
            formControlName="phone"
            fieldName="Phone"
            [icons]="countryIconMap"
            (valueChanged)="updatePhone($event)"
          ></edu-phone-icon-field>

          <edu-input
            alignment="center"
            (input)="returnFormFieldFormat('email', $event)"
            [formControl]="contactForm.controls['email']"
          >
            <span class="edu-label"> Email(Optional)</span>
          </edu-input>
          <edu-input
            alignment="center"
            (input)="returnFormFieldFormat('website', $event)"
            [formControl]="contactForm.controls['website']"
          >
            <span class="edu-label"> Website(Optional)</span>
          </edu-input>

          <!--
          <edu-input-field
            idPrefix="email"
            text="Email(Optional)"
            formControlName="email"
            (onChange)="updateFormField($event)"
          ></edu-input-field>
          <edu-input-field
            idPrefix="website"
            text="Website(Optional)"
            formControlName="website"
            (onChange)="updateFormField($event)"
          ></edu-input-field> -->
        </form>
      </div>
    </div>
    <div class="content__btn-wrapper">
      <button
        ButtonType="basic"
        class="content__button"
        [routerLink]="['../', activatedRouteData.next]"
        [disabled]="contactForm.invalid"
      >
        Continue
      </button>
    </div>
  </section>
</main>
