@import './../../../../../assets/scss/typography';
@import './../../../../../assets/scss/colors';
@import './../../../../../assets/scss/mixins/components';
@import './../../../../../assets/scss/mixins/alignment';
@import './../../../../../assets/scss/utils';
@import './../../../../../assets/scss/main';

body {
  display: relative;
  background-color: white;
}

@include form();
@include splitLayout3();
@include modalIntro();
@include modalComplete();

.form {
  height: 100%;
  @include displayFlex(center, center, column);

  &__title {
    margin-bottom: 40px;
  }

  &__btn {
    @include button_default($blue, white);

    margin: 40px 0;
  }
  &__btn--round {
    @include roundButton();
    margin: 0 10px;
  }
  &__btn-wrapper {
    @include displayFlex();
  }
}

.content {
  &__body--final {
    @include displayFlex(space-between);
    max-width: 1200px;
    width: 90vw;

    .card {
      @include card();
      min-width: 152px;
      // margin: 0 72px;
      border: 0;
      padding: 0;
      box-shadow: unset;
    }
  }
  &__img-wrapper {
    width: 180px;
    height: 180px;
    border: 2px dashed $grey-blue;
    border-radius: 50%;
    position: relative;
    &--active {
      border-color: $blue;
    }
    //margin-bottom: 175px;
  }

  &__img {
    @include absoluteCenter();
  }
  &__btn {
    @include button_default($blue, white);

    margin: 40px 0;
  }
  &__img-editor {
    width: 230px;
    position: absolute;
    bottom: -103px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__img-editor-btns {
    @include displayFlex();
  }
  &__img-editor-btn {
    @include roundButton(44px, white, $blue);
    border: 2px solid $blue;
    font-size: 30px;
    line-height: 1;
    margin: 0 8px;
  }
  &__img-editor-descs {
    @include displayFlex(space-between);
  }
  &__img-editor-text-button {
    @include textButton($blue);
  }

  &__btn--white {
    @include button_default(white, $blue);
    border: 1px solid $blue;
  }
  &__btns {
    button {
      width: 200px;
      margin: 40px 10px;
    }
  }
}
.section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal {
  &--inital-screen {
    max-width: 989px;
    width: 100vw;
  }

  & > * {
    flex-shrink: 0;
  }

  &__img--initial-screen {
    margin-bottom: 60px;
  }
  &__title--initial-screen {
    margin-bottom: 41px;
  }

  &__desc--initial-screen {
    margin: 0.75em 0;
    &:last-child {
      margin-bottom: 3em;
    }
  }

  &__btn--initial-screen {
    @include button_default($blue, white);
    margin-top: 30px;
    font-weight: 600;
    width: 292px;
  }
}
.content__form {
  width: 100%;
}
