<p>phone-image-dropdown works!</p>


<div class="form__input-prefix form__input-prefix--countrycode">
  <div class="form__icon-select-wrapper">
    <input type="checkbox" class="form__icon-select" checked="true">
    <img class="form__icon" src="../../../assets/circle_flag_india.svg" alt="">

    <div class="form__input--select-dropdown">
      <div class="popup">
        <ul class="popup__entries">
          <li class="popup__entry popup__search-wrapper">
            <img
              class="popup__search-icon"
              src="/assets/search.svg"
              alt=""
            />
            <input
              class="popup__search-input"
              type="text"
              placeholder="Search country"
            />
          </li>
          <li class="popup__entry">
            <img
              class="popup__entry-flag"
              src="/assets/us-flag.svg"
              alt=""
            />
            <span>United States +1</span>
          </li>
          <li class="popup__entry popup__entry--active">
            <img
              class="popup__entry-flag"
              src="/assets/india-flag.svg"
              alt=""
            />
            <span> India +91</span>
          </li>
          <li class="popup__entry">
            <img
              class="popup__entry-flag"
              src="/assets/canada-flag.svg"
              alt=""
            />
            <span>Canada +1</span>
          </li>
          <li class="popup__entry">
            <img
              class="popup__entry-flag"
              src="/assets/uk-flag.svg"
              alt=""
            />
            <span>United Kingdom +44</span>
          </li>
        </ul>
      </div>
    </div>


  </div>

  <span class="ashcolor">+91</span>
</div>



