<div class="calendar-top-bar">
  <div>
    <div class="academic-year">
      {{ academicYearTitle | async }}
      <edu-popover
        *ngIf="(academicYears$ | async)?.length"
        alignment="bottom"
        pointerAlignment="left"
        #popover
      >
        <button
          *ngFor="let academicYear of academicYears$ | async"
          class="popover-button"
          [ngClass]="{
            active: (selectedAcademicYear$ | async)?.id === academicYear.id
          }"
          (click)="onSelectYear(academicYear, popover)"
        >
          {{ getAcademicYearTitle(academicYear) }}
        </button>
      </edu-popover>
    </div>
    <div class="academic-year-terms">
      {{ selectedTermTitle$ | async }}
      <edu-popover
        *ngIf="(academicYearTerms$ | async)?.length"
        alignment="bottom"
        pointerAlignment="left"
        (edu-close)="onClose()"
        #popover
      >
        <edu-datepicker3
          *ngIf="showAddTerm"
          [formControl]="dateRangeCtrl"
          (edu-change)="onDateRangeChange($event)"
          [options]="datepickerOption"
        ></edu-datepicker3>
        <button
          *ngIf="dateRangeCtrl.dirty"
          (click)="onSaveTermDates()"
          class="submit-term-btn"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
          >
            <defs>
              <style>
                .a,
                .b,
                .d {
                  fill: none;
                }
                .a,
                .b {
                  stroke: #69a9f2;
                }
                .b {
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-width: 2px;
                }
                .c {
                  stroke: none;
                }
                .a {
                  fill: none;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                }
              </style>
            </defs>
            <g transform="translate(-634 -378)">
              <g class="a" transform="translate(634 378)">
                <circle class="c" cx="10" cy="10" r="10" />
                <circle class="d" cx="10" cy="10" r="9.5" />
              </g>
              <path
                class="b"
                d="M14,6,7.125,12.875,4,9.75"
                transform="translate(634.583 379.083)"
              />
            </g>
          </svg>
        </button>
        <ng-container *ngIf="!showAddTerm">
          <button
            class="popover-button"
            (click)="onSelectTerm('All terms', popover)"
          >
            All terms
          </button>
          <ng-container *ngIf="academicYearTerms$ | async as terms">
            <div
              *ngFor="let term of terms; let i = index"
              class="terms-wrapper"
            >
              <button
                class="popover-button"
                [ngClass]="{
                  active: (selectedTerm$ | async)?.termId === term.termId
                }"
                (click)="onSelectTerm(term, popover)"
              >
                {{ term.termTitle || customTermTitle(term) }}
              </button>
              <button
                class="icon-btn edit-btn"
                (click)="onEditTerm(term, i, terms)"
              ></button>
              <button
                class="icon-btn delete-btn"
                (click)="onRemoveTerm(term, i, terms)"
              ></button>
            </div>
          </ng-container>
          <div class="last-button">
            <button class="popover-button" (click)="onAddTerm()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="10"
                viewBox="0 0 35 35"
              >
                <defs>
                  <style>
                    .plus {
                      fill: none;
                      stroke: #000;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 3px;
                    }
                  </style>
                </defs>
                <g transform="translate(1.5 1.5)">
                  <line class="plus" y2="32" transform="translate(16)" />
                  <line class="plus" x2="32" transform="translate(0 16)" />
                </g>
              </svg>
              Custom
            </button>
          </div>
        </ng-container>
      </edu-popover>
    </div>
  </div>
  <div>
    <button>Substitute Teacher</button>
  </div>
</div>
<div class="layout-container" cdkDropListGroup>
  <div class="left-col">
    <div class="timetable__classes">
      <div *ngIf="selectedClassId$ | async" class="selected-class-sections">
        <div class="class-button">
          {{ (classById$ | async)?.name }}
        </div>
        <div class="section-list">
          <button
            *ngFor="let section of sectionsByClassId$ | async"
            type="button"
            class="section-button"
            [ngClass]="{
              active: (selectedSectionId$ | async) === section.id
            }"
            (click)="onSectionClick(section)"
          >
            {{ section.sectionName }}
          </button>
        </div>
      </div>
      <edu-console-calendar-options
        (clicked)="onClassClicked($event)"
        [classes]="classes | async"
        [style]="{
          width: '32px',
          height: '32px',
          margin: '7px',
          border: '2px solid #e6e9f3',
          fontSize: '12px'
        }"
      ></edu-console-calendar-options>
    </div>
  </div>
  <div class="right-col">
    <div *ngIf="subjectsError$ | async" class="error-block">
      <p>Failed to load subjects/teachers</p>
      <edu-simple-button
        type="stroked"
        color="#f2b269"
        (click)="fetchSubjectsTeachers()"
        >Try again</edu-simple-button
      >
    </div>
    <ng-container *ngIf="!(subjectsError$ | async)">
      <ng-container *ngIf="subjects | async as subj">
        <edu-console-calendar-search
          searchPlaceholder="Search Subjects"
          [items]="subj"
          (search)="onSubjSearch($event)"
          (create)="onCreate('subject')"
        >
          <ng-container *ngIf="subjectsLoading$ | async">
            Subjects loading...
          </ng-container>
          <ng-container *ngIf="subjectsLoaded$ | async">
            <div
              cdkDropList
              cdkDropListSortingDisabled
              [cdkDropListEnterPredicate]="noDrop"
              [cdkDropListData]="subj"
            >
              <edu-icon-button
                *ngFor="let subject of subj"
                [subject]="subject"
                cdkDrag
                [cdkDragData]="{ item: subject, type: 'subject' }"
              ></edu-icon-button>
            </div>
          </ng-container>
        </edu-console-calendar-search>
      </ng-container>
      <edu-console-calendar-search
        searchPlaceholder="Search Teachers"
        [items]="teachers | async"
        (search)="onTeacherSearch($event)"
      >
        <ng-container *ngIf="subjectsLoading$ | async">
          Teachers loading...
        </ng-container>
        <ng-container *ngIf="subjectsLoaded$ | async">
          <div
            cdkDropList
            cdkDropListSortingDisabled
            [cdkDropListEnterPredicate]="noDrop"
            [cdkDropListData]="teachers | async"
          >
            <edu-simple-button
              *ngFor="let teacher of teachers | async"
              type="stroked"
              cdkDrag
              [cdkDragData]="{ item: teacher, type: 'teacher' }"
              >{{ teacher.firstName }} {{ teacher.lastName }}</edu-simple-button
            >
          </div>
        </ng-container>
      </edu-console-calendar-search>
    </ng-container>
  </div>
  <div class="timetable-container">
    <div class="timetable__timetable">
      <div
        class="loading"
        *ngIf="(isSkeletonLoading$ | async) || (submittingTimetable$ | async)"
      >
        LOADING...
      </div>
      <ng-container
        *ngIf="periodsList$ | async as periodsList; else emptyTable"
      >
        <edu-custom-timetable-container
          *ngIf="
            !(refreshTimetable$ | async) &&
            (selectedSectionId$ | async) &&
            periodsList &&
            periodsList.length > 0
          "
          [periodsDataRef]="periodsData"
          [timetableData]="timetableData$ | async"
          [selectedClass]="selectedClassId$ | async"
          [selectedSection]="selectedSectionId$ | async"
          [edu-title]="'class'"
          [edu-value]="periodsList$ | async"
          (updateTimetableData)="onTimetableDataUpdate($event)"
        >
        </edu-custom-timetable-container>
        <div *ngIf="!(selectedSectionId$ | async)" class="empty-timetable">
          Select a section on the <strong>left</strong> to create timetable
        </div>
      </ng-container>
      <ng-template #emptyTable>
        <div class="empty-timetable">
          <ng-container *ngIf="!(selectedClassId$ | async)"
            >Select a class on the <strong>left</strong> to create
            timetable</ng-container
          >
          <div
            *ngIf="!(selectedSectionId$ | async) && selectedClassId$ | async"
          >
            Select a section on the <strong>left</strong> to create timetable
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
