<edu-timetable
  [time]="time"
  [specialPeriods]="specialPeriods"
  [model]="model"
  specialPeriodHeight="2"
>
  <ng-template #periodTemplate let-key="key" let-value="value">
    <div class="templateContainer ">
      {{ value }}
    </div>
  </ng-template>
</edu-timetable>

<h5>model object</h5>
<p>{{ prettyPrint(model.mon) }}</p>
<p>{{ prettyPrint(model.tue) }}</p>
<p>{{ prettyPrint(model.wed) }}</p>
<p>{{ prettyPrint(model.thu) }}</p>
<p>{{ prettyPrint(model.fri) }}</p>
<p>{{ prettyPrint(model.sat) }}</p>
<p>{{ prettyPrint(model.sun) }}</p>
