<main>
    <section>
        <img class ="content__brand" src="/assets/registration/logo.svg" alt="">
        <div class="content message">

        <img class="content__img" src="/assets/registration/message-tick.svg" alt="" >
        <h1 class = "content__title">Account Created!</h1>
        <p class = "content__desc">You have taken the first step to something great! You can either 
            <br> keep on going and set up your profile now, or log out and come 
            <br> back to it later
        </p>
        <div class="group--row-layout just-center btns">
            <button class="btn btn--white">log out </button>
            <button class="btn">Set up profile</button>
        </div>
    
        

     </div>

    </section>
</main>