@import '../../../../../assets/styles/modules/section-module';
.chip {
  @include chip();
}
:host {
  display: inline-block;
}
.chip--active {
  background-color: #69a9f2;
}
.chip__text {
  max-width: unset;
}
