<div class="main">
    <div class="content" *ngIf="teachingState | async as teachingData">
        <h1 class="header">
            Define your breaks
        </h1>

        <div #scrollableEl class="scrollable-content" [ngClass]="{ overflowVisible: !startScroll(scrollableEl) }">
            <div class="group--row break" *ngFor="let item of formArr">
                <edu-input>
                    <span class="edu-label">
              Name
            </span>
                </edu-input>

                <edu-select><span class="edu-label">
              Day
            </span>
                    <edu-option *ngFor="let day of teachingData.teachingDays; let i = index" [OptionValue]="day.day">
                        {{day.day}}
                    </edu-option>
                </edu-select>

                <edu-select><span class="edu-label">
              After
            </span>
                    <edu-option *ngFor="let period of teachingData.periods[0].periods; let i = index" [OptionValue]="period">
                        {{period}}
                    </edu-option>
                </edu-select>
                <edu-input>
                    <span class="edu-label">
              Duration
            </span>
                </edu-input>

                <button class="delete-vacation-btn" ButtonType="icon">
            <img src="assets/form-components/cross-red.svg" alt="" />
          </button>
            </div>

            <button class="break__btn" (click)="addformArr()">
          <img src="assets/32pxplusblue.svg" />
        </button>
        </div>
    </div>
    <button [routerLink]="['../', activatedRouteData.next]" class="button--bottom" ButtonType="basic">
      continue
    </button>
</div>