<div class="modal__overlay" (click)="closeModal($event, 'overlay')">
  <div class="modal" #modal>
    <div class="profile-main">
      <div class="title-and-close group--row just-between">
        <div class="profile__title">School Settings</div>
        <button
          class="profile__close-btn"
          (click)="closeModal($event, 'btn')"
          ButtonType="icon"
        >
          <img src="assets/user-settings/modal_close.svg" alt="" srcset="" />
        </button>
      </div>
      <nav class="menu">
        <ul></ul>
      </nav>
      <section class="content">
        <form [formGroup]="userDetailForm" (ngSubmit)="formSubmit()">
          <h5 class="sub-title">School Details</h5>
          <div class="group--row just-center">
            <edu-image-upload-v3 formControlName="schLogo">
              <div class="edu-img-upload__dropzone  placeholderImg">
                <img src="assets/user-settings/modal_plus-18.svg" alt="" />
              </div>
            </edu-image-upload-v3>
            <!-- <edu-image-upload-v3 formControlName="profile">
              <div class="placeholderImg">
                <img src="/assets/admin/profile-placeholder.svg" alt="" srcset="" />
              </div>
            </edu-image-upload-v3> -->
            <!-- <edu-img-upload
              [showInputControls]="false"
              formControlName="schLogo"
            >
              <div class="edu-img-upload__dropzone ">
                <img src="assets/user-settings/modal_plus-18.svg" alt="" />
              </div>
            </edu-img-upload> -->
          </div>

          <div class="group--row">
            <edu-input formControlName="schName" alignment="left">
              <span class="edu-label">School Name</span>
            </edu-input>
            <edu-input formControlName="phone" alignment="left">
              <span class="edu-label">Phone</span>
            </edu-input>
          </div>
          <div class="group--row">
            <edu-input formControlName="email" alignment="left">
              <span class="edu-label">Email</span>
            </edu-input>
            <edu-input formControlName="website" alignment="left">
              <span class="edu-label">Website (optional)</span>
            </edu-input>
          </div>

          <h5 class="sub-title">School Address</h5>
          <div class="group--row">
            <edu-input
              class="address"
              formControlName="address"
              alignment="left"
            >
              <span class="edu-label">Address</span>
            </edu-input>
          </div>
          <div class="group--row">
            <edu-select
              class="countryPicker"
              formControlName="country"
              alignment="left"
            >
              <div class=" prefix" InputAffix>
                <img
                  class="countryPicker__img"
                  src="assets/user-settings/modal_india.svg"
                  alt=""
                  srcset=""
                />
              </div>
              <span class="edu-label">Country</span>
              <edu-option OptionValue="India"> India </edu-option>
              <edu-option OptionValue="country2"> country 2 </edu-option>
              <edu-option OptionValue="country3"> country 3 </edu-option>
              <edu-option OptionValue="country4"> country 4 </edu-option>
            </edu-select>
            <edu-select formControlName="state" alignment="left">
              <span class="edu-label">State</span>
              <edu-option OptionValue="state1"> state 1 </edu-option>
              <edu-option OptionValue="state2"> state 2 </edu-option>
              <edu-option OptionValue="state3"> state 3 </edu-option>
              <edu-option OptionValue="state4"> state 4 </edu-option>
            </edu-select>
          </div>
          <div class="group--row">
            <edu-input formControlName="city" alignment="left">
              <span class="edu-label">City</span>
            </edu-input>
            <edu-input formControlName="zip" alignment="left">
              <span class="edu-label">Zip</span>
            </edu-input>
          </div>
          <h5 class="sub-title">Deactivate Account</h5>
          <div class="group--row just-between">
            <span>Click to deactivate your school</span>
            <button ButtonType="text" class="redcolor relative">
              Deactivate

              <edu-popover
                class="deactive__modal-wrapper"
                alignment="top"
                pointerAlignment="right"
              >
                <edu-school-deactivate-modal></edu-school-deactivate-modal>
              </edu-popover>
            </button>
          </div>

          <div class="group--row just-center">
            <button ButtonType="basic" class="redcolor">Save Changes</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
