<main>
  <section class="section">
    <button class="section__back-btn" (click)="goToDashboard()">
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content">
      <h2 class="content__title">
        Add or upload Students
      </h2>
      <!-- <div class="search__wrapper">
        <div class="search__input-wrapper">
          <img class="search__icon" src="../../../assets/search.svg" alt="" />

          <input
            class="search__input"
            type="text"
            #searchInput
            placeholder="Search"
            (input)="onTextChange($event)"
          />
        </div>
        <button class="search__btn" (click)="onAddStudent()">
          <span>+</span>
        </button>
      </div> -->
      <div class="search__wrapper">
        <div class="search__input-wrapper">
          <img class="search__icon" src="../../../assets/search.svg" alt="" />

          <input
            class="search__input"
            type="text"
            #searchInput
            placeholder="Search"
            (input)="onTextChange($event)"
          />
        </div>

        <div class="search__icon-btns">
          <div
            class="search__icon-btn"
            [ngClass]="{
              active: (sortingState | async).alphabetical
            }"
            (click)="onSortByAlphabet()"
          >
            <img
              src="../../../assets/subject-search-icon-1.svg"
              alt=""
              class="icon-img"
            />
            <div class="tooltip tooltip--top">
              Sort Alphabetical
            </div>
          </div>
          <div
            class="search__icon-btn"
            [ngClass]="{
              active: (sortingState | async).byClasses
            }"
            (click)="onSortByClasses()"
          >
            <img
              src="../../../assets/subject-search-icon-2.svg"
              alt=""
              class="icon-img"
            />
            <div class="tooltip tooltip--top">
              Sort by Classes
            </div>
          </div>
          <div
            class="search__icon-btn"
            [ngClass]="{
              active: (sortingState | async).byGender
            }"
            (click)="onSortByGender()"
          >
            <img
              src="../../../assets/subject-search-icon-3.svg"
              alt=""
              class="icon-img"
            />
            <div class="tooltip tooltip--top">
              Sort by Sex
            </div>
          </div>
        </div>

        <button class="search__btn" (click)="onAddStudent()">
          <span>+</span>
        </button>
      </div>
      <div class="group">
        <div
          class="group__body"
          *ngIf="
            (sortingState | async).alphabetical === false &&
            (sortingState | async).byGender === false &&
            (sortingState | async).byClasses == false
          "
        >
          <edu-student-chip
            *ngFor="let student of studentsXClasses | async"
            [student]="student"
          ></edu-student-chip>
        </div>
      </div>
      <div class="group group--alphabetically">
        <div class="group__body" *ngIf="(sortingState | async).alphabetical">
          <edu-sort-alphabetically
            [studentsXClasses]="studentsXClasses"
          ></edu-sort-alphabetically>
        </div>
      </div>
      <div class="group group-gender">
        <div class="group__body" *ngIf="(sortingState | async).byGender">
          <edu-sort-by-gender
            [students]="studentsXClasses"
          ></edu-sort-by-gender>
        </div>
      </div>
      <div class="group group-gender">
        <div class="group__body" *ngIf="(sortingState | async).byClasses">
          <edu-sort-by-classes
            [studentsXClasses]="studentsXClasses"
          ></edu-sort-by-classes>
        </div>
      </div>
      <div class="content__btns opacity">
        <div class="opacity-overlay"></div>
        <button class="content__btn" (click)="onFinish()">Continue</button>
      </div>
      <div class="content__btns opacity">
        <div class="opacity-overlay"></div>
        <button class="content__btn" type="button" (click)="onFinish()">
          Continue
        </button>
      </div>
    </div>
  </section>
</main>
<edu-modal-v2
  *ngIf="(studentsModalState | async).startModal"
  btnText="GOT IT"
  header="Students Creation"
  icon="assets/students-intro.svg"
  (btnClicked)="onStart()"
>
  In this step, you will create profiles for the student body. This can take a
  lot of time, so for convenience we have included a bulk upload from
  spreadsheets you can use. Otherwise, add them one at a time. Hang in there,
  <b class="orangeColor">you can do it!</b></edu-modal-v2
>
<edu-modal-v2
  *ngIf="(studentsModalState | async).endModal"
  btnText="GOT IT"
  header="Students Set Up Complete"
  icon="assets/icon-complete.svg"
  [completeModal]="true"
  leftBtn="TAKE ME TO
  DASHBOARD"
  rightBtn="TAKE ME TO STAFFS"
  (leftBtnClicked)="goToDashboard()"
  (rightBtnClicked)="goToStaffs()"
>
  You are done with profile uploads, we promise! Now we can start putting things
  together. Whenever you are ready, go to the next step where we will organ your
  sections
</edu-modal-v2>
<edu-students-form
  *ngIf="(studentsModalState | async).editModal"
  [studentsXClasses]="studentsXClasses"
  (onSubmit)="processSubmit($event)"
></edu-students-form>
