<div class="main">
  <div class="content" *ngIf="teachingState | async as teachingData">
    <h1 class="header">
      Update Timetable for Class 1-12
    </h1>
    <p class="content__desc">
      Select the Class/Classes you wish to <b class="orangecolor">edit</b>
    </p>
    <div #scrollableEl class="scrollable-content">
      <div class=" line-item item--1">
        <div class="line-item__title">
          Classes
        </div>
        <div class="line-item__content ">
          <edu-class-update
            (classClicked)="toggleClassActive($event)"
            [teachingState]="teachingState"
            [classes]="(teachingState | async).calendarEdit.classes"
          ></edu-class-update>
        </div>
      </div>
      <div class=" line-item item--2">
        <div class="line-item__title">Teaching Days</div>
        <div class="line-item__content">
          <edu-days-of-week
            (toggleActive)="toggleActive($event)"
            [teachingDays]="
              asObservable((teachingState | async).calendarEdit.teachingDays)
            "
          ></edu-days-of-week>
        </div>
      </div>
      <div class=" line-item item--3">
        <div class="line-item__title">Teaching Periods</div>
        <div class="line-item__content">
          <edu-update-teaching-periods
            (onUpdatePeriod)="updateTeachingPeriod($event)"
            [teachingPeriods]="
              asObservable((teachingState | async).calendarEdit.teachingPeriods)
            "
          ></edu-update-teaching-periods>
        </div>
      </div>
      <div class=" line-item item--4">
        <div class="line-item__title">Period Start Time</div>
        <div class="line-item__content">
          <edu-update-start-time
            (onSelectTime)="selectStartTime($event)"
            [teachingPeriods]="
              asObservable((teachingState | async).calendarEdit.teachingPeriods)
            "
          ></edu-update-start-time>
        </div>
      </div>
      <div class=" line-item item--5">
        <div class="line-item__title ">Period Duration And Interval</div>
        <div class="line-item__content period-duration">
          <edu-select-v2
            elementId="duration"
            (edu-change)="onUpdatePeriodDuration($event)"
            [ngModel]="
              (teachingState | async).calendarEdit.teachingPeriods[0]
                .periodDuration
            "
          >
            <span class="edu-label">
              Period Duration
            </span>
            <edu-option-v2
              *ngFor="let duration of periodDurations"
              [OptionValue]="duration.duration"
              >{{ duration.text }}</edu-option-v2
            >
          </edu-select-v2>

          <edu-select-v2
            elementId="interval"
            (edu-change)="onUpdateInterval($event)"
            [ngModel]="
              (teachingState | async).calendarEdit.teachingPeriods[0]
                .intervaBtwPeriods
            "
          >
            <span class="edu-label">
              Interval Duration
            </span>
            <edu-option-v2
              *ngFor="let interval of intervals; let i = index"
              [OptionValue]="interval.duration"
            >
              {{ interval.text }}
            </edu-option-v2>
          </edu-select-v2>
        </div>
      </div>
      <div class=" line-item item--6">
        <div class="line-item__title">Break Schedule</div>
        <div class="line-item__content">
          <div class="">
            <div
              class="group--row break"
              *ngFor="
                let break of (teachingState | async).calendarEdit
                  .teachingPeriods[0].breaks;
                let i = index
              "
            >
              <edu-input
                (edu-blur)="updateTitle($event, i)"
                [elementId]="'title-' + i"
                [ngModel]="break.name"
              >
                <span class="edu-label">
                  Title
                </span>
              </edu-input>
              <edu-icon-select
                (edu-tick)="updateDay($event, i)"
                [textParserFn]="parseDayValue"
                [elementId]="'day'"
                [valueOptions]="
                  getDaysOptions(teachingData.calendarEdit.teachingDays) | async
                "
                [ngModel]="break.day"
              >
                <span class="edu-label">
                  Day
                </span>
              </edu-icon-select>
              <edu-icon-select
                (edu-tick)="updateAfter($event, i)"
                [isSingleSelect]="true"
                [textParserFn]="parsePeriodValue"
                elementId="after"
                [valueOptions]="
                  getPeriodOptions(teachingData.calendarEdit.teachingPeriods)
                    | async
                "
                [ngModel]="break.after"
              >
                <span class="edu-label">
                  After
                </span>
              </edu-icon-select>
              <edu-input
                (edu-blur)="updateDuration($event, i)"
                [elementId]="computeName('duration', i)"
                [ngModel]="break.duration"
              >
                <span class="edu-label">
                  Duration
                </span>
                <span class="inline-suffix duration__suffix">mins</span>
              </edu-input>
              <button
                class="delete-vacation-btn"
                *ngIf="(teachingState | async).calendarEdit.group.id as groupId"
                ButtonType="icon"
                (click)="removeBreak(groupId, i)"
              >
                <img src="assets/form-components/cross-red.svg" alt="" />
              </button>
            </div>
            <div class="btn__container">
              <button class="break__btn" (click)="addSameBreaks()">
                <img src="assets/32pxplusblue.svg" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class=" line-item item--7">
        <div class="line-item__title">School Assembly</div>
        <div class="line-item__content">
          <div class="group--row">
            <div class="btns-container">
              <button
                ButtonType="round-basic"
                class="round"
                (click)="setAssemblyDisplay(true)"
                [ngClass]="{
                  'round-basic': (teachingState | async).calendarEdit
                    .isAssemblyIncluded
                }"
              >
                Yes
              </button>
              <button
                ButtonType="round"
                (click)="setAssemblyDisplay(false)"
                class="round"
                [ngClass]="{
                  'round-basic': !(teachingState | async).calendarEdit
                    .isAssemblyIncluded
                }"
              >
                No
              </button>
            </div>
          </div>
          <div
            class="group--row assembly"
            *ngIf="(teachingState | async).calendarEdit.isAssemblyIncluded"
          >
            <edu-input
              (edu-blur)="updateAssemblyName($event)"
              [ngModel]="
                (teachingState | async).calendarEdit.teachingPeriods[0].assembly
                  .name
              "
              elementId="assemblyName"
            >
              <span class="edu-label">
                Name
              </span>
            </edu-input>

            <edu-timepicker
              elementId="startingAt"
              [ngModel]="
                loadAssemblyStartTime(
                  (teachingState | async).calendarEdit.teachingPeriods[0]
                    .assembly.startingAt
                )
              "
              (edu-change)="updateStartTime($event)"
            >
              <span class="edu-label">Start Time</span>
            </edu-timepicker>
            <edu-select
              elementId="assemblyDuration"
              (edu-change)="updateAssemblyDuration($event)"
              [ngModel]="
                (teachingState | async).calendarEdit.teachingPeriods[0].assembly
                  .duration
              "
              ><span class="edu-label">
                Duration
              </span>
              <edu-option
                *ngFor="let duration of durations; let i = index"
                [OptionValue]="duration.duration"
              >
                {{ duration.text }}
              </edu-option>
              <!-- <edu-option
                (click)="updateAssemblyData('duration', duration)"
                *ngFor="let duration of durations; let i = index"
                [OptionValue]="duration.duration"
              >
                {{ duration.text }}
              </edu-option> -->
            </edu-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button--bottom button__wrapper">
    <button ButtonType="outline" class="button--cancel" (click)="goBack()">
      cancel
    </button>
    <button
      ButtonType="basic"
      class="button--update"
      (click)="showConsequences()"
    >
      Update Timetable
    </button>
  </div>
</div>
<ng-container *ngIf="consequences | async as consequences">
  <edu-modal [(ngModel)]="consequences && consequences.length">
    <div class="modal__content">
      <h3>These are the consequences:</h3>
      <div class="consequences">
        <div class="consequence" *ngFor="let consequence of consequences">
          <span>{{ consequence }}</span>
        </div>
      </div>
      <h3>Are you sure you wish to continue?</h3>
      <div class="button__wrapper">
        <button
          class="button button--cancel"
          ButtonType="outline"
          (click)="clearConsequences()"
        >
          cancel
        </button>
        <button
          class="button button--update"
          ButtonType="basic"
          (click)="computeModifications()"
        >
          update
        </button>
      </div>
    </div>
  </edu-modal>
</ng-container>
