<!-- *ngIf="!imgURL; else templateVar" -->
<div [ngClass]="{ hidden: validImg() }">
  <div
    class="drop-zone"
    (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()"
    (drop)="handleDrop($event)"
  >
    <input
      class="file"
      #file
      type="file"
      accept="image/*"
      name=""
      id="{{ elementId }}"
      (change)="previewImg(file.files)"
    />
    <ng-content select=".edu-img-upload__dropzone"></ng-content>
  </div>

  <label for="{{ elementId }}">
    <ng-content select=".edu-label"></ng-content>
  </label>
</div>

<!-- <ng-template #templateVar> -->
<div [ngClass]="{ hidden: !validImg() }">
  <div
    class="img-wrapper"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <div class="mouseOverText">
      <h4>click to change image</h4>
    </div>

    <label class="img-wrapper__label" for="{{ elementId }}"></label>
    <img [src]="value" height="200" />
  </div>

  <div
    class="group--row-layout btns"
    [ngClass]="{ displayNone: !showInputControls }"
  >
    <button class="btn--text" (click)="deleteImg()">Delete</button>
    <button class="btn--text" (click)="confirmImg()">Confirm</button>
  </div>
</div>

<!-- </ng-template> -->

<!-- </ng-template> -->
