<button
  (click)="backToPasswordTab()"
  class="screen__back-btn"
  ButtonType="icon"
  tabindex="-1"
>
  <img src="assets/user-settings/modal_back-arrow.svg" alt="" srcset="" />
</button>

<!-- page 9 -->
<ng-container *ngIf="isActiveScreen(1)">
  <h2 class="screen__title">Enter your password</h2>
  <edu-input isPassword="true" alignment="center" elementId="pw">
    <visibility-toggle class="edu-input__suffix" InputAffix></visibility-toggle>
    <span class="edu-label"> Password </span>
  </edu-input>
</ng-container>
<!-- page 12  which is error state of page 9 -->
<ng-container *ngIf="isActiveScreen(1.1)">
  <h2 class="screen__title">Enter your password</h2>
  <edu-input
    class="error__input"
    isPassword="true"
    alignment="center"
    elementId="pw"
  >
    <visibility-toggle class="edu-input__suffix" InputAffix></visibility-toggle>
    <span class="edu-label"> Password </span>
  </edu-input>
  <p class="error__msg">Password does not match</p>
  <button class="error__btn" ButtonType="text">Forgot password?</button>
</ng-container>
<!-- page 13 ; continuation of page 9's error page-->
<ng-container *ngIf="isActiveScreen(1.2)">
  <div class="screen--12">
    <h2 class="screen__title">Recover your password</h2>
    <p class="screen__desc">
      Enter your registered email to reset your password
    </p>
    <edu-input alignment="center" elementId="email">
      <span class="edu-label"> Enter email </span>
    </edu-input>
  </div>
</ng-container>
<!-- page 14 ; confirmation of page 9's error page-->
<ng-container *ngIf="isActiveScreen(1.3)">
  <div class="screen__confirmation">
    <img
      src="assets/user-settings/modal_green-tick.svg"
      alt=""
      class="screen__img"
    />
    <h2 class="screen__title">We sent you an Email</h2>
    <p class="screen__desc">
      An email has been sent to your registered email address, click on the link
      to reset your password.
    </p>
  </div>
  <button class="screen__btn--save" ButtonType="basic">Close</button>
</ng-container>

<!-- page 10 -->
<ng-container *ngIf="isActiveScreen(2)">
  <h2 class="screen__title">Enter a New Password</h2>
  <edu-input isPassword="true" alignment="center" elementId="pw">
    <visibility-toggle class="edu-input__suffix" InputAffix></visibility-toggle>
    <span class="edu-label"> New Password </span>
  </edu-input>
  <edu-input isPassword="true" alignment="center" elementId="pw">
    <visibility-toggle class="edu-input__suffix" InputAffix></visibility-toggle>
    <span class="edu-label">Confirm New Password </span>
  </edu-input>

  <button class="screen__btn--save" ButtonType="basic">Save Changes</button>
</ng-container>
<!-- page 11 -->
<ng-container *ngIf="isActiveScreen(3)">
  <div class="screen__confirmation">
    <img
      src="assets/user-settings/modal_green-tick.svg"
      alt=""
      class="screen__img"
    />
    <h2 class="screen__title">Password Changed</h2>
    <p class="screen__desc">
      you will be automatically redirected
    </p>
  </div>
</ng-container>
