<edu-console-header title="Classes">
  <ul class="top-nav__options">
    <li
      class="top-nav__option"
      routerLinkActive="active"
      [routerLink]="['./', 'calendar-and-timetable']"
      tabindex="0"
    >
      Calendar & Timetable
    </li>
    <li
      class="top-nav__option"
      tabindex="0"
      [routerLink]="['./', 'planner']"
      routerLinkActive="active"
    >
      Timetable Planner
    </li>
    <li
      class="top-nav__option"
      tabindex="0"
      [routerLink]="['./', 'structure']"
      routerLinkActive="active"
    >
      Timetable Structure
    </li>
    <li
      class="top-nav__option"
      tabindex="0"
      [routerLink]="['./', 'academic-year']"
      routerLinkActive="active"
    >
      Academic Year
    </li>
  </ul>
</edu-console-header>
<router-outlet></router-outlet>
