@import '../../../../assets/styles/modules/section-module';
@import 'src/assets/styles/colors';

@include splitLayout2();

.wrapper {
  // z-index: 1;
}
edu-input ::ng-deep {
  height: 100%;
  width: 100%;
  .label-input__wrapper {
    position: static;
  }
  .label.center {
    padding-right: 56px;
    // position: absolute;

    // left: 50%;
    // transform: translate(-50%);0
  }
  .label--active {
    top: 0;
  }

  .input.center {
    padding-right: 56px;
  }
  .center .input__view-component {
    padding-right: 56px;
  }
}
.edu-input__prefix {
  // position: absolute;
  // top: calc(50% -1px);
  // transform: translateY(-50%);
  // height: calc(100% - 1px);
  // background: white;
  // position: absolute;
}
.icon__phone-prefix {
  font: 400 16px/24px Raleway;
  color: $ash;
}
:host {
  display: block;
  width: auto;
  height: auto;
}

.icon__img {
  width: 22px !important;
  height: 22px !important;
}
.popup__search {
  position: relative;
  min-height: 44px;
  @include displayFlex(flex-start);

  &-icon {
    left: 19px !important;
  }
}
.popup__search-input::placeholder {
  font: 400 14px/22px Raleway;
  color: #c7ccdb;
}
.icon__content {
  @include displayFlex(flex-start);
  min-width: 333px;
  min-height: 44px;
}
.icon__text {
  font: 400 14px/22px Raleway;
  color: $black;
}

//prev

.content__title {
  width: 560px;
}
.card {
  box-shadow: 0px 5px 10px #a6adce1a;
}

.form {
  @include form1();
}

aside {
  width: 400px;
}
.chips {
  @include displayFlex(flex-start);
}
.chip {
  @include chip();
}
// TODO: Refactor to own file
.form__icon-select-wrapper.edu-input__prefix {
  // z-index: 1;
  // position: absolute;
  // left: 0;
  // transform: translateX(-150%);
  @include displayFlex();
}

.form__input-wrapper--main .form__icon-select-wrapper img {
  border-radius: 50%;
}

.form__input-wrapper--main
  .form__icon-select-wrapper
  .form__input-icon--active {
  border: 1px solid #69a9f2;
  border-radius: 50%;
}

.form__input-wrapper--main .form__icon-select-wrapper input[type='checkbox'] {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.form__input-wrapper--main .form__icon-select-wrapper .popup {
  // display: none;
  // position: absolute;
  // bottom: -10px;
  // transform: translateX(-50%) translateY(100%);
  // opacity: 0;
  // left: 50%;
}

.form__input-wrapper--main
  .form__icon-select-wrapper
  input[type='checkbox']:checked
  ~ .popup {
  // display: block;
  // opacity: 1;
}

.form__input-wrapper--main
  .form__icon-select-wrapper
  input[type='checkbox']:checked
  ~ img {
  border: 1px solid #69a9f2;
}

.form__input-wrapper--main input:invalid ~ label,
.form__input-wrapper--main input:focus ~ label {
  top: -5px;
}

.form__input-wrapper--main label,
.form__input-wrapper--main input {
  font: 400 20px/30px Raleway;
}

.form__input {
  width: 100%;
}
// Popup
// .popup {
// min-width: 272px;
// bottom: -10px;
// transform: translate(-50%, 100%);
// box-shadow: 0px 2px 6px #3c4b9b14;
// }
// .popup .icons {
//   justify-content: flex-start;
//   padding: 7.5px;
// }
// .popup .icon {
//   margin: 10px;
// }
// .popup .icon__img {
//   width: 30px;
// }
.icon {
  cursor: pointer;
}
.icon__content {
  display: flex;
  align-items: center;
  z-index: 1000;
}
.icon__text {
  display: block;
  margin-left: 10px;
}
.icon__img {
  width: 30px;
}
.icon__phone-prefix {
  // position: absolute;
  font: 400 16px/24px Raleway;
  margin-left: 10px;
  margin-right: 5px;
  color: $ash;
}

.popup__search {
  padding: 0px 16px;
}
.icon {
  padding: 0px 16px;
}
.icon:hover {
  .icon__text {
    color: #69a9f2;
  }
  background: #fafbfc 0% 0% no-repeat padding-box;
}

edu-popover ::ng-deep {
  padding: 6px 0px;
}
