<edu-input
  #inputEl
  [alignment]="alignment"
  [(ngModel)]="value"
  [elementId]="fieldName"
  #fieldNameEl
  (input)="onTextChange($event)"
>
  <div class="form__icon-select-wrapper  edu-input__prefix" InputAffix>
    <img class="form__icon icon__img" [src]="activeIcon" alt="" />
    <span class="icon__phone-prefix">{{ phonePrefix }} </span>
    <edu-popover alignment="bottom" pointerAlignment="left">
      <div class=" " [ClosePopover]="popOverIsOpened">
        <div class="popup__search">
          <img
            class="popup__search-icon"
            src="/assets/search-icon.svg"
            alt=""
          />
          <input
            tabIndex="-1"
            class="popup__search-input"
            type="text"
            placeholder="Search"
          />
        </div>
        <div class="popup__content">
          <div class="icons">
            <div
              class="icon"
              *ngFor="let icon of icons"
              (click)="changeItem(icon)"
            >
              <div class="icon__content">
                <img class="icon__img" [src]="icon.icon" alt="" />
                <div class="icon__text">{{ icon.item }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </edu-popover>
  </div>

  <span class="edu-label" for="fieldName">{{ fieldName }}</span>
</edu-input>
