<div class="main">
  <h1 class="header">Please specify the vacation dates and names</h1>
  <p>
    Note: Only define vacations on this step which last
    <b class="orangeColor">longer</b> than one day, single<br />
    Holidays will be input in the next step
  </p>

  <form
    *ngIf="vacationForm"
    [ngClass]="{ overflowVisible: !startScroll(scrollableEl) }"
    #scrollableEl
    [formGroup]="vacationForm"
    class="scrollable-content"
  >
    <div formArrayName="vacationsAndDates" class="vacations-and-dates">
      <!-- <div *ngFor="let vacation of (calendarData | async).vacations; let i = index" [formGroupName]="i"
                class="vacations-and-dates__item"> -->
      <div
        *ngFor="
          let vacation of vacationForm.controls.vacationsAndDates['controls'];
          let i = index
        "
        [formGroupName]="i"
      >
        <div class="vacations-and-dates__item">
          <edu-input
            [elementId]="getElementId(i, 'title')"
            formControlName="vacationName"
            alignment="center"
            (edu-blur)="updateTitle($event, i)"
          >
          </edu-input>
          <edu-datepicker
            [elementId]="getElementId(i, 'startdp')"
            formControlName="startDate"
            alignment="center"
            (edu-change)="updateStart($event, i)"
          >
            <span class="edu-label">Starts from</span>
            <div class="edu-suffix" InputAffix>
              <img src="/assets/date-picker-calender.svg" alt="" srcset="" />
            </div>
          </edu-datepicker>
          <edu-datepicker
            [elementId]="getElementId(i, 'enddp')"
            formControlName="endDate"
            alignment="center"
            (edu-change)="updateEnd($event, i)"
          >
            <span class="edu-label">Ends on</span>
            <div class="edu-suffix" InputAffix>
              <img src="/assets/date-picker-calender.svg" alt="" srcset="" />
            </div>
          </edu-datepicker>
          <button class="delete-vacation-btn" ButtonType="icon">
            <img
              src="assets/form-components/cross-red.svg"
              alt=""
              (click)="removeItem(i)"
            />
          </button>
        </div>
      </div>

      <div class="vacations-and-dates__add-btn-container">
        <button
          class="vacations-and-dates__add-btn break__btn"
          (click)="addVacation()"
        >
          <img src="assets/32pxplusblue.svg" />
        </button>
      </div>
      <div class="vacations-and-dates__btn-container button--bottom">
        <button
          type="button"
          ButtonType="basic"
          [disabled]="isFormInvalid()"
          class="vacations-and-dates__continue-btn"
          (click)="goNext()"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
</div>
