<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="content content--final">
      <h2 class="content__title">
        Are these correct?
      </h2>
      <div class="cards flex-wrap content__body--final">
        <edu-subject-summary-box
          *ngFor="let class of classes | async"
          [class]="class"
        ></edu-subject-summary-box>
      </div>
    </div>

    <div class="content__btns opacity">
      <div class="opacity-overlay"></div>
      <button
        class="content__btn content__btn--white"
        [routerLink]="['../', activatedRouteData.previous]"
      >
        Back
      </button>
      <button class="content__btn" (click)="saveSubjects()">Continue</button>
    </div>
  </section>
</main>
<edu-modal
  *ngIf="(modalState | async).endModal"
  [description]="description"
  btnText="GOT IT"
  header="Subjects Set Up Complete"
  icon="assets/icon-complete.svg"
  [completeModal]="true"
  leftBtn="TAKE ME TO DASHBOARD"
  rightBtn="TAKE ME TO STUDENTS"
  (leftBtnClicked)="goToDashboard()"
  (rightBtnClicked)="goToStudents()"
></edu-modal>
