@import '../../../../../assets/styles/modules/section-module';
@import '../../scss_fixes.scss';
@include splitLayout2();

.cards.flex-wrap.content__body--final {
  align-items: flex-start;
}

main .content.content--final {
  // width: 100vw;
  // align-items: flex-start;
  width: 100%;
  max-width: unset;
  overflow-y: auto;
  justify-content: start;
  .content-wrapper {
    width: 100%;
  }
}

.content {
  width: 100%;
}

edu-modal-v2.complete ::ng-deep {
  .modal__desc {
    max-width: 600px;
    margin-bottom: 65px !important;
  }
}

.content__title {
  width: 560px;
}
.card {
  box-shadow: 0px 5px 10px #a6adce1a;
}

.form {
  @include form1();
}

aside {
  max-width: 400px;
  min-width: 300px;
  width: 25vw;
}
.chips {
  @include displayFlex(flex-start);
}
.chip {
  @include chip();
}
.section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content__desc {
  max-width: 556px;
  margin-bottom: 40px;
}
.drop-zone__wrapper {
  max-width: 906px;
  width: 100vw;
  min-height: 416px;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  border: 2px dashed #e6e9f3;
  border-radius: 12px;
}
.drop-zone__options {
  width: 140px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  border-right: 2px dashed #e6e9f3;
  flex-shrink: 0;
}
.drop-zone {
  border: 2px dashed #e6e9f3;
  border-radius: 12px;
  padding: 20px;
  min-width: 232px;
  width: 232px;
  position: relative;
  width: 100%;
  border: none;
}
.drop-zone__text {
  text-align: left;
  position: unset;
  transform: unset;
  margin-bottom: 20px;
  margin-left: 5px;
  top: 50%;
  color: #c7ccdb;
}

.flex-wrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-width: 1285px;
  width: 90%;
}

.opacity {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: relative;
}
.opacity-overlay {
  background: transparent
    linear-gradient(180deg, #ffffff09 0%, #ffffff 41%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  opacity: 0.5;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}
.content__btns {
  width: auto;
  margin: auto;
}
.content__btns button {
  width: 200px;
  margin: 10px 10px 40px 10px;
}
