<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="content content--final">
      <div class="content-wrapper">
        <h2 class="content__title">
          Are these correct?
        </h2>
        <div class="cards flex-wrap content__body--final">
          <edu-subject-summary-box
            *ngFor="let class of classes | async"
            [class]="class"
          ></edu-subject-summary-box>
        </div>
      </div>
    </div>

    <div class="content__btns ">
      <!-- <div class="opacity-overlay"></div> -->
      <button
        ButtonType="outline"
        class="content__button content__button--white"
        [routerLink]="['../', activatedRouteData.previous]"
      >
        Back
      </button>
      <button
        ButtonType="basic"
        class="content__button"
        (click)="saveSubjects()"
      >
        Continue
      </button>
    </div>
  </section>
</main>
<edu-modal-v2
  *ngIf="(modalState | async).endModal"
  class="complete"
  btnText="GOT IT"
  header="Subjects Set Up Complete"
  icon="assets/icon-complete.svg"
  [completeModal]="true"
  leftBtn="TAKE ME TO DASHBOARD"
  rightBtn="TAKE ME TO STUDENTS"
  (leftBtnClicked)="goToDashboard()"
  (rightBtnClicked)="goToStudents()"
>
  You made it! Now that we know what is taught in the school, we can move on to
  creating the users and profiles. This can be a lot of data entry, so don’t
  hesitate to take a break now if you need it…
</edu-modal-v2>
