<h1>form.get('f1').value : {{ testForm.get('f1').value }}</h1>
<h1>form.get('f2').value : {{ testForm.get('f2').value }}</h1>
<h1>form.get('f3').value : {{ testForm.get('f3').value }}</h1>
<!-- <h1> onchangeValue event: {{updatedValue}}  </h1> -->

<h1>f1 touched : {{ testForm.get('f1').touched }}</h1>
<h1>f1 dirty : {{ testForm.get('f1').dirty }}</h1>
<h1>f1 disabled : {{ testForm.get('f1').disabled }}</h1>
<!-- <h1>confirm event : {{ confirmEventResults }}</h1> -->
<br /><br />

<input type="text" />

<form action="" [formGroup]="testForm" (ngSubmit)="formSubmit()">
  <edu-datepicker formControlName="f1" alignment="center">
    <span class="edu-label">date of birth</span>
    <div class="edu-suffix" InputAffix>
      <img src="/assets/date-picker-calender.svg" alt="" srcset="" />
    </div>
  </edu-datepicker>

  <edu-datepicker formControlName="f2" alignment="center">
    <span class="edu-label">date of birth</span>
    <div class="edu-prefix" InputAffix>
      <img src="/assets/date-picker-calender.svg" alt="" srcset="" />
    </div>
  </edu-datepicker>
  <edu-datepicker
    formControlName="f3"
    alignment="center"
    labelIsPlaceholder="true"
  >
    <span class="edu-label">date of birth labelIsPlaceholder</span>
  </edu-datepicker>

  <edu-datepicker formControlName="f4" alignment="center" disabled="true">
    <span class="edu-label">date of birth disabled</span>
  </edu-datepicker>

  <edu-datepicker formControlName="f5" alignment="center">
    <span class="edu-label">validator test </span>
    <ul validator alignment="left">
      <li>Name is required.</li>
      <li>
        Name must be at least 4 characters long
      </li>
      <li>numbers only</li>
    </ul>
  </edu-datepicker>
</form>
