
  <button class="section__back-btn" (click)="onPrevious()">
    <img src="/assets/chevron-left.svg" alt="" /> Back
  </button>

  <form class="form" [formGroup]="mForm">
    <h2 class="form__title">
      What are your school’s contact details?
    </h2>
    <div class="form__input-wrapper">
      <div class="form__input-prefix form__input-prefix--countrycode">
        <img class="form__input-icon" src="/assets/circle_flag_india.svg" alt=""/>
        <span class="ashcolor">+91</span>
      </div>

      <input
        id="phoneNo"
        type="text"
        class="form__input"
        placeholder=""
        pattern="(/w)"
        formControlName="phoneNo"
      />
      <label class="form__input-label" for="phoneNo"><span class="ashcolor">Phone</span></label>
    </div>
    <div class="form__input-wrapper">
      <input
        id="email"
        type="text"
        class="form__input"
        placeholder=""
        pattern="(\w)"
        formControlName="email"
      />
      <label class="form__input-label" for="email">Email <span class="ashcolor">(Optional)</span></label>
    </div>
    <div class="form__input-wrapper">
      <input
        id="website"
        type="text"
        class="form__input"
        placeholder=""
        pattern="(\w)"
        formControlName="website"
      />
      <label class="form__input-label" for="website">Website <span class="ashcolor">(Optional)</span></label>
    </div>
  </form>
  <button class="form__btn" (click)="onNext()">continue</button>
