<div class="drop-zone" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <p
    *ngIf="(selectedClasses | async).length === 0; else commonSubjects"
    class="drop-zone__text drop-zone__placeholder"
  >
    No <b class="orangecolor">class</b> selected
  </p>
  <ng-template #commonSubjects>
    <p class="drop-zone__text">
      Showing <b class="orangecolor">common</b> subjects
    </p>
  </ng-template>
  <div class="drop-zone__btn-container">
    <ng-container *ngIf="(subjects | async).length">
      <edu-icon-button
        *ngFor="let subject of subjects | async"
        [subject]="subject"
        (click)="removeFromSelected(subject)"
      ></edu-icon-button>
    </ng-container>
  </div>
</div>
