@import 'src/assets/scss/colors';
@import 'src/assets/scss/mixins/alignment';

//test for preview panel
edu-timetable2 ::ng-deep .calendar {
  grid-template-columns: unset;
  grid-template-rows: unset;
  grid-auto-rows: 12px;
  grid-template-columns: 40px auto;
  grid-auto-columns: auto;
  column-gap: 8px;
  row-gap: 8px;
  width: 100%;
  .day,
  .time {
    font: 600 12px/14px Raleway;
  }

  .time {
    color: $black;
  }
}

.templateContainer {
  position: absolute;
  top: 6px;
}
:host {
  display: block;
  position: relative;
  padding: 20px;
  border: 1px solid $black;
  border-radius: 15px;
  & ::ng-deep edu-timetable2 {
    @include displayFlex(center, flex-start);
    height: 310px;
    max-height: calc(100vh - 395px);
    position: relative;
    // display: block;
    overflow-y: scroll;
  }
}
.card__title {
  max-width: 80%;
  margin: auto;
  color: $black;
  text-align: center;
  // padding-top: 20px;
  margin-bottom: 20px;
  font: 600 12px/20px Raleway;
  // position: relative;
}

.button--edit {
  @include displayFlex(flex-start, flex-start);
  display: inline-flex;
  font: 600 12px/20px Raleway;
  position: absolute;
  right: 20px;
  color: $ash;

  img {
    width: unset !important ;
    height: unset !important;
    position: static !important;
    margin: 0px !important;
    margin-left: 10px !important;
  }
}

edu-tick-button::ng-deep img {
  top: 50% !important;
  left: 50% !important;
  width: 20px !important;
  height: unset !important;
  transform: translate(-50%, -50%) !important;
  right: unset !important;
  bottom: unset !important;
}
