<div
  class="card__title"
  [ngStyle]="{ color: color }"
  *ngIf="titleText.length > 0"
>
  {{ titleText }}
</div>

<edu-timetable2
  [time]="time"
  [specialPeriods]="specialPeriods"
  [model]="model"
  [periodDurationDefined]="periodDurationIsSet"
  specialPeriodHeight="2"
>
  <ng-template
    #periodTemplate
    let-key="key"
    let-value="value"
    let-startTime="startTime"
    let-endTime="endTime"
  >
    <div class="templateContainer ">
      {{ value }}
      <!-- {{ startTime }}
      {{ endTime }}  -->
    </div>
  </ng-template>
</edu-timetable2>
