<form (submit)="addHoliday()" [formGroup]="addHolidayForm" class="holiday-add" *ngIf="!(mode | async)['editedHoliday']; else editMode">
    <edu-input alignment="center" formControlName="name"></edu-input>
    <edu-datepicker alignment="center" formControlName="date">
        <span class="edu-label">Select Date</span>
        <div class="edu-prefix" InputAffix>
            <img src="/assets/date-picker-calender.svg" alt="" srcset="" />
        </div>
    </edu-datepicker>
    <button class="holiday-add__add-btn">Add</button>
</form>
<ng-template #editMode>
    <form (submit)="editHoliday()" class="holiday-add" [formGroup]="editHolidayForm">
        <edu-input formControlName="name" alignment="center"></edu-input>
        <edu-datepicker alignment="center" formControlName="date">
            <span class="edu-label">Select Date</span>
            <div class="edu-prefix" InputAffix>
                <img src="/assets/date-picker-calender.svg" alt="" srcset="" />
            </div>
        </edu-datepicker>
        <button class="holiday-add__add-btn">Edit</button>
    </form>
</ng-template>