<main>
  <section class="section">
    <button class="section__back-btn" (click)="goToDashboard()">
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content">
      <div class="content-wrapper">
        <h2 class="content__title">
          What is your school name?
        </h2>
        <form [formGroup]="schoolNameForm">
          <div class="form__input-wrapper">
            <edu-input
              alignment="center"
              (keypress)="onKeyPress($event)"
              (input)="updateSchoolName($event)"
              [formControl]="schoolNameForm.controls['schoolName']"
            >
              <span class="edu-label"> Enter school name</span>
            </edu-input>

            <!-- <input
              id="schoolName"
              type="text"
              class="form__input"
              placeholder=""
              pattern="(/w)"
              (input)="updateSchoolName($event)"
              (keypress)="onKeyPress($event)"
              formControlName="schoolName"
            />
            <label class="form__input-label" for="schoolName"
              >Enter school name</label
            > -->
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<edu-modal-v2
  *ngIf="(modalState | async).startModal"
  [description]="getDescription()"
  btnText="GOT IT"
  class="intro"
  header="School Profile"
  icon="assets/subjects_modal.svg"
  (btnClicked)="onModalBtnClicked()"
>
  The first step is to enter the basic details of your school, just answer the
  questions on the screen!
</edu-modal-v2>
