<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content">
      <h2 class="content__title">
        What subjects are taught in your school?
      </h2>
      <edu-subjects-form
        (createSubject)="createSubject($event)"
      ></edu-subjects-form>
      <div class="content__btn-wrapper">
        <button
          class="content__btn"
          [routerLink]="['../', activatedRouteData.next]"
        >
          Continue
        </button>
      </div>
    </div>
  </section>

  <aside class="aside">
    <div *ngIf="allSubjects | async as allSubjects; else noSubjects">
      <edu-subjects-list [allSubjects]="allSubjects"></edu-subjects-list>
    </div>
    <ng-template #noSubjects>
      <p class="aside__placeholder">
        Add <b class="orangecolor">subjects</b> using window on the
        <b class="orangecolor">left</b>
      </p>
    </ng-template>
  </aside>
</main>
<edu-modal-v2
  class="intro"
  *ngIf="(modalState | async).startModal"
  btnText="GOT IT"
  header="Teaching Subjects"
  icon="assets/subjects_modal.svg"
  (btnClicked)="onModalBtnClicked()"
>
  We now need to know what subjects are taught in your school. Just create a
  <b class="orangecolor">tag</b> for each one and fill in the details. After you
  have created all the tags, <b class="orangecolor">assign</b> them to the
  relevant classes. This will speed up timetable and course management
  tremendously.
</edu-modal-v2>
