@import 'src/assets/styles/modules/section-module';

@include splitLayout2();

:host {
  cursor: pointer;
  .icon-field-container {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #e6e9f3;
  }

  .icon-field-container:hover {
    background: #f8f9fa;

    border: 1px solid #e6e9f3;
    border-radius: 8px;
  }

  .input-wrapper-border--active.wrapper {
    background-color: #e6f3fd;
    border-color: $blue;
    border-radius: 8px;
    border: 1px solid $blue;
  }
  .wrapper.input-wrapper-border--error.wrapper {
    &.input-wrapper-border--active {
      background-color: rgba($red, 0.1);
    }
    &:hover {
      background-color: rgba($red, 0.1);
    }
  }
  .input-wrapper-border--error.wrapper {
    border-radius: 8px;
    border-color: $red !important;

    label {
      color: $red;
    }
  }

  .wrapper.disabled:hover {
    background: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 0px;
  }
}

.icon-field-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper {
  // z-index: 1;
}
edu-input {
  width: 100%;
  height: 100%;
  &::ng-deep .disabled {
    .label,
    .input {
      color: $black !important;
    }
  }
  &::ng-deep .wrapper {
    border: 0px !important;
  }
}
.edu-input__prefix {
  position: absolute;
}
:host {
  display: block;
  width: auto;
  height: auto;
  cursor: pointer;
}

.icon__img {
  width: 22px !important;
  height: 22px !important;
}
.popup__search {
  position: relative;
  min-height: 44px;
  @include displayFlex(flex-start);

  &-icon {
    left: 19px !important;
  }
}
.popup__search-input::placeholder {
  font: 400 14px/22px Raleway;
  color: #c7ccdb;
}
.icon {
  cursor: pointer;
}
.icon__content {
  @include displayFlex(flex-start);
  min-width: 333px;
  min-height: 44px;
}
.icon__text {
  font: 400 14px/22px Raleway;
  color: $black;
}

//prev
.content__title {
  width: 560px;
}
.card {
  box-shadow: 0px 5px 10px #a6adce1a;
}

.form {
  @include form1();
}

aside {
  width: 400px;
}
.chips {
  @include displayFlex(flex-start);
}
.chip {
  @include chip();
}

// TODO: Refactor to own file
.form__input-wrapper--main .form__icon-select-wrapper {
  z-index: 0;
  position: absolute;
  left: 0;
  transform: translateX(-150%);
  display: flex;
}

.form__input-wrapper--main .form__icon-select-wrapper img {
  border-radius: 50%;
}

.form__input-wrapper--main
  .form__icon-select-wrapper
  .form__input-icon--active {
  border: 1px solid #69a9f2;
  border-radius: 50%;
}

.form__input-wrapper--main .form__icon-select-wrapper input[type='checkbox'] {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.form__input-wrapper--main .form__icon-select-wrapper .popup {
  display: none;
  position: absolute;
  bottom: -10px;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  left: 50%;
}
.form__icon.icon__img {
  top: 50%;
  height: 22px;
  transform: translateY(-50%);
}

.form__input-wrapper--main
  .form__icon-select-wrapper
  input[type='checkbox']:checked
  ~ .popup {
  display: block;
  opacity: 1;
}

.form__input-wrapper--main
  .form__icon-select-wrapper
  input[type='checkbox']:checked
  ~ img {
  border: 1px solid #69a9f2;
}

.form__input-wrapper--main input:invalid ~ label,
.form__input-wrapper--main input:focus ~ label {
  top: -5px;
}

.form__input-wrapper--main label,
.form__input-wrapper--main input {
  font: 400 20px/30px Raleway;
}

.form__input {
  width: 100%;
}
// Popup
.popup {
  min-width: 272px;
  bottom: -10px;
  transform: translate(-50%, 100%);
  box-shadow: 0px 2px 6px #3c4b9b14;
}
.popup .icons {
  justify-content: flex-start;
  // padding: 7.5px;
}
.popup .icon {
  margin: 10px;
}
.popup .icon__img {
  width: 30px;
}
.icon__content {
  display: flex;
  align-items: center;
}
.icon__text {
  display: block;
  margin-left: 10px;
}
.icon__img {
  width: 30px;
}
