<div class="icon-field-container">
  <edu-input
    disabled="true"
    #inputEl
    [(ngModel)]="value"
    [elementId]="fieldName"
  >
    <div class="form__icon-select-wrapper  edu-input__prefix" InputAffix>
      <img class="form__icon icon__img" [src]="activeIcon" alt="" />
    </div>

    <span class="edu-label" for="fieldName">{{ fieldName }}</span>
  </edu-input>
  <edu-popover alignment="bottom" pointerAlignment="left">
    <div class=" " [ClosePopover]="popOverIsOpened">
      <div class="popup__search">
        <img class="popup__search-icon" src="/assets/search-icon.svg" alt="" />
        <input
          [(ngModel)]="searchValue"
          class="popup__search-input"
          type="text"
          placeholder="Search"
        />
      </div>
      <div class="popup__content">
        <div class="icons">
          <div
            class="icon"
            *ngFor="let icon of filteredIcons"
            (click)="changeItem(icon)"
          >
            <div class="icon__content">
              <img class="icon__img" [src]="icon.icon" alt="" />
              <div class="icon__text">{{ icon.item }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </edu-popover>
</div>
