<div
  class="wrapper  dp__wrapper {{ elState }} "
  [ngClass]="{ error: hasError }"
  (click)="dpClick()"
>
  <!-- displayedValue:{{ displayedValue }} displayedValue:{{ displayedValue }} -->
  <div class="datepicker-wo-validators">
    <div
      class="input-label"
      [ngClass]="{ labelIsPlaceholder: labelIsPlaceholder }"
    >
      <input
        tabindex="-1"
        class="  dp__input input"
        [(ngModel)]="displayedValue"
        name="{{ elementId }}-input"
        #input
        [ngClass]="{ 'input--active': isLabelActive() }"
        type="text"
        placeholder="-"
        disabled
      />

      <label
        [ngClass]="{ 'label--active': isLabelActive() }"
        class="dp__label label"
      >
        <!-- for="dp-{{ elementId }}" -->
        <div class="label__shrink-wrap">
          <ng-content select=".edu-label"></ng-content>
        </div>
      </label>
    </div>

    <div class="prefix">
      <ng-content select=".edu-prefix"></ng-content>
      <ng-content select=".prefix"></ng-content>
    </div>

    <div class="suffix">
      <ng-content select=".edu-suffix"></ng-content>
      <ng-content select=".suffix"></ng-content>
    </div>
  </div>

  <div
    class="dp-trigger"
    angular-mydatepicker
    (calendarToggle)="calendarBlur($event)"
    #dp="angular-mydatepicker"
    [options]="myDatePickerOptions"
    (click)="dp.toggleCalendar()"
    (dateChanged)="onDateChanged($event)"
    [(ngModel)]="model"
  >
    <!-- <input
      stopEventBubble="click"
      #checkboxEl
      (change)="cbChange()"
      (blur)="cbBlur()"
      (focus)="cbFocus()"
      [(ngModel)]="dpIsActive"
      [id]="elementId"
      name="{{ elementId }}-checkbox"
      type="checkbox"
      class="dp__checkbox"
      [disabled]="_disabled"
    /> -->
  </div>
</div>

<div #validator class="validator">
  <ng-content select="[validator]"></ng-content>
</div>
