<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="form">
      <div class="content-wrapper">
        <h2 class="form__title">
          Are these correct?
        </h2>
        <div class="confirmation-box" *ngIf="previewState | async as preview">
          <edu-preview
            [styleMode]="'horizontal'"
            [previewState]="previewState"
          ></edu-preview>
        </div>
      </div>
    </div>
    <div class="form__btns">
      <button
        ButtonType="outline"
        class="form__button form__button--white"
        [routerLink]="['../', activatedRouteData.previous]"
      >
        Back
      </button>
      <button ButtonType="basic" class="form__button" (click)="submit()">
        Continue
      </button>
    </div>
  </section>
</main>
<edu-modal
  *ngIf="(modalState | async).endModal"
  [description]="getModalBody()"
  btnText="GOT IT"
  header="School Profile Complete"
  icon="assets/icon-complete.svg"
  [completeModal]="true"
  leftBtn="TAKE ME TO DASHBOARD"
  rightBtn="GO TO CLASS CREATION"
  (leftBtnClicked)="goToDashboard()"
  (rightBtnClicked)="goToClassCreation()"
></edu-modal>
