<main>
  <section class="section">
    <button class="section__back-btn" (click)="goToDashboard()">
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="form">
      <div class="content-wrapper">
        <h2 class="form__title">
          Are these correct?
        </h2>
        <ul class="confirmation-box" *ngIf="previewState | async as preview">
          <li *ngIf="schoolNameSet(preview)">
            <edu-school-name-preview
              [noBorder]="true"
              [previewState]="preview"
            ></edu-school-name-preview>
          </li>
          <li *ngIf="addressSet(preview)">
            <edu-school-address-preview
              [noBorder]="true"
              [previewState]="preview"
            ></edu-school-address-preview>
          </li>
          <li *ngIf="contactsSet(preview)">
            <edu-school-contacts-preview
              [previewState]="preview"
              [noBorder]="true"
            >
            </edu-school-contacts-preview>
          </li>
          <li *ngIf="logoSet(preview)">
            <edu-school-logo-preview [previewState]="preview" [noBorder]="true">
            </edu-school-logo-preview>
          </li>
        </ul>
      </div>
    </div>
    <div class="form__btns">
      <button
        ButtonType="outline"
        class="form__button form__button--white"
        (click)="goToLogoPage()"
      >
        Back
      </button>
      <button ButtonType="basic" class="form__button" (click)="submit()">
        Continue
      </button>
    </div>
  </section>
</main>
<edu-modal-v2
  *ngIf="(modalState | async).endModal"
  class="complete"
  [description]="getModalBody()"
  btnText="GOT IT"
  header="School Profile Complete"
  icon="assets/icon-complete.svg"
  [completeModal]="true"
  leftBtn="TAKE ME TO DASHBOARD"
  rightBtn="GO TO CLASS CREATION"
  (leftBtnClicked)="goToDashboard()"
  (rightBtnClicked)="goToClassCreation()"
></edu-modal-v2>
