<div class="group--column">
  <div class="group--column email-setting">
    <h4 class="email-setting__title">Heading Text Line</h4>
    <edu-checkbox elementId="cb1" [cbStyle]="cbStyle">
      <span class="edu-label">Check Box</span></edu-checkbox
    >
    <edu-checkbox elementId="cb2" [cbStyle]="cbStyle">
      <span class="edu-label">Check Box</span></edu-checkbox
    >
    <edu-checkbox elementId="cb3" [cbStyle]="cbStyle">
      <span class="edu-label">Check Box</span></edu-checkbox
    >
  </div>
  <div class="group--column email-setting">
    <h4 class="email-setting__title">Heading Text Line</h4>
    <edu-checkbox elementId="cb4" [cbStyle]="cbStyle">
      <span class="edu-label"
        >Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span
      ></edu-checkbox
    >
    <edu-checkbox elementId="cb5" [cbStyle]="cbStyle">
      <span class="edu-label"
        >Sed ut perspiciatis unde omnis iste natus error sit</span
      ></edu-checkbox
    >
  </div>
</div>
<button ButtonType="basic">Save Changes</button>
