<main>
    <section>
        <img class ="content__brand" src="/assets/registration/logo.svg" alt="">

        <div class="content">

        <h1 class = "content__title">Recover your password</h1>
        <p class = "content__desc">Enter your registered email or username to reset your password</p>
           
        <form action=""  [formGroup]="registrationForm" (ngSubmit)="formSubmit()" >
                
                <edu-input    formControlName="username"    alignment = "left"   > 
                    <span class = "edu-label"> Username or Email </span>
                
                </edu-input>

      


                <button class = "form__btn"> Recover password </button>

        </form>
 

     </div>

    </section>
</main>