<div class="main">
  <div class="content">
    <h2 class="content__title">
      Please define the teaching days for the relevant classes
    </h2>
    <div class="badges scrollable-content ">
      <div class="badges--inlineflex">
        <div
          class="group--row line-entry"
          *ngFor="let item of classesAndGroups | async"
        >
          <div class="card ">
            <h4 class="card__title">
              Classes
            </h4>
            <p class="card__desc">
              {{ computeClasses(item.classes) }}
            </p>
            <edu-popover
              *ngIf="allClasses | async as allClasses"
              (edu-open)="popoverOpen(allClasses, item.classes)"
            >
              <div class="classes">
                <div
                  (click)="toggleTempActive(classItem)"
                  *ngFor="let classItem of _tempAllClasses"
                  class="badge badge--class"
                  [ngClass]="{
                    'badge--active': isActiveInTemp(classItem)
                  }"
                >
                  <!-- <div
                  (click)="toggleActiveClass(classItem, item)"
                  *ngFor="let classItem of allClasses"
                  class="badge badge--class"
                  [ngClass]="{
                    'badge--active': isPresent(item.classes, classItem)
                  }"
                > -->
                  {{ classItem.grade }}
                </div>
              </div>
              <edu-tick-button
                [ClosePopover]="popoverToggleVar"
                (click)="confirmSelection(item)"
              ></edu-tick-button>
            </edu-popover>
          </div>

          <div class="days">
            <edu-days-of-week
              (toggleActive)="toggleActive($event, item)"
              [teachingDays]="asObservable(item.teachingDays)"
            ></edu-days-of-week>
          </div>
        </div>

        <div class="group--row line-entry">
          <div
            class="card card--dashed break__btn"
            *ngIf="classesAndGroups | async as classesAndGroups"
          >
            <img src="/assets/search-plus.svg" alt="" srcset="" />
            <edu-popover
              stopEventBubble="click"
              *ngIf="allClasses | async as allClasses"
              (edu-open)="popoverOpen(allClasses, [])"
            >
              <div class="classes" stopEventBubble="click">
                <div
                  (click)="toggleTempActive(classItem)"
                  *ngFor="let classItem of _tempAllClasses"
                  class="badge badge--class"
                  [ngClass]="{
                    'badge--active': isActiveInTemp(classItem)
                  }"
                >
                  <!-- <edu-popover>
              <div class="classes">
                <div
                  class="badge badge--class"
                  (click)="addNewGroup(classItem)"
                  *ngFor="let classItem of allClasses | async"
                > -->
                  {{ classItem.grade }}
                </div>
              </div>
              <edu-tick-button
                stopEventBubble="click"
                [ClosePopover]="popoverToggleVar"
                (click)="confirmNewSelection($event)"
              ></edu-tick-button>
            </edu-popover>
          </div>
        </div>
      </div>
    </div>
  </div>

  <edu-orphan-classes [orphanedClasses]="orphanedClasses"></edu-orphan-classes>

  <button
    class="button--bottom"
    [disabled]="(orphanedClasses | async).length"
    ButtonType="basic"
    [routerLink]="['../', activatedRouteData.next]"
  >
    continue
  </button>
</div>
