<div class="sort-by-gender">
  <div class="sort-by-gender__male">
    <h1 class="sort-by-gender__header">Male</h1>
    <div class="edu-staff-chips">
      <edu-staff-chip
        *ngFor="let staff of males | async"
        [staff]="staff"
      ></edu-staff-chip>
    </div>
  </div>
  <div class="sort-by-gender__female">
    <h1 class="sort-by-gender__header">Female</h1>
    <div class="edu-staff-chips">
      <edu-staff-chip
        *ngFor="let staff of females | async"
        [staff]="staff"
      ></edu-staff-chip>
    </div>
  </div>
</div>
