<main>
  <section>
    <img class="content__brand" src="/assets/registration/logo.svg" alt="" />

    <div class="group--column flex-grow-1">
      <ng-container *ngIf="isActiveStep(1)">
        <div class="content">
          <h1 class="content__title">Security Question</h1>
          <p class="content__desc">
            Please answer the following question to recover your password
          </p>

          <form
            action=""
            [formGroup]="registrationForm"
            (ngSubmit)="formSubmit()"
          >
            <edu-input formControlName="question" alignment="center">
              <span class="edu-label">Question 1</span>
            </edu-input>
            <edu-input formControlName="answer" alignment="center">
              <span class="edu-label">Type Answer</span>
            </edu-input>
          </form>
        </div>
        <button ButtonType="basic" class="form__btn">Recover password</button>
      </ng-container>

      <ng-container *ngIf="isActiveStep(2)">
        <div class="content">
          <h1 class="content__title">Set A New Password</h1>

          <form
            action=""
            [formGroup]="registrationForm"
            (ngSubmit)="formSubmit()"
          >
            <edu-input isPassword="true" alignment="center" elementId="pw">
              <visibility-toggle
                class="edu-input__suffix"
                InputAffix
              ></visibility-toggle>
              <span class="edu-label"> Enter new password </span>
            </edu-input>
            <edu-input isPassword="true" alignment="center" elementId="pw2">
              <visibility-toggle
                class="edu-input__suffix"
                InputAffix
              ></visibility-toggle>
              <span class="edu-label"> Confirm New Password </span>
            </edu-input>
          </form>
        </div>
        <button ButtonType="basic" class="form__btn">Set password</button>
      </ng-container>

      <ng-container *ngIf="isActiveStep(3)">
        <div class="content message">
          <img
            class="content__img"
            src="/assets/registration/message-tick.svg"
            alt=""
          />
          <h1 class="content__title">Password Changed</h1>
          <p class="content__desc">
            you will be automatically redirected to login
          </p>
        </div>
      </ng-container>
    </div>
  </section>
</main>
