@import '../../scss-fixes.scss';
@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/alignment';
@import 'src/assets/styles/mixins/containers';
@include group();
.scrollable-content {
  padding: 0 1%;
  max-height: calc(100vh - 335px);
  overflow-y: scroll;
  align-items: flex-start !important;
}

edu-periods-per-day ::ng-deep .day {
  display: none;
}
edu-periods-per-day ::ng-deep .days {
  padding: 0;
  margin: 0;
}
.main {
  justify-content: flex-start;
}
.days--header {
  align-self: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  margin-bottom: 15px;

  @include displayFlex(flex-end, center);
  font: 600 16px/20px Quicksand;
  color: $ash;
  li {
    width: 64px;
    margin: 0 10px;
    text-align: center;
  }
}
.badges-wrapper {
  height: 100%;
}

.badges {
  height: 100%;
  width: 100%;
  @include displayFlex(flex-start, center, column);
  &--inlineflex {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.line-entry {
  margin-bottom: 20px;
}

.content {
  &__title {
    margin: 0;
    margin-bottom: 47px;
    max-width: 480px;
  }
}

//for card
.group--row.line-entry .card {
  padding: 12px;
  min-height: 76px;
  height: auto;
}
.card {
  position: relative;
  box-shadow: 0px 2px 6px #3c4b9b14;
  border: 2px solid #e6e9f3;
  width: 156px;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
  @include displayFlex(center, center, column);
  &__title {
    font: 600 14px/18px Quicksand;
    margin: 0;
  }
  &__desc {
    margin: 0;
    font: 600 26px/33px Quicksand;
  }
  &:hover {
    border-color: $blue;
  }
  &--dashed {
    cursor: pointer;
    border: 1px dashed #e6e9f3;
    position: relative;
    img {
      @include absoluteCenter();
    }
    &:hover {
      border-color: $blue;
    }
  }
}

//for badges
@import 'src/assets/styles/mixins/components';
@include roundBadge();
.days {
  @include displayFlex();
}

.badge {
  cursor: pointer;
  font: 400 22px/22px Roboto;
  width: 64px;
  height: 64px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #e6e9f3;
  color: #c7ccdb;
  &--time {
    font: 400 16px/22px Roboto;
  }
  &--day {
    font: 400 16px/22px Roboto;
  }
  &--small {
    width: 44px;
    height: 44px;
    font: 400 12px/20px Roboto;
  }
}

.badge.badge--active {
  background: #69a9f2;
  color: #fff;
}

//popover{
edu-popover ::ng-deep {
  padding: 0px !important;
}

.classes {
  @include displayFlex();
  width: 156px;
  flex-wrap: wrap;
  padding: 20px 15px;
  .badge {
    font: 500 12px/14px Roboto;
    width: 32px;
    height: 32px;
    margin: 5px;
  }
}

//for card
.card {
  position: relative;
  box-shadow: 0px 2px 6px #3c4b9b14;
  border: 2px solid #e6e9f3;
  width: 156px;
  height: 76px;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
  @include displayFlex(center, center, column);
  &__title {
    font: 600 14px/18px Quicksand;
    margin: 0;
  }
  &__desc {
    margin: 0;
    font: 600 26px/33px Quicksand;
  }
  &:hover {
    border-color: $blue;
  }
  &--dashed {
    cursor: pointer;
    border: 1px dashed #e6e9f3;
    position: relative;
    img {
      @include absoluteCenter();
    }
    &:hover {
      border-color: $blue;
    }
  }
}

// .card {
//   @include card();
//   &--classes.card {
//     flex-shrink: 0;
//     margin: 0;
//     margin-right: 30px;
//     padding: 12px 0;
//     width: 156px;
//     box-shadow: 0px 2px 6px #3c4b9b14;
//     border: 2px solid #e6e9f3;
//     .card__title {
//       font: 600 14px/18px Quicksand;
//       margin: 0 auto;
//     }
//     .card__desc {
//       font: 600 26px/33px Quicksand;
//       margin: 0 auto;
//     }
//   }
//   &--dashed-border.card {
//     height: 76px;
//     border: 1px dashed #e6e9f3;
//     box-shadow: unset;
//     position: relative;
//     img {
//       @include absoluteCenter();
//     }
//   }
// }

.chip,
.badge {
  &--select {
    position: relative;
  }
  //need to add .active class to chip when selected due to z-index issue as they are nested
  &--select.active {
    z-index: 10;
  }
  //checkbox used to toggle .chip__dropdown & .popup
  &__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  //styling for popup / dropdown menu
  &__dropdown {
    left: 0;
    bottom: 0;
    position: absolute;
    min-width: 161px;
    overflow: hidden;
    display: none;
    //styling for chips inside the popup
    .chip {
      font: 600 12px/22px Raleway;
      min-width: 131px;
      margin: 10px auto;
    }
    .badge {
      width: 32px;
      height: 32px;
      font: 400 12px/20px Roboto;
      margin: 5px;
    }
    .popup__back-btn {
      @include resetButton();
      width: 14px;
      padding: 0;
      position: absolute;
      top: 13px;
      left: 13px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}

@include roundBadge();
.badges {
  @include displayFlex();
  width: 100%;
}

.periods {
  max-width: 420px;
}

.badge {
  cursor: pointer;
  font: 400 22px/22px Roboto;
  width: 64px;
  height: 64px;
  margin: 10px;
  &--time {
    font: 400 16px/22px Roboto;
  }
  &--date {
    font: 400 16px/22px Roboto;
  }
  &--small {
    width: 44px;
    height: 44px;
    font: 400 12px/20px Roboto;
  }
}

.period-menu {
  height: auto;
  align-self: flex-start;
  margin-top: 35px;
  box-shadow: 0px 10px 15px #a6adce1a;
  width: 153px;
  .card-title {
    font: 600 14px/40px Quicksand;
    margin: 0;
  }
  .form__input-label,
  .form__input {
    font: 400 14px/22px Raleway;
  }
  .form__input-label {
    top: 5px;
  }
  margin-left: 30px;
  padding: 17px 15px;
  //badge inside period menu
  .badge {
    margin: 5px 7.5px;
    background: $blue;
  }
  .badge.badge--inactive {
    background: #ffffff 0% 0% no-repeat padding-box !important;
  }
}

.container {
  display: flex;
  //   margin-top: 100px;
  align-items: flex-start;
}

.badge.badge--class {
  margin: 5px 7.5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #c7ccdb;
}

.badge.badge--class.badge--active {
  background-color: #69a9f2;
  color: #fff;
}
