<h1>form.get('f1').value : {{ loginForm.get('f1').value }}</h1>
<h1>onchangeValue event: {{ updatedValue }}</h1>
<h1>ngmodel: {{ modelTest }}</h1>

<h1>touched : {{ loginForm.get('f1').touched }}</h1>
<h1>dirty : {{ loginForm.get('f1').dirty }}</h1>
<h1>disabled : {{ loginForm.get('f1').disabled }}</h1>
<input type="text" [(ngModel)]="modelTest" />
<edu-select
  elementId="f22"
  [(ngModel)]="modelTest"
  (onValueChange)="updateValue($event)"
  (edu-change)="log($event)"
  (edu-keydown)="log($event)"
>
  <span class="edu-label">
    numbers <span class="ashcolor optional">123</span>
  </span>
  <edu-option OptionValue="a"> 1 as s</edu-option>
  <edu-option OptionValue="b"> 2 </edu-option>
  <edu-option OptionValue="c"> 3 </edu-option>
  <edu-option OptionValue="d"> 4 </edu-option>
  <edu-option OptionValue="e"> 5 </edu-option>
  <edu-option OptionValue="f"> 6 </edu-option>
</edu-select>
{{ modelTest }}
<form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
  <edu-icon-select
    [textParserFn]="setDisplayValue"
    formControlName="f1"
    [valueOptions]="options"
    (edu-tick)="log($event)"
  >
    <div class=" prefix" InputAffix>
      <img src="assets/user-settings/modal_india.svg" alt="" srcset="" />
    </div>
    <span class="edu-label">
      numbers <span class="ashcolor optional">123</span>
    </span>
  </edu-icon-select>
  <br />
  <edu-select
    formControlName="f2"
    alignment="center"
    (onValueChange)="updateValue($event)"
    (edu-change)="log($event)"
    (edu-keydown)="log($event)"
  >
    <span class="edu-label">
      numbers <span class="ashcolor optional">123</span>
    </span>
    <edu-option [OptionValue]="testVal"> 0 </edu-option>
    <edu-option OptionValue="2"> 2 </edu-option>
    <edu-option OptionValue="3"> 3 </edu-option>
    <edu-option OptionValue="4"> 4 </edu-option>
    <edu-option OptionValue="5"> 5 </edu-option>
    <edu-option OptionValue="6"> 6 </edu-option>
  </edu-select>

  <br />
  <!-- <edu-select
    formControlName="f3"
    (onValueChange)="updateValue($event)"
    (edu-change)="log($event)"
    (edu-keydown)="log($event)"
  >
    <span class="edu-label">
      numbers <span class="ashcolor optional">123</span>
    </span>
    <edu-option OptionValue="1"> 1 </edu-option>
    <edu-option OptionValue="2"> 2 </edu-option>
    <edu-option OptionValue="3"> 3 </edu-option>
    <edu-option OptionValue="4"> 4 </edu-option>
    <edu-option OptionValue="5"> 5 </edu-option>
    <edu-option OptionValue="6"> 6 </edu-option>
  </edu-select> -->

  <br />
</form>

<br />
<div class="group-row just-space">
  <ul role="listbox">
    <li role="option">1</li>
    <li role="option">2</li>
    <li role="option">3</li>
    <li role="option">4</li>
  </ul>

  <select name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <select name="" id="">
    <option value="">input <input type="text" name="" id=""/></option>
    <option value="1">apple</option>
    <option value="2">orange</option>
    <option value="3">pear</option>
    <option value="durain">durain</option>
    <option value="apple">apple</option>
    <option value="orange">orange</option>
    <option value="pear">pear</option>
    <option value="durain">durain</option>
    <option value="apple">apple</option>
    <option value="orange">orange</option>
    <option value="pear">pear</option>
    <option value="durain">durain</option>
    <option value="apple">apple</option>
    <option value="orange">orange</option>
    <option value="pear">pear</option>
    <option value="durain">durain</option>
    <option value="apple">apple</option>
    <option value="orange">orange</option>
    <option value="pear">pear</option>
    <option value="durain">durain</option>
    <option value="apple">apple</option>
    <option value="orange">orange</option>
    <option value="pear">pear</option>
    <option value="durain">durain</option>
    <option value="apple">apple</option>
    <option value="orange">orange</option>
    <option value="pear">pear</option>
    <option value="durain">durain</option>
  </select>
  <select name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <select name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
</div>
