 
 <h1>active value : {{loginForm.get('f1').value}}</h1>
 <h1> touched : {{loginForm.get('f1').touched}}</h1>
 <h1> dirty : {{loginForm.get('f1').dirty}}</h1>
 <h1> disabled : {{loginForm.get('f1').disabled}}</h1>
 <h1> onchangeValue: {{updatedValue}} </h1>
 

 <form  [formGroup]="loginForm" (ngSubmit)="formSubmit()">

<edu-select   formControlName="f1"   (onValueChange) = "updateValue($event)"  >
    <span class ="edu-label"> numbers <span class ="ashcolor optional">123</span> </span>
    <edu-option OptionValue='11' > 11 </edu-option>
    <edu-option OptionValue='22' > 22 </edu-option>
    <edu-option OptionValue='3' > 3 </edu-option>
    <edu-option OptionValue='4' > 4 </edu-option>
    <edu-option OptionValue='5' > 5 </edu-option>
    <edu-option OptionValue='6' > 6 </edu-option>
    <edu-option OptionValue='' > clear all </edu-option>
</edu-select>


 
 <br>
 
<br>
<button (click)="toggleF1()">{{loginForm.get('f1').disabled  ? 'enable' : 'disable'}}  select</button>
</form>