// @import '../../../../assets/styles/modules/section-module';
@import 'src/assets/styles/mixins/containers';
@import 'src/assets/styles/mixins/containers';
@import 'src/assets/styles/colors';

:host.intro .modal {
  max-width: 600px;
  width: 80%;
  padding: 50px;

  &__img,
  &__title {
    margin-bottom: 30px;
  }
  &__desc {
    font: 400 14px/22px Raleway;
    margin-bottom: 22px;
  }

  &__button {
    width: 96px;
    height: 40px;
  }
}

:host.complete .modal {
  max-width: 989px;
  max-height: 651px !important;
  width: 80%;
  padding: 120px 60px 60px 60px;
  &__title {
    font: 600 34px/54px Quicksand;
  }
  &__img,
  &__title {
    margin-bottom: 40px;
  }
  &__desc {
    font: 400 16px/26px Raleway;
    margin-bottom: 118px;
  }

  &__button {
    width: 224px;
    height: 52px;
  }
}

.modal {
  @include modal();
  padding: 110px 50px 60px 50px;
  & > * {
    flex-shrink: 0;
  }

  &__img {
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__desc {
    margin-bottom: 118px;
  }
  &__button {
    // @include button_default($blue, white);
    width: 244px;
    margin: 0 10px;
  }
}
.modal {
  max-height: unset !important;
}
.modal__text {
  margin-bottom: 10px;
}

// main {
//   @include splitLayout();
//   .form {
//     @include displayFlex(flex-start, center, column);
//     width: 90vw;
//     max-width: 1080px;

//     &__title {
//       margin-bottom: 32px;
//     }

//     &__badge {
//       width: 44px;
//       height: 44px;
//       font-size: 14px;
//       line-height: 22px;
//     }
//     &__btns {
//       display: flex;
//     }
//     &__btn {
//       background: $blue;
//       margin: 0 10px;
//       width: 200px;
//       bottom: -180px;
//       transform: translateY(-100%);

//       &:first-child {
//         color: $blue;
//         background-color: white;
//         border: 1px solid $blue;
//       }

//       &:active {
//         top: unset;
//         bottom: -186px;
//       }
//     }
//   }
//   .round-badges {
//     margin-bottom: 30px;
//   }
// }
// .modal__overlay {
//   z-index: 20;
// }
// .drop-zones {
//   @include displayFlex(space-between);
//   max-width: 1000px;
//   width: 95%;
// }
// @include dropZone();
// .drop-zone {
//   @include displayFlex(flex-start, center, column);
// }

::ng-deep .orangeColor {
  color: #f2b269;
}
::ng-deep .modal__text p {
  margin: 60px;
}
