<main>
  <div class="modal__overlay" (click)="onBtnClick()">
    <div class="modal" (click)="onModalClick($event)">
      <img class="modal__img" [src]="icon" alt="" />
      <h2 class="modal__title">
        {{ header }}
      </h2>
      <div>
        <p class="modal__desc">
          <ng-content></ng-content>
          {{ description }}
        </p>
      </div>
      <div class="modal__btns" *ngIf="completeModal; else startModalBtn">
        <button
          ButtonType="basic"
          class="modal__button"
          (click)="onLeftBtnClicked()"
        >
          {{ leftBtn }}
        </button>
        <button
          ButtonType="basic"
          class="modal__button"
          (click)="onRightBtnClicked()"
        >
          {{ rightBtn }}
        </button>
      </div>
      <ng-template #startModalBtn>
        <button ButtonType="basic" class="modal__button" (click)="onBtnClick()">
          {{ btnText }}
        </button>
      </ng-template>
    </div>
  </div>
</main>
