<div class="card student-summary">
  <h5 class="student-summary__title">
    Total <span class="user-type">{{ userType }}</span>
  </h5>
  <p class="student-summary__desc student-summary__desc--total">
    {{ _users.length }}
  </p>
  <div class="student-summary__footer" *ngIf="displayFooter === true">
    <div
      class="student-summary__group"
      *ngFor="let class of classes | keyvalue"
    >
      <p class="student-summary__desc">{{ class.value.length }}</p>
      <div class="student-summary__icon">
        <span>{{ class.key }}</span>
      </div>
    </div>
  </div>
</div>
