<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content" *ngIf="uploadForm">
      <div class="content-wrapper">
        <h2 class="content__title">
          Upload your school logo
        </h2>
        <form [formGroup]="uploadForm">
          <!-- <edu-img-upload
            class=""
            formControlName="image"
            (confirm)="onImageUpload($event)"
          >
            <div class="edu-img-upload__dropzone content__img-wrapper">
              <img
                class="content__img"
                src="/assets/iconfinder_plus.svg"
                alt=""
              />
            </div>
          </edu-img-upload> -->

          <edu-image-upload
            (uploadimagedata)="onImageUpload($event)"
            formControlName="image"
          ></edu-image-upload>
        </form>
      </div>
    </div>
    <div class="content__btn-wrapper">
      <button
        ButtonType="basic"
        class="content__button"
        [routerLink]="['../', activatedRouteData.next]"
      >
        Continue
      </button>
    </div>
  </section>
</main>
