<main>
  <section class="section">
    <button
      class="section__back-btn"
      [routerLink]="['../', activatedRouteData.previous]"
    >
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>
    <div class="content" *ngIf="uploadForm">
      <h2 class="content__title">
        Upload your school logo
      </h2>
      <form [formGroup]="uploadForm">
        <!-- <edu-image-upload
          (uploadimagedata)="onImageUpload($event)"
          formControlName="image"
        ></edu-image-upload> -->
        <edu-image-upload-v3
          (onImageCropped)="onCropImage($event)"
        ></edu-image-upload-v3>
      </form>
      <div class="content__btn-wrapper">
        <button
          class="content__btn"
          [routerLink]="['../', activatedRouteData.next]"
        >
          Continue
        </button>
      </div>
    </div>
  </section>
</main>
