@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/alignment';

//fix dateRAnge bug for inline non range datepickers

:host.isInline.isNotRange ::ng-deep .myDpRangeColor {
  span {
    color: $black;
  }
  &::after {
    display: none !important;
  }
}
//hideborder
:host.hideBorder ::ng-deep .myDpSelector {
  border: 0px !important;
}

:host {
  position: relative;
  @include displayFlex();
  flex-direction: column;
  width: 200px;
  height: 54px;
}

.exposedInput {
  width: 200px;
  height: 54px;
  text-align: center;
  border: none;
  border-bottom: 1px solid $grey-blue;
  color: $black;
  font: 400 16px/54px Raleway;
  &:focus {
    outline-width: 0px;
  }
  &::placeholder {
    color: $black;
    font: 400 16px/24px Raleway;
  }
}
.input-box-container {
  height: 0;
  padding: 0;
  margin: 0;
  width: 0;
}
.hiddenInput {
  width: 100%;
  //   display: none;
  opacity: 0;
  height: 0;
}

//overwrite of existing elements
:host ::ng-deep {
  //pointer styling
  .myDpSelectorArrow {
    &::before,
    &::after {
      //triangle ??
      // position: absolute;
      left: 50%;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
      border-bottom: 7px solid $blue !important;
    }
    &::after {
      position: absolute;
      top: -16px;
      border-bottom: 7px solid white !important;
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
      transform-origin: center bottom;
      transform: translateX(-1px) scale(0.8);
    }
  }

  //generic border styling and datepover styling
  .myDpSelector {
    box-shadow: unset;
    border-color: $blue;
    top: unset !important;
    bottom: -10px;
    width: 289px !important;
    height: 283px !important;
    left: 50% !important;
    transform: translate(-50%, 100%);
    // transform: translateY(100%);
  }

  //hover styling for motnh and year
  .myDpFooterBtn,
  .myDpHeaderBtnEnabled,
  .myDpMonthLabel,
  .myDpYearLabel {
    transition: none;
    color: $black;
    font: 500 14px/16px Raleway !important;
    &:hover {
      color: $blue;
    }
  }

  //standardize width in table
  .myDpWeekDayTitle {
    color: $ash;
    width: 41px;
  }

  //set color of prev and next month
  .myDpNextMonth,
  .myDpPrevMonth {
    color: $ash;
  }

  // left cheveron / page  styling overwrite
  .myDpIconLeftArrow {
    &::before {
      content: url('/assets/date-picker_arrow-left.svg');
    }
    &:hover::before {
      content: url('/assets/date-picker_arrow-left-blue.svg');
    }
  }
  .myDpIconRightArrow {
    &::before {
      content: url('/assets/date-picker_arrow-right.svg');
    }
    &:hover::before {
      content: url('/assets/date-picker_arrow-right-blue.svg');
    }
  }

  //individual hover,selected styling of day,months,year
  .myDpDaycell:focus {
    box-shadow: unset;
  }

  .myDpDaycell > span {
    margin-top: 4px;
    margin-left: 4px;
    height: 34px;
    width: 34px;
    display: block;
    line-height: 34px;
    border-radius: 50%;
  }

  //dpRange styling
  .myDpRangeColor {
    border: 0px;
    background: none;

    &::after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 0;
      left: 0;
      top: 4px;
      margin-left: 0px;
      z-index: 0;
      height: 34px;
      width: 41px;
      background: #dbeaff;
    }

    &:not(.myDpSelectedDay) > span {
      color: $blue;
      position: relative;
      z-index: 1;
    }
  }

  //firstOfType
  .myDpRangeColor:first-of-type,
  td:not(.myDpRangeColor) + td.myDpRangeColor {
    &::after {
      width: 38px;
      left: 4px;
      border-radius: 19px 0 0 19px !important;
    }
  }
  td.myDpRangeColor:last-of-type::after {
    left: -4px;
    border-radius: 0 19px 19px 0 !important;
  }
  td:not(.myDpRangeColor)
    + td.myDpRangeColor.myDpSelectedDay:last-of-type::after {
    width: 0px !important;
  }
  td:not(.myDpRangeColor)
    + td.myDpTableSingleDay:hover.myDpRangeColor.myDpSelectedDay::after {
    width: 0px !important;
  }
  //lastOfType

  //overlaping dateRange background when its not (i) after first selected, (ii) after final selected , (iii) before last-of-type
  .myDpRangeColor:not(:last-of-type)::after {
    width: 65px;
  }
  .myDpRangeColor:not(.myDpSelectedDay).myDpTableSingleDay:hover
    + .myDpRangeColor::after,
  .myDpRangeColor:not(:last-of-type).myDpTableSingleDay:hover
    + .myDpRangeColor::after {
    left: unset;
    right: 0;
  }
  //overlaping dateRange background when IT IS (i) after first selected
  td:not(.myDpRangeColor) + .myDpSelectedDay:not(:last-of-type)::after {
    width: 65px;
  }

  //overlaping dateRange background when IT IS (ii) after final selected
  .myDpTableSingleDay:hover + .myDpRangeColor.myDpSelectedDay::after {
    width: 65px;
    right: 4px;
  }

  //overlaping dateRange background when IT IS (iii) before last-of-type
  .myDpTableSingleDay:hover + .myDpRangeColor:last-of-type::after {
    width: 65px;
    right: 4px !important;
  }

  td.myDpRangeColor + td.myDpRangeColor.myDpTableSingleDay:hover::after {
    background: unset;
    z-index: -2;
  }

  .myDpRangeColor + .myDpRangeColor.myDpSelectedDay {
    &::after {
      border-radius: 0 19px 19px 0 !important;
      width: 38px;
    }
  }

  //generic color styling for different state
  .myDpSelectedDay,
  .myDpSelectedMonth,
  .myDpSelectedYear {
    background: none;
    border: 0px;
    span {
      position: relative;
      z-index: 1;

      background: $blue;
      color: white !important;
    }
  }
  .myDpTableSingleDay,
  .myDpTableSingleMonth,
  .myDpTableSingleYear {
    border: 0px;
    outline: none;
    &:active {
      outline: none;
    }
    &:hover {
      background: none;
      transition: none;
      &:after {
        transition: none;
      }
      span {
        position: relative;
        z-index: 1;
        transition: none;

        background: $orange !important;
        color: white !important;
      }
    }
  }

  //day styling
  .myDpDaycell {
    width: 38px;
    height: 38px;
    span {
      margin-top: 4px;
      margin-left: 4px;
      height: 34px;
      width: 34px;
      display: block;

      line-height: 34px;
    }
  }

  //month styling

  .myDpMonthcell {
    height: 38px;
    span {
      margin-top: 4px;
      margin-left: 4px;
      height: 34px;
      display: block;
      border-radius: 19px;
      line-height: 34px;
    }
  }
  //year styling

  .myDpYearcell {
    height: 38px;
    span {
      margin-top: 4px;
      margin-left: 4px;
      height: 34px;
      display: block;
      border-radius: 19px;
      line-height: 34px;
    }
  }

  // .myDpSelectorArrowLeft:after,
  // .myDpSelectorArrowLeft:before {
  //   left: 50%;
  // }
  // .myDpSelectorArrowLeft:after {
  //   border-bottom-color: white;
  // }
  // .myDpSelector.myDpSelectorArrow.myDpSelectorArrowLeft.myDpSelectorAbsolute {
  //   padding: 11px;
  //   broder-color: red;
  //   background: white;
  // }
  // .myDpIconLeftArrow,
  // .myDpIconRightArrow {
  // }
  // .myDpMonthBtn,
  // .myDpYearBtn {
  //   font: 500 14px/16px Raleway;
  //   color: #212121;
  // }
  // .myDpIconLeftArrow::before {
  //   content: url('/assets/date-picker_arrow-left.svg');
  // }
  // .myDpIconRightArrow::before {
  //   content: url('/assets/date-picker_arrow-right.svg');
  // }
  // th.myDpWeekDayTitle {
  //   font: 600 12px/14px Raleway;
  //   color: #a5aec7;
  // }
  // .myDpNextMonth .myDpTableSingleDay,
  // .myDpPrevMonth .myDpTableSingleDay {
  //   font: 400 12px/14px Roboto;
  //   color: #a5aec7;
  // }
  // .myDpCurrMonth .myDpTableSingleDay {
  //   font: 400 12px/14px Roboto;
  //   color: #212121;
  // }
  // .myDpSelectedDay,
  // .myDpSelectedMonth,
  // .myDpSelectedYear {
  //   background: unset;
  // }

  // .myDpDaycell:focus,
  // .myDpMonthcell:focus,
  // .myDpYearcell:focus {
  //   box-shadow: unset;
  //   outline-width: 0;
  // }
  // .myDpSelectedDay span,
  // .myDpMarkCurrDay,
  // .myDpMarkCurrMonth,
  // .myDpMarkCurrYear {
  //   border-width: 0px !important;
  //   color: white;
  //   background: #69a9f2;
  // }
  // .myDpDayValue {
  //   width: 38px;
  //   height: 38px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  // .myDpDaycell {
  //   border-radius: 50%;
  // }
  // .myDpDayValue {
  //   width: 35px;
  //   height: 35px;
  //   display: flex;
  //   border-radius: 50%;
  //   justify-content: center;
  //   align-items: center;
  // }
  // .myDpTableSingleMonth {
  //   width: 50%;
  // }
  // .myDpMonthNbr {
  //   display: none;
  // }

  // .myDpRangeColor {
  //   border-radius: unset !important;
  //   background-color: #dbeaff;
  // }

  // .myDpSelector {
  //   border-color: $blue;
  //   top: unset !important;
  //   bottom: -10px;

  //   left: 50% !important;
  //   transform: translate(-50%, 100%);
  //   // transform: translateY(100%);
  // }

  // //button styling
  // .datepicker__btn {
  //   position: absolute;
  //   border: 0;
  //   right: 0;
  //   cursor: pointer;
  //   background: transparent;
  //   &:focus {
  //     outline-width: 0px;
  //   }
  //   &:hover,
  //   &:active {
  //     transform: scale(1.15);
  //   }
  //   label {
  //     opacity: 0;
  //     z-index: 2;
  //     left: 0;
  //     top: 0;
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     //   background-color: red;
  //   }
  // }

  // //pointer styling
  // .myDpSelectorArrow {
  //   &::before,
  //   &::after {
  //     //triangle ??
  //     // position: absolute;
  //     left: 50%;
  //     content: '';
  //     display: block;
  //     width: 0;
  //     height: 0;
  //     border-left: 5px solid transparent !important;
  //     border-right: 5px solid transparent !important;
  //     border-bottom: 7px solid $blue !important;
  //   }
  //   &::after {
  //     position: absolute;
  //     top: -16px;
  //     border-bottom: 7px solid white !important;
  //     border-left: 5px solid transparent !important;
  //     border-right: 5px solid transparent !important;
  //     transform-origin: center bottom;
  //     transform: translateX(-1px) scale(0.8);
  //   }
  // }

  // .myDpMonthYearText {
  //   // Month Year Text on day view
  //   font: 500 14px/16px Raleway;
  // }

  // .myDpTableSingleYear:hover,
  // .myDpTableSingleMonth:hover {
  //   background: transparent;
  // }
  // .myDpTableSingleDay:not(.myDpSelectedDay):hover span,
  // .myDpTableSingleMonth:not(.myDpSelectedMonth):hover span,
  // .myDpTableSingleYear:not(.myDpSelectedYear):hover span {
  //   background-color: #ddd;
  // }

  // //month  styling
  // .myDpHeaderBtn.myDpMonthBtn.myDpMonthLabel {
  //   color: $blue;
  // }

  // .myDpMonthValue {
  //   margin: 3px;
  //   display: block;
  //   height: 28px;
  //   line-height: 28px;
  //   border-radius: 100px;
  // }
  // .myDpSelectedMonth span {
  //   background: $blue;
  //   color: white;
  // }

  // //year styling{
  // .myDpSelectedYear span {
  //   background: $blue;
  //   color: white;
  // }
  // .myDpYearValue {
  //   margin: 3px;
  //   display: block;
  //   height: 28px;
  //   line-height: 28px;
  //   border-radius: 100px;
  // }
  // y_2_2 myDpYearcell myDpSelectedYear myDpTableSingleYear
}

.clicker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
