<main>
  <section class="section">
    <button class="section__back-btn" (click)="goToDashboard()">
      <img src="../../../assets/chevron-left.svg" alt="" /> Back
    </button>

    <div class="content">
      <div class="content__body groups groups--split-layout">
        <edu-classes
          (classClicked)="processClassClick($event)"
          class="group group--row-layout badges flex-wrap"
          [classes]="sortedClasses"
          [style]="{
            width: '44px',
            height: '44px',
            margin: '4px',
            border: '2px solid #e6e9f3',
            fontSize: '12px'
          }"
        ></edu-classes>
        <edu-section-drop-box
          [selectedClass]="selectedClass"
          (onDropped)="processDroppedStudent($event)"
          (onRemove)="processStudentRemoval($event)"
          (onAddSection)="processAddSection($event)"
          [sections]="selectedSections"
          (onChangeSectionName)="onChangeGroupName($event)"
        >
        </edu-section-drop-box>
      </div>
      <div class="content__btn-wrapper">
        <button
          class="content__btn content__btn--inactive"
          (click)="goToConfirmation()"
        >
          Continue
        </button>
      </div>
    </div>
  </section>
  <aside class="aside">
    <edu-section-aside
      *ngIf="selectedClass | async"
      [selectedClass]="selectedClass"
      [students]="notDraggedStudents"
      (onAssign)="onAssign($event)"
    ></edu-section-aside>
  </aside>
</main>
<edu-modal-v2
  *ngIf="(sectionsModalState | async).startModal"
  header="Creating Sections"
  icon="assets/sections-intro.svg"
  btnText="GOT IT!"
  (btnClicked)="onContinue()"
>
  In this step, you will create <b class="orangeColor">sections</b> and
  <b class="orangeColor">assign</b> students to them.<br />Simply select the
  Class you want to modify, add and name its sections.<br />
  Once done, simply select the section and click (or drag) the available<br />student
  tags on the right side of the screen to assign.<br />
  If you have no preference about what student goes into which section,<br />use
  the <b class="orangeColor">random function</b>!
</edu-modal-v2>
