<main>
  <div class="modal__overlay">
    <div class="modal">
      <h2 class="modal__title">
        Add Students
      </h2>
      <form
        id="addEditForm"
        [formGroup]="addEditForm"
        (ngSubmit)="createStaff()"
        class="modal__content"
      >
        <div class="modal__content-profile" formGroupName="profilePic">
          <h3 class="modal__content-header">Profile Picture</h3>
          <edu-img-upload-v2
            formControlName="profileImage"
            (uploadimagedata)="handleImgUpload($event)"
          ></edu-img-upload-v2>
        </div>
        <div class="modal__content-staff-details" formGroupName="profileDto">
          <h3 class="modal__content-header">
            Student Details
          </h3>
          <div class="group--row form--row">
            <edu-input alignment="left" formControlName="firstName">
              <span class="edu-label">First Name</span>
            </edu-input>
            <edu-input
              class="p-0 middleName"
              alignment="left"
              formControlName="middleName"
            >
              <span class="edu-label"
                >Middle Name<b class="ashcolor">(Optional)</b></span
              >
            </edu-input>
            <edu-input alignment="left" formControlName="familyName">
              <span class="edu-label">Last Name</span>
            </edu-input>
          </div>
          <div class="group--row form--row">
            <edu-input alignment="left" formControlName="dob">
              <span class="edu lebel">Date of Birth</span>
            </edu-input>
            <!-- <edu-input-field
              idPrefix="dateOfBirth"
              formControlName="dob"
              text="Date of Birth"
            ></edu-input-field> -->
            <!-- <edu-datepicker formControlName="dob"></edu-datepicker> -->
            <edu-select formControlName="gender" alignment="left">
              <span class="edu-label"> Sex </span>
              <edu-option OptionValue="Male"> Male </edu-option>
              <edu-option OptionValue="Female"> Female </edu-option>
            </edu-select>
          </div>

          <div class="group--row form--row">
            <edu-icon-field
              formControlName="country"
              [fieldName]="'Country'"
              [icons]="countryIconMap"
              (valueChanged)="updateCountry($event)"
              mode="select"
            ></edu-icon-field>
            <!-- <edu-country-field
              formControlName="country"
              [fieldName]="'Country'"
              [icons]="countryIconMap"
              (valueChanged)="updateCountry($event)"
              mode="select"
            ></edu-country-field> -->

            <edu-input alignment="left" formControlName="address">
              <span class="edu-label"> Address</span>
            </edu-input>
          </div>

          <div class="group--row form--row">
            <edu-input alignment="left" formControlName="city">
              <span class="edu-label"> City</span>
            </edu-input>
            <edu-input alignment="left" formControlName="state">
              <span class="edu-label"> State</span>
            </edu-input>

            <edu-input alignment="left" formControlName="zipcode">
              <span class="edu-label"> Zip Code</span>
            </edu-input>
          </div>

          <div class="group--row form--row">
            <edu-select alignment="left" formControlName="classId">
              <span class="edu-label"> Class </span>
              <edu-option
                *ngFor="let studentXClass of studentsXClasses | async"
                [OptionValue]="studentXClass.classId"
                >{{ studentXClass.className }}
              </edu-option>
            </edu-select>

            <edu-input alignment="left" formControlName="id" disabled="true">
              <span class="edu-label ashcolor"> ID - Auto Generated</span>
            </edu-input>
          </div>
        </div>
        <div
          class="modal__content-subject-area"
          formGroupName="guardianDetailsDto"
        >
          <h3 class="modal__content-header">Guardian Details</h3>
          <div class="group--row form--row">
            <edu-input
              alignment="left"
              formControlName="firstName"
              elementId="firstName1"
              ><span class="edu-label">
                First Name
              </span>
            </edu-input>
          </div>
          <div class="group--row form--row">
            <edu-input
              alignment="left"
              formControlName="middleName"
              elementId="middleName1"
              ><span class="edu-label">
                Middle Name <b class="ashcolor">(Optional)</b>
              </span>
            </edu-input>
          </div>
          <div class="group--row form--row">
            <edu-input
              alignment="left"
              formControlName="familyName"
              elementId="familyName1"
              ><span class="edu-label">
                Family Name
              </span>
            </edu-input>
          </div>

          <!-- <edu-phone-field
            formControlName="phone"
            [icons]="countryIconMap"
            fieldName="Phone"
            (valueChanged)="updatePhone($event)"
          ></edu-phone-field> -->
          <div class="group--row form--row">
            <edu-phone-icon-field
              formControlName="phone"
              fieldName="Phone"
              [icons]="countryIconMap"
              (valueChanged)="updatePhone($event)"
            ></edu-phone-icon-field>
          </div>
          <div class="group--row form--row">
            <edu-input alignment="left" formControlName="email"
              ><span class="edu-label">
                Email Address <b class="ashcolor">(Optional)</b>
              </span>
            </edu-input>
          </div>
        </div>
      </form>
      <button
        form="addEditForm"
        class="form__round-btn form__round-btn--active"
        type="submit"
      >
        <img src="../../../assets/iconfinder_plus-white.svg" alt="" />
      </button>
    </div>
  </div>
</main>
