@import 'src/assets/styles/colors';
// @import "src/assets/styles/form-general";
@import 'src/assets/styles/mixins/alignment';

:host {
  display: block;
  position: relative;
  margin: auto;
  max-width: 380px;
  cursor: text;
  height: 54px;
  // @include displayFlex(center, center, column);
}

input:focus {
  outline: none;
}

.form {
  &__input {
    border: none;
    height: 0;
    width: 100%;
    text-align: center;
    font: 400 20px/24px Raleway;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: transparent;
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }

  &__label {
    order: -1;
    & > * {
      transition: none;
    }
    line-height: 1.5;

    padding: 0;
    margin: 0;

    &.left {
      align-self: flex-start;
    }
    &.center {
      align-self: center;
    }
    &.right {
      align-self: flex-end;
    }
  }
  &__input-wrapper {
    margin: auto;
    height: 100%;
    @include displayFlex(flex-start, center, row);
    border-bottom: 1px solid #e6e9f3;
  }
}

.label--focus {
  color: $blue;
}

.input--active {
  height: auto;
}

.input-wrapper-border--active {
  border-color: $blue;
}

.input-wrapper-border--error {
  border-color: $red;
  label {
    color: $red;
  }
}

.label-input-affix__wrapper {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.label-input__wrapper {
  //main wrapper for both input and label
  position: relative;
  flex-grow: 1;
  @include displayFlex(center, center, column);
  height: 100%;
}

//validators

.validator {
  transition: none;
  color: $red;

  &.bottom-flow {
  }

  //for absolute positioned validators
  &.left,
  &.right,
  &.bottom {
    position: absolute;
  }

  &.right {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
  }
  &.left {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
  }
  &.bottom {
    bottom: 0;
    left: 0;
    transform: translateY(100%);
  }
}

//disabled state
.disabled {
  input,
  input::placeholder,
  label {
    color: $ash;
  }
}

.prefix,
.suffix {
  margin-bottom: 17px;
  display: flex;
}
.prefix {
  order: -1;
}

.suffiix {
  order: 2;
}
