<main>
    <section>
        <img class ="content__brand" src="/assets/registration/logo.svg" alt="">

        <div class="content">

        <h1 class = "content__title">Create New Account</h1>
        <p class = "content__desc">Already have an account? <a class = "bluecolor"  href="">Sign In</a></p>
           
        <form action=""  [formGroup]="loginForm" (ngSubmit)="formSubmit()" >
                
                <edu-input    formControlName="username"    alignment = "left" elementId ="username"> 
                    <span class = "edu-label"> User Name </span>
                    <img  class="edu-input__suffix" InputAffix src="/assets/registration/user-tick-grey.svg" alt="">    
                </edu-input>

                <edu-input  isPassword = "true" alignment = "left" formControlName="pw"> 
                    <visibility-toggle  class="edu-input__suffix" InputAffix ></visibility-toggle>    
                    <span class = "edu-label"> Password </span>
      
                </edu-input>
               


                <button class = "form__btn">sign in</button>
                <div class="group--row-layout just-center">
                    <div class="group--row-layout just-space-between input__wrapper--last">
                        <span>123</span>
                        <button class = "btn--text">Forgot Password?</button>
                    </div> 
                </div>

        </form>
        

     </div>

    </section>
</main>