<div class="header">
  <radial-progress [value]="progress"></radial-progress>
  <h2 class="nav__title">Set Up Your School</h2>
  <p class="nav__desc">
    Complete a step to be able to move to the next one. You can go back to work
    on previous steps, but that might have consequences, don’t worry, we will
    alert you.
  </p>
</div>

<div class="onboard_nav">
  <ul>
    <li
      [ngClass]="{ 'w-auto': isLast }"
      *ngFor="let item of dasboardNavConfig; index as i; last as isLast"
    >
      <div class="tracker" [ngClass]="trackerState(i)">
        <div class="icon">
          <img
            src="assets/dashboard/{{ getIconPath(i) }}.svg"
            [routerLink]="item.route"
            alt=""
          />
          <span class="label">{{ item.label }} </span>
        </div>
        <div *ngIf="!isLast" class="dash i{{ i }}"></div>
      </div>
    </li>
  </ul>
</div>

<div class="footer">
  <p>Current Step</p>
  <button
    ButtonType="basic"
    [routerLink]="[dasboardNavConfig[activeNavIndex].route]"
  >
    Set Up {{ dasboardNavConfig[activeNavIndex].label }}
  </button>
</div>

<edu-modal-v2
  *ngIf="(selectModalState | async).startModal"
  class="complete"
  btnText="GOT IT"
  header="Welcome to our On-Boarding"
  icon="assets/icon-complete.svg"
  btnText="GET ME STARTED"
  (btnClicked)="onContinue()"
>
  <span class="modal__text">
    <p>Excity but aso intimidating</p>
    <p>
      This step by step process would get you up and running
      <i class="orangeColor">in no time</i>
    </p>
    <p>
      The entire process take 20 to 120 minutes
    </p>
  </span></edu-modal-v2
>
