<h1>Delete Term {{ termTitle }}?</h1>
<p>To delete, select a replacement term from the dropdown</p>
<div class="dropdown-container">
  <edu-select [formControl]="termCtrl">
    <span class="edu-label">
      Select Timetable
    </span>
    <edu-option *ngFor="let term of data.terms" [OptionValue]="term.termId">{{
      term.termStart
    }}</edu-option>
  </edu-select>
</div>
<div class="dialog-buttons">
  <button (click)="onCancel()">Cancel</button>
  <button
    class="btn-flat btn-red"
    [disabled]="termCtrl.invalid"
    (click)="onDelete()"
  >
    Delete
  </button>
</div>
