@import '../../../../../assets/styles/modules/section-module';
@include splitLayout();

section {
  padding-top: 46px;
  @include displayFlex(unset, unset, column);
}

.modal__text {
  max-width: 600px;
  display: block;
}
.form {
  position: relative;
  top: unset;
  left: unset;
  transform: unset;
  height: 100%;
  @include displayFlex(center, center, column);
  width: calc(100vw - 312px);
  max-width: 1080px;
  margin: auto;
  &__title {
    margin-bottom: 20px;
  }
  &__desc {
    color: $ash;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 22px;
  }

  &__icon-btn {
    @include iconButton();
    position: absolute;
    right: 0;
  }
}
.form__btn-wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.form__btn {
  background: #69a9f2;
  bottom: -206px;
  transform: translateY(-100%);
}
.form__btn:active {
  top: unset;
  bottom: -212px;
}
.form__btn--round {
  background: unset;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px #3c4b9b14;
  border: 2px solid #e6e9f3;
  position: relative;
  background: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.48px;
  color: #c7ccdb;
  background: white;
  margin: 0 10px;
}
.form__btn--round:focus {
  outline: none;
}
.form__btn--round:active {
  transform: scale(1.05);
}
.form__btn--round:hover {
  background: #c7ccdb;
  color: white;
}
