/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'assets/styles/typography';
@import 'assets/styles/colors';
@import 'assets/styles/mixins/components';
@import 'assets/styles/mixins/alignment';
@import 'assets/styles/main';
@import 'assets/styles/utils';
body {
  margin: 0;
  padding: 0;
}

/*
***** Card *****
*/
.card {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: white;
  max-width: 270px;
  width: 90%;
  border-radius: 15px;
  border: 1px solid #e6e9f3;
  box-sizing: border-box;
  padding: 40px 19px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
}
.card-img-wrapper {
  width: 100px;
  height: 100px;
  border: 2px dashed #e6e9f3;
  border-radius: 50%;
}
.card__title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.36px;
  color: #212121;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 300;
  font-weight: 500;
}
.card__desc {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.48px;
  font-weight: 600;
  color: #212121;
}
.card--dash {
  border: 1px dashed #c7ccdb;
  background: transparent;
  justify-content: center;
}
.card__title--dash {
  text-align: center;
  font: 400 14px/20px Raleway;
  letter-spacing: 0.42px;
  color: #a5aec7;
}

/*** Utility Classes ***/
.none {
  display: none;
}

.flex-wrap {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.round-badge {
  width: 32px;
  height: 32px;
  background: #69a9f2;
  color: white;
  border-radius: 50%;
  margin: 4px;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}

/*Frm*/


/*school profile components*/

edu-name-page{
  height: 100%;
}

edu-address-page,
edu-contact-details-page,
edu-logo-question-page,
edu-logo-upload-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
