<main>
  <div class="modal__overlay">
    <div class="modal">
      <h2 class="modal__title">
        Add/Edit Students
      </h2>
      <form
        id="addEditForm"
        [formGroup]="addEditForm"
        (ngSubmit)="createStaff()"
        class="modal__content"
      >
        <div class="modal__content-profile" formGroupName="profilePic">
          <h3 class="modal__content-header">Profile Picture</h3>
          <edu-img-upload-v2
            formControlName="profileImage"
            (uploadimagedata)="handleImgUpload($event)"
          ></edu-img-upload-v2>
        </div>
        <div class="modal__content-staff-details" formGroupName="profileDto">
          <h3 class="modal__content-header">
            Student Details
          </h3>
          <div class="modal__content-first-row">
            <edu-input-field
              idPrefix="firstName"
              formControlName="firstName"
              text="First Name"
            ></edu-input-field>

            <edu-input-field
              idPrefix="middleName"
              formControlName="middleName"
              text="Middle Name"
            ></edu-input-field>

            <edu-input-field
              idPrefix="familyName"
              formControlName="familyName"
              text="Family Name"
            ></edu-input-field>
          </div>
          <div class="modal__content-second-row">
            <edu-input-field
              idPrefix="dateOfBirth"
              formControlName="dob"
              text="Date of Birth"
            ></edu-input-field>
            <!-- <edu-datepicker formControlName="dob"></edu-datepicker> -->
            <edu-select formControlName="gender">
              <span class="edu-label"> Sex </span>
              <edu-option OptionValue="Male"> Male </edu-option>
              <edu-option OptionValue="Female"> Female </edu-option>
            </edu-select>
          </div>
          <div class="modal__content-third-row">
            <edu-country-field
              formControlName="country"
              [fieldName]="'Country'"
              [icons]="countryIconMap"
              (valueChanged)="updateCountry($event)"
              mode="select"
            ></edu-country-field>
            <edu-input-field
              idPrefix="address"
              formControlName="address"
              text="Address"
            ></edu-input-field>
          </div>
          <div class="modal__content-fourth-row">
            <edu-input-field
              idPrefix="city"
              formControlName="city"
              text="City"
            ></edu-input-field>
            <edu-input-field
              idPrefix="state"
              formControlName="state"
              text="State"
            ></edu-input-field>
            <edu-input-field
              idPrefix="zip"
              formControlName="zipcode"
              text="Zip Code"
            ></edu-input-field>
          </div>
          <div class="modal__content-fifth-row">
            <edu-select formControlName="classId">
              <span class="edu-label"> Class </span>
              <edu-option
                *ngFor="let studentXClass of studentsXClasses | async"
                [OptionValue]="studentXClass.classId"
                >{{ studentXClass.className }}
              </edu-option>
            </edu-select>
            <edu-input-field
              idPrefix="id"
              formControlName="id"
              [disabled]="true"
              text="ID - Auto Generated"
            ></edu-input-field>
          </div>
        </div>
        <div class="modal__content-subject-area" formGroupName="guardianDto">
          <h3 class="modal__content-header">Guardian Details</h3>
          <edu-input-field
            idPrefix="guardianFirstName"
            formControlName="firstName"
            text="First Name"
          ></edu-input-field>
          <edu-input-field
            idPrefix="guardianMiddleName"
            formControlName="middleName"
            text="Middle Name (Optional)"
          >
          </edu-input-field>
          <edu-input-field
            idPrefix="guardianFamilyName"
            formControlName="familyName"
            text="Family Name"
          >
          </edu-input-field>
          <edu-phone-field
            formControlName="phone"
            [icons]="countryIconMap"
            fieldName="Phone"
            (valueChanged)="updatePhone($event)"
          ></edu-phone-field>
          <edu-input-field
            idPrefix="guardianEmail"
            formControlName="email"
            text="Email Address (Optional)"
          ></edu-input-field>
        </div>
      </form>
      <button
        form="addEditForm"
        class="form__round-btn form__round-btn--active"
        type="submit"
      >
        <img src="../../../assets/iconfinder_plus-white.svg" alt="" />
      </button>
    </div>
  </div>
</main>
