@import 'src/assets/styles/colors';
// @import "src/assets/styles/form-general"; //remove dependency on this soon
@import 'src/assets/styles/mixins/components';

//default color >> $grey-blue

//animations
:host {
  // [active, inactive( default ), focus, disabled ]
  .wrapper {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  .wrapper:hover {
    background: #f8f9fa;

    border: 1px solid #e6e9f3;
    border-radius: 8px;
  }

  .focus.wrapper {
    background-color: #e6f3fd;
    border-color: $blue;
    border-radius: 8px;
    border: 1px solid $blue;
  }

  .active.wrapper {
    background-color: #e6f3fd;
    border-color: $blue;
    border-radius: 8px;
    border: 1px solid $blue;

    &:before {
      // transform-origin: top center;
      transform: rotate(180deg) translateY(-50%);
    }
  }

  .wrapper.disabled:hover {
    background: transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 0px;
  }
}

:host {
  display: block;
  position: relative;
  margin: auto;
  width: 380px;
  cursor: pointer;
  height: 44px;
}

//OPTION START
:host ::ng-deep edu-option {
  display: block;
  color: $black;
  transition: none;
  &:hover {
    color: $blue;
    background: $grey-white 0% 0% no-repeat padding-box;
  }
}

:host ::ng-deep edu-option.selected {
  color: $blue;
  background: $grey-white 0% 0% no-repeat padding-box;
}

:host ::ng-deep edu-option .active.option__wrapper {
  color: $blue !important;
}

:host ::ng-deep edu-option .option {
  &__wrapper {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.42px;
    white-space: nowrap;
    position: relative;
    @include displayFlex(flex-start);
    position: relative;
    height: 44px;
    padding: 0 20px;
    color: inherit;
  }

  &__checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
//OPTION END

//popup style
.popup {
  transition: none;

  cursor: pointer;
  position: absolute;
  background: white;
  z-index: 4;

  border: 1px solid $blue;
  border-radius: 6px;

  white-space: nowrap;
  // padding: $y-padding $x-padding;
  text-align: left;
  border-color: $blue;

  //hiding popover
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  bottom: -8px;
  left: 0;
  top: unset;
  position: absolute;
  transform: translate(0, 100%);

  &.active {
    min-width: 100%;
    width: auto;
    height: auto;
    overflow: unset;
    opacity: 1;
  }

  .pointer {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: 10px;

    &::before,
    &::after {
      //triangle ??
      // position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid $blue;
    }
    &::after {
      //triangle ??
      position: absolute;
      top: 0px;
      left: 0px;

      border-bottom: 7px solid white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      transform-origin: center bottom;
      transform: scale(0.8);
    }
  }
}

.popup__content-wrapper {
  // to prevent overflow of edges
  overflow: hidden;

  max-height: 170px;
  overflow-y: scroll;
  border-radius: 6px;
  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin: 0;
    margin-bottom: 5px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin: 0;
    margin-top: 5px;
  }
}

.select {
  //form__input--select is a checkbox used to toggle "select" element

  &__wrapper {
    @include displayFlex();
    position: relative;
    border-bottom: 1px solid $grey-blue;
    height: 100%;
    width: 100%;
    padding: 0 12px;
    &.active {
      border-color: $blue;
    }
    &:before {
      transform-origin: top center;
      width: 16px;
      height: 16px;
      right: 12.5px;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: url('/assets/iconfinder_chevron-up.svg') no-repeat no-repeat
        center center;
    }
  }
  &__checkbox {
    cursor: pointer;
    z-index: 2;
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0;
  }

  &__label {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.45;
    order: -1;
  }
  //(1) text displayed when selected by element
  &__input {
    text-overflow: ellipsis;
    background: unset;
    line-height: 1;
    text-align: center;
    height: 100%;
    width: 100%;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.45;
    height: 0;
    // border-bottom: 1px solid $grey-blue;

    color: transparent;

    &::placeholder {
      color: transparent;
    }
  }
}
.select__wrapper.hideChevron:before {
  display: none !important;
}
.input--active {
  height: auto;
  color: $black;
  &::placeholder {
    color: $black;
  }
}

.input-label {
  //wrapper for both input and label
  // position: relative;
  @include displayFlex(center, center, column);
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  input {
    margin: 0;
  }
}

.prefix {
  order: -1;
}

.focus,
.active {
  &.select__wrapper:before {
    background: url('/assets/iconfinder_chevron-up-blue.svg') no-repeat
      no-repeat center center;
  }
  &.select__wrapper {
    border-color: $blue;
  }
}

//disabled state
.disabled {
  input,
  input::placeholder,
  label {
    color: $ash;
  }
}

//form wrapper overwrite
.labelIsPlaceholder.label--active {
  display: none;
}
.label--active {
  top: 0;
  // transform: scale(0.8);
  text-align: center;
  .optional {
    font-size: 0;
  }
  .label__shrink-wrap {
    transition: none;
    font-size: 0.85em;
  }
}

input {
  border: none;
  align-self: flex-end;
  margin-bottom: 10px;
  font: 400 20px/24px Raleway;
  padding: 0;
}
.center {
  label,
  input {
    text-align: center;
  }
}
.left {
  label {
    align-self: flex-start;
  }
  input {
    text-align: left;
  }
}
.right {
  label {
    align-self: flex-end;
  }
  input {
    text-align: right;
  }
}
