@import "src/assets/styles/colors";
@import "src/assets/styles/form-general"; //remove dependency on this soon
@import "src/assets/styles/mixins/components";

@include popup();

 

  .select {
    //form__input--select is a checkbox used to toggle "select" element
    &__wrapper.active:before {
      background: url("/assets/iconfinder_chevron-up-blue.svg") no-repeat no-repeat  center center;
       
    }
    &__wrapper{
      &:before {
        width: 16px;
        height: 16px;
        right: 12.5px;
        content:"";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url("/assets/iconfinder_chevron-up.svg") no-repeat no-repeat  center center;
       
      }
      
    }
    &__checkbox {
      cursor: pointer;
      z-index: 2;
      width: 100%;
      position: absolute;
      height: 100%;
      opacity: 0;
    
    }
    //form__input--select-sizeguide is the empty input text element used to determine 
    //(1)size of element  (2) text displayed when selected by element
    &__input{
      background: unset;
      // padding-bottom: 5px;
      // padding-top: 0px;
      text-align: center;
      height: 100%;
      width: 100%;
      // font: 400 16px/24px Raleway;      
      border: none;
      // border-bottom: 1px solid $grey-blue;

      color: transparent;

      &::placeholder{
        color: transparent;
      }
    }


    &__dropdown{
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      overflow: hidden;
      // height: 0;
      // position: relative;
      // overflow: hidden;
      // border: none;

      .popup{
        &__content-wrapper{ // to prevent overflow of edges
          border-radius: 6px;
          overflow: hidden;
        }

       
      
      }
    }

    
  }



  //active state 
.dropdown--active{
  // width: 100%;
      height: auto;
  overflow: visible;
  // height: auto;
}


 
.input--active{
  color: $black;
  &::placeholder{
    color: $black;
  }
      // opacity: 1;
}

 



//disabled state 
.disabled{
  input, input::placeholder, label{
    color: $ash;
  }
  
}


//form wrapper overwrite
.form__label{
  top: 50%;
  transform: translateY(-50%);
}

.label--active{
  top: 0;
  transform: scale(0.8) ;
  text-align: center;
  .ashcolor {
    font-size: 0;
  }
}


.form__input-wrapper{
  min-height: 54px;
  border-bottom: 1px solid $grey-blue;

  &.active{
    border-color: $blue;
  }
}

input{
  border:  none;
  align-self: flex-end;
  margin-bottom: 10px;
  font: 400 20px/24px Raleway;
  padding: 0;
 
}


.left{
  label, input{
    text-align: left;
  }
  label{
    transform-origin: left top;
  }  

}
.right{
  label, input{
    text-align: right;
  }
  label{
    transform-origin: right top;
  }  

}