<div [ngClass]="{disabled: disabled}" class="form__input-wrapper  select__wrapper">
<!-- <input type="text" class = "temp123" (focus)="isFocus()" (blur) ="isBlur()"> -->
 
<input

[(ngModel)]="selectIsActive"  
  #check  
  (blur) = "cbBlur()"
  [id] = "elementId"
  name = "{{elementId}}-checkbox"
  type="checkbox"
  class="select__checkbox"
  [disabled] = "disabled"
  (blur) = "onTouched()"
/>



  <input
   class="form__input select__input"
    [(ngModel)]="value"
    name = "{{elementId}}-input"
    #input
    [ngClass] ="{'input--active' : isLabelActive() , 'input__border--active' : selectIsActive }"
    type="text" 
    placeholder="{{selectPlaceholder}}"
    [disabled] = "disabled"
  />
   
  <label  [ngClass]="{'label--active': isLabelActive() }" class="form__label " [for]="elementId">
    <ng-content select=".edu-label"></ng-content>
  </label>
   

  <div  [ngClass]="{'dropdown--active': selectIsActive }" class="select__dropdown ">
      <div class="popup">
           <ng-content select="edu-option"></ng-content>
      </div>
  </div>
 
</div>



