@import './mixins/alignment';
@import './mixins/components';
.flex-wrap {
  @include displayFlex();
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.draggable {
  cursor: pointer;
}

.orangecolor {
  color: $orange;
}

.ashcolor {
  color: $ash;
  font-weight: 500;
}

.bluecolor {
  color: #69a9f2;
}

.redcolor {
  color: #ef5350;
}

.label--active .optional {
  display: none;
}

.just-center {
  justify-content: center !important;
}
.just-space-between,
.just-between {
  justify-content: space-between !important;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-around {
  align-items: space-around;
}
.align-items-between {
  align-items: space-between;
}

.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}

.p-0 {
  padding: 0;
}
