//main file where all mixins/variables will be stored to facilitate reusability and ease of imports

//mixins
@mixin absoluteCenter() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin fixedCenter() {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin absoluteVertCenter() {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
}

@mixin displayFlex($justify: center, $align: center, $direction: row) {
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  display: flex;
}

//Variables
$red: #ef5350;
$black: #212121;
$ash: #a5aec7;
$blue: #69a9f2;
$pink: #fd7fc2;
$purple: #8787f6;
$grey: #e6e9f3;
$maxHeight: calc(100vh - 70px);

//Partials
.fit-to-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .content__body {
    flex-grow: 1;
  }
  .content__button {
    margin: 10px 0 50px 0;
  }
}

.content {
  min-height: $maxHeight;
  @include displayFlex(center, center, column);
  &__title {
    font: 600 26px/36px Quicksand;
    color: #212121;
    margin: 0;
    text-align: center;
  }

  &__desc {
    margin: 0;
    margin-top: 20px;
    font: 400 14px/19px Raleway;
    color: $ash;
  }
}

.badges {
  @include displayFlex(center, center);
  flex-wrap: wrap;
  max-width: 90%;
  margin-top: 25px;
  &--popover {
    align-content: flex-start;
    width: 160px;
    height: 200px;
    margin: 0;
    overflow: auto;
  }
  & > .badge {
    margin: 5px 10px;
  }
  & > .badge--small {
    margin: 5px;
  }
}
.badge {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: 2px solid $blue;
  color: $blue;
  box-shadow: 0px 2px 6px #3c4b9b14;
  background: white;
  border-radius: 50%;
  position: relative;
  font: 400 14px/16px Roboto;

  & > * {
    @include absoluteCenter();
  }
  &--active.badge {
    background: $blue;
    border-color: $blue;
    color: white !important;
  }
  &--disabled.badge {
    cursor: not-allowed;
    //not sure if this is what we want
    //   cursor: default;
    background: $grey;
    color: white !important;
    border-color: $grey;
  }

  &--small {
    width: 32px;
    height: 32px;
    margin: 5px;
    position: relative;
  }
  &--edit .signs {
    @include displayFlex(center, center, column);
    font: 600 16px/10px Quicksand;
    text-align: center;
  }
  &--edit {
    edu-popover {
      top: unset;
      bottom: -12px;
      padding: 6px 10px;
      padding-right: 0;
    }
  }
}

.dropzones {
  @include displayFlex(center, center);
  flex-wrap: wrap;
  max-width: 90%;
  margin-top: 25px;
  & > .badge {
    margin: 5px 10px;
  }
}

.dropzone {
  margin: 5px 8px;
  width: 232px;
  border: 2px dashed #c3c9da;
  padding: 5px 20px;
  border-radius: 12px;
  min-height: 201px;
  position: relative;
  &__title {
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    max-width: 90%;
    font: 600 14px/16px Raleway;
    // min-height: 44px;
  }
  &__title-wrapper {
    min-height: 44px;
    width: 100%;
    border-bottom: 1px solid $black;
    @include displayFlex(center, center);
  }
  &__delete-btn {
    position: absolute;
    right: 12px;

    user-select: none;
  }
  &--create.dropzone {
    width: 44px;
    color: $blue;
    font: 600 20px/10px Quicksand;
    position: relative;
    & > * {
      @include absoluteCenter();
    }
  }
}

.dropzone:hover {
  .dropzone {
    &__delete-btn {
      user-select: auto;
    }
  }
}

.search {
  border: 1px solid $grey;
  border-radius: 100px;
  padding-left: 32px;
  padding-right: 5px;
  height: 30px;
  overflow: hidden;
  position: relative;
  @include displayFlex(center, center);

  &::after {
    display: block;
    content: '';
    @include absoluteVertCenter();
    width: 10px;
    height: 10px;
    // background: red;
    background: url('/assets/search.svg') no-repeat no-repeat center center;
    background-size: cover;
    left: 8px;
  }
  &__input {
    border: 0px;
    height: 95%;
    outline: none;
    color: $black;
    font: 400 14px/32px Raleway;
    min-width: unset;
    width: auto;
    background: transparent;
  }
  &__input::placeholder {
    color: $grey;
  }
}
.placeholder-text {
  @include absoluteCenter();
  text-align: center;
  color: $ash;
  font: 400 16px/24px Raleway;
}
//student pills

.pills {
  overflow: auto;
  height: 290px;
  width: 260px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pill {
  cursor: pointer;
  height: 32px;
  font: 600 12px/32px Raleway;
  border: 1px solid;
  border-radius: 100px;
  padding: 0 12px;
  margin: 5px;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  &--male,
  &--subject {
    color: $blue;
    border-color: $blue;
  }

  &--female {
    color: $pink;
    border-color: $pink;
  }
}
