<ng-container [ngSwitch]="_activeSort">
  <div class="pills" *ngSwitchCase="''">
    <edu-user-pill *ngFor="let user of parsedUsers" [user]="user">
    </edu-user-pill>
  </div>

  <div class="pills" *ngSwitchCase="'alphabetical'">
    <edu-user-pill *ngFor="let user of parsedUsers" [user]="user">
    </edu-user-pill>
  </div>
  <div class="pills" *ngSwitchCase="'unknown'">
    <edu-user-pill *ngFor="let user of parsedUsers" [user]="user">
    </edu-user-pill>
  </div>
  <div class="pills" *ngSwitchCase="'id'">
    <edu-user-pill *ngFor="let user of parsedUsers" [user]="user">
    </edu-user-pill>
  </div>

  <ng-container *ngSwitchCase="'class'">
    <div *ngFor="let class of classes | keyvalue">
      <h5 class="pill__title">
        {{ class.key }} -
        <b class="ashcolor">{{ class.value.length }} Students</b>
      </h5>
      <div class="pills">
        <edu-user-pill *ngFor="let user of class.value" [user]="user">
        </edu-user-pill>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'gender'">
    <div class="gender">
      <div class="gender--male">
        <h5 class="pill__title">
          Male <b class="ashcolor">{{ gender.male.length }} Students</b>
        </h5>
        <div class="pills">
          <edu-user-pill *ngFor="let user of gender.male" [user]="user">
          </edu-user-pill>
        </div>
      </div>
      <div class="gender--female">
        <h5 class="pill__title">
          Female <b class="ashcolor">{{ gender.female.length }} Students</b>
        </h5>
        <div class="pills">
          <edu-user-pill *ngFor="let user of gender.female" [user]="user">
          </edu-user-pill>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
