<main>
    <section>
        <img class ="content__brand" src="/assets/registration/logo.svg" alt="">
        <div class="content message">

        <img class="content__img" src="/assets/registration/message-tick.svg" alt="" >
        <h1 class = "content__title">We sent you an Email</h1>
        <p class = "content__desc">An email has been sent to your registered email address, 
            <br>click on the link to reset your password.
        </p>
 
        

     </div>

    </section>
</main>