<div class="main">
  <div class="content">
    <h1 class="header">
      Do you observe the standard government<br />holidays for
      <span class="country">India</span>?
    </h1>
    <div class="btns-container">
      <button
        [ngClass]="{
          active: (calendarData | async).governmentHolidaysObserved === true
        }"
        ButtonType="round"
        (click)="goToPrepopulatedHolidayList()"
      >
        Yes</button
      ><button
        [ngClass]="{
          active: (calendarData | async).governmentHolidaysObserved === false
        }"
        ButtonType="round"
        (click)="goToHolidayList()"
      >
        No
      </button>
    </div>
  </div>
</div>
