@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/containers';
@import 'src/assets/styles/mixins/buttons';
@include group();

form {
}

.edu-img-upload__dropzone {
  border-radius: 50%;
  background: $blue;
  @include displayFlex();
}

.placeholderImg {
  border: 2px dashed #e6e9f3;
  width: 180px;
  height: 180px;
  @include displayFlex();
  position: relative;
  border-radius: 150%;
  cursor: pointer;

  img {
    @include absoluteCenter();
  }
  &:hover {
    background: red;
    border-color: $blue;
    img {
      content: url('/assets/32pxplusblue.svg');
    }
  }
}
