<main>
    <section>
        <img class ="content__brand" src="/assets/registration/logo.svg" alt="">

        <div class="content">

        <h1 class = "content__title">Set A New Password</h1>
  
           
        <form action=""  [formGroup]="registrationForm" (ngSubmit)="formSubmit()" >
                
                <edu-input    formControlName="pw" isPassword = "true"   alignment = "left"   > 
                    <span class = "edu-label">New Password</span>
                    <visibility-toggle  class="edu-input__suffix" InputAffix ></visibility-toggle>    
                </edu-input>

                <edu-input    formControlName="cfmPw" isPassword = "true"   alignment = "left"   > 
                    <span class = "edu-label">Confirm Password</span>
                    <visibility-toggle  class="edu-input__suffix" InputAffix ></visibility-toggle>    
                </edu-input>
      


                <button class = "form__btn"> Recover password </button>

        </form>
 

     </div>

    </section>
</main>