<main>
    <section>
        <img class ="content__brand" src="/assets/registration/logo.svg" alt="">
        
        
        <edu-confirmation-message >
            <div class = "title">Profile set up complete!</div>
            <div class = "desc">Now, you can either logout and take a break, or move on and <br>start setting up your school</div>
            <div class="btns profile-message">
                <button class="btn btn--white">log out </button>
                <button class="btn">Set up your school</button>
            </div>
        </edu-confirmation-message>

        
        <!-- <div class="content message">

        <img class="content__img" src="/assets/registration/message-tick.svg" alt="" >
        <h1 class = "content__title">Profile set up complete!</h1>
        <p class = "content__desc">Now, you can either logout and take a break, or move on and <br>start setting up your school
        </p>
        <div class="group--row-layout just-center btns profile-message">
            <button class="btn btn--white">log out </button>
            <button class="btn">Set up your school</button>
        </div>
    
        
        

     </div>
 -->
    </section>
</main>